@model SSY.Models.SignUpUser
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}
<script src="~/Scripts/my_scripts/PassWordStrength.js"></script>
<script>
    var Result = @Html.Raw(Json.Encode(ViewBag.SucessMes))
    var userType = "";
    var UserTypeid = @Html.Raw(Json.Encode(ViewBag.usertype));
</script>
<script src="~/Scripts/jquery.min.js"></script>
<style type="text/css">
    .input-label {
        text-align: left !important;
        min-width: 135px !important;
    }
    .logo {
        padding: 15px 0;
        font-size: 25px;
        color: #333;
        font-weight: bold;
    }
    .row > div {
        margin-bottom: 0px !important;
    }
    .dropdown-toggle, .dropdown-menu {
        width: 200px !important;
    }
    #result {
        margin-left: 5px;
        font-weight: bold;
    }
    #signup .short {
        color: #FF0000;
    }
    #signup .weak {
        color: #E66C2C;
    }
    #signup .good {
        color: #2D98F3;
    }
    #signup .strong {
        color: #006400;
    }
</style>
<br class="clearfix" />
<br class="clearfix" />
@Html.ValidationSummary()
<div class="container">
    <div class="logo" style="text-align: center;">Reset Password</div>
    @using (Html.BeginForm("DeptPassWordChange", "Login", FormMethod.Post, new { onsubmit = "return Validateall()", id = "signup", @class = "form-signin text-left" }))
    {
        @Html.AntiForgeryToken()
    <div class="container-fluid" id="sign">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">User Code<span style="color: red"> *</span></span>
                        @Html.TextBox("DeptUserid", "", new { @class = "form-control", placeholder = "User Code", req = "Req" })
                    </div>
                </div>
                <div class="form-group" style="display:none;" id="divMobile">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">Mobile Number<span style="color: red"> *</span></span>
                        @Html.TextBox("Mobilenumber", "", new { @class = "form-control", @maxlength = 12, placeholder = "Mobile Number", req = "Req", message = "Please Enter Mobile Number", @onchange = "validateMobilenum()", @onkeypress = "return IsNumeric(event);", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a id="GetUserDet" class="btn btn-primary getdet">Get Details</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label"> Name<span style="color: red"> *</span></span>
                        @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control  valid", minlength = "3", maxlength = "50", placeholder = "Name", req = "Req", onkeypress = " return IsCharsOnly(event); ", tabindex = "1", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row" style="display:none">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">Designation <span style="color: red">*</span></span>
                        @Html.TextBoxFor(m => m.Designation, null, new { @class = "form-control  valid", placeholder = "Designation", minlength = "3", maxlength = "50", req = "Req", onkeypress = " return IsCharsOnly(event); ", tabindex = "2", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">New Password <span style="color: red">*</span></span>
                        @Html.TextBoxFor(m => m.NewPassWord, null, new { @class = "form-control  valid chkstrength", placeholder = "New Password", maxlength = "8", req = "Req", tabindex = "3", type = "password" })
                    </div>
                </div>
            </div>
            <div class="col-md-4"><span id="result"></span></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <center>
                    <button type="submit" id="Save" class="btn btn-sm card-1 inline btn-primary  clearside">Submit</button>
                    <a id="signreset" onclick="ClearAll()" class="btn btn-sm card-1 inline btn-danger  clearside">Cancel</a>
                </center>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row" style="margin-top:10px;">
            <center>

                <p style="color:maroon;"><b>Note : Password Should Contain Atleast One Special Character , One Digit && One Capital Letter.</b></p>

            </center>
        </div>
        <div style="display:none;">
            @Html.TextBox("Userid", "", new { @class = "form-control", @maxlength = 10, placeholder = "Mobile Number", req = "Req", message = "Please Enter Mobile Number", @onkeypress = "return IsNumeric(event);" })

            @Html.TextBox("Email", "", new { @class = "form-control" })
            @Html.TextBox("UserTypeid", "", new { @class = "form-control" })
        </div>
    </div>
        <br />
        <br />
        <center>
        </center>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {

        if(UserTypeid == "6")
        {
            $("#divMobile").hide();
        }
        else
        {
            $("#divMobile").show();

        }
        var message = Result;
        if(message !="" )
        {
            alert(message);
            if(message ="Password Changed Successfully..")
            {
                window.location.href = "/Login/DeptPassWordChange";
            }
           
        }
    });
   
    function Validateall() {
        


        if(UserTypeid != "6")
        {
            if(userType == "10")
            {
                alert("Please contact your ALC.")
                return false;
            }  
        }

             
        if ($("#Name").val() == "" || $("#Name").val() == null && $("#Designation").val() == "" || $("#Designation").val() == null) {
            alert("Please Click on Get Details,to get Name and Designation Information");
            $(".getdet").focus();
            return false;
        }
        if ($("#NewPassWord").val() == "" || $("#NewPassWord").val() == null) {
            alert("Please Enter New Password");
            $("#NewPassWord").focus();
            return false;
        }
        
       
        if($("#result").text() !="Strong")
        {
            alert("Password Should Contain Atleast One Special Character , One Digit && One Capital Letter.");
            $("#NewPassWord").focus();
            return false;
        }
        return true;
    }
    $("#GetUserDet").click(function () {
         
        var DeptUserid = $("#DeptUserid").val();
        if (DeptUserid == null || DeptUserid == "") {
            alert("Please Enter User Code");
            $("#DeptUserid").focus();
            return false;
        }
        $.get('@Url.Action("GetDeptUserByUsercode", "Home")', { Userid: DeptUserid }, function (Res) {
             
           
            if (Res == "0") {
                alert("User Details Not Found..");
            }
            else {
                userType = Res.UserType;

                $("#UserTypeid").val(Res.UserType);
                
                $("#Name").val(Res.Firstname + " " + Res.Lastname);
                $("#Mobilenumber").val(Res.Mobileno);
                //Email
                $("#Email").val(Res.Email);
                $("#Userid").val(Res.Userid);
                $("#Designation").val(Res.Designation);
            }
        });
    });
    function validateMobilenum(){
         
        var txtlength = $("#DeptUserid").val();
        if(txtlength.length != 10)
        {
            alert("Invalid Mobile number");
            $("#DeptUserid").focus();
            return false;
        }
    }
    function validateEmail() {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test($("#Email").val())) {
            alert("Invalid email address.");
            $("#Email").focus();
            return false;
        }
    }
    function IsNumeric(e) {
        var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57));
        return ret;
    }
    function IsCharsOnly(e) {
         
        var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
        var ret = (((keyCode == 46) || (keyCode == 32) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122)))
        return ret;
    }
    function ClearAll() {
         
       
        window.location.href = "/Login/DeptPassWordChange";
    }
</script>