@model SSY.Models.BenifSchemesDet
@{
    ViewBag.Title = "AgentDashboard";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}
<link href="~/Content/my_css/payment.css" rel="stylesheet" />
<style>
    fieldset.custom-border {
        border: 1px groove blue !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        -webkit-box-shadow: 0px 0px 0px 0px #f00;
        box-shadow: 0px 0px 0px 0px #f00;
        border-radius: 6px;
    }

    #lblPf, #lblAmtCon {
        font-weight: bold !important;
    }


    legend.custom-border {
        font-size: 1.1em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
<script>
    var Createdby = @Html.Raw(Json.Encode(ViewBag.deptuserid));
	var UserType = @Html.Raw(Json.Encode(ViewBag.UserType));
    var BenSno = "";


</script>
<div class="totaldiv">
    <div class="container-fluid">
        <div class="row" style="margin-left:860px;">
            <div class="col-sm-3" style="width:100px;">
                <select class="form-control" id="GetDDValue" style="width:100px;">
                    <option value="SSIN">SSIN</option>
                    <option value="REGNo">REG.No</option>
                    @*<option value="Aadhaar">Aadhaar</option>*@

                </select>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="width:250px;">


                    <input type="text" class="form-control searchval" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="getInspDet()"><span class="glyphicon glyphicon-search" style="height: 19px;"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <!--------------------------------------------------------------->
        @*Application*@
        <div class="heightoverflow" id="Div1">
            <div>
                <div class="container-fliud">
                    <div class="row">
                        <div class="col-md-12">
                            <center><h3 class="product-description"> Workers Application Status </h3></center>
                            <table class="table table-striped table-bordered appstatus">
                                <thead style="background-color:#87CEEB">
                                    <tr>
                                        <th>Worker Type</th>

                                        <th>Pending</th>
                                        <th>Approved</th>
                                        <th>Rejected</th>
                                        <th>Sent Back</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-md-12" style="display:none;">
                            <center><h3 class="product-description">Scheme Application Status </h3></center>
                            <table class="table table-striped table-bordered schemestatus">
                                <thead style="background-color:#87CEEB">
                                    <tr>
                                        <th><font size="3">Scheme</font></th>

                                        <th><font size="3">Pending</font></th>
                                        <th><font size="3">Approved</font></th>
                                        <th><font size="3">Rejected</font></th>
                                        <th><font size="3">Total</font></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------------------->
        @*Claims*@
		<div class="heightoverflow claims" style="display:block" id="Div2">
			@*<img src="~/Content/images/Underconstruction.png" style="width:900px;" />*@
			<div class="row">
				<div class="col-md-12">
					<center><h3 class="product-description"> Claim Status </h3></center>
					<table class="table table-striped table-bordered superadminclaimstatus">
						<thead style="background-color:#87CEEB;">
							<tr>
								@*<th>Worker Type</th>
							<th>Pending at Inspector </th>
							<th>Sent Back from Inspector</th>
							<th>Forced Closed from Inspector</th>
							<th>Pending at ALC </th>
							<th>Sent Back From ALC</th>
							<th>Approved by ALC</th>
							<th>Rejected by ALC </th>
							<th>Pending at DLC </th>
							<th>Sent Back From DLC</th>
							<th>Approved by DLC</th>
							<th>Rejected by DLC </th>
							<th>Total</th>*@
								<th>Worker Type</th>
								<th>Submitted </th>
								<th>Send Back From ALC</th>
								<th>Reject From ALC</th>
								<th>Approved By ALC</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
        @*Card Issue Status*@
        <div class="heightoverflow cards" style="display:none" id="Div3">
            <div>
                <div class="container-fliud">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="product-description"></h3>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><b>SSY</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Total</th>
                                        <th>0</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="BenDashBoard" class="card" style="display:none">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="col-md-9">
                    <table class="table table-bordered" style="text-align:left;background-color:white;width:1000px;">
                        <tbody>
                            <tr>
                                <td style="text-align:left;width: 100px;"><b>NAME</b></td>
                                <td style="text-align:left"><a href="#" onclick="Benificiaryclick();"><label id="lblname"></label></a></td>
                                <td style="text-align:left;width: 100px;"><b>D.O.B</b></td>
                                <td style="text-align:left"><label id="lblUserdob"></label></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width: 100px;"><b>SSIN NO</b></td>
                                <td style="text-align:left"><label id="lblregno"></label></td>
                                <td style="text-align:left;width: 100px;"><b>AGE</b></td>
                                <td style="text-align:left"><label id="lblUserage"></label></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width: 100px;"><b>MOBILE</b></td>
                                <td style="text-align:left"><label id="lblmobile"></label></td>
                                <td style="text-align:left;width: 100px;"><b>OCCUPATION</b></td>
                                <td style="text-align:left"><label id="lbloccupation"></label></td>
                            </tr>
                            <tr>
                                <td style="text-align:left;width: 100px;"><b>SMC Card</b></td>
                                <td style="text-align:left"><a href="#" id="smccrd">Download</a></td>
                                <td style="text-align:left;width: 100px;"><b>Status</b></td>

                                <td style="text-align:left;width: 100px;"><label id="lblstatus"></label><a href="#" onclick="Gotosendbackapp()" class="SloBenReapply" id="SloBenReapply" style="display:none;"> Reapply </a></td>

                            </tr>
                            <tr>
                                <td style="text-align:left;width: 100px;"><b>Identity Card-Cum-Pass Book for Provident Fund</b></td>
                                <td style="text-align:left"><a href="#" id="schemecert">Download</a></td>

                                @*<td style="text-align:left;width: 100px;"><b>SCHEME PASSBOOK</b></td>
                        <td style="text-align:left"><a href="/Content/pdf/BenifSchemePassbook.pdf" id="schempass" style="color: #337ab7; text-decoration: none" download>Download</a></td>*@

                                <td style="text-align:left;width: 250px;"><b><label id="lbldate"></label></b></td>
                                <td style="text-align:left;"><label id="lblstaDate"></label></td>
                            </tr>
                            <tr id="RowPf">
                                <td><b><label id="lblPf"></label></b></td>
                                <td><b><label id="lblPfBal"></label></b></td>
                                <td><b><label id="lblAmtCon"></label></b></td>
                                <td><b><label id="lblSumAmt"></label></b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="preview col-md-3">
                    <div class="preview-pic tab-content">

                        <div class="tab-pane active" id="lblphoto" style=" margin-left: 63px; width: 120px;">
                            <img id="imgsrc" src="" style="height: 160px;" />
                        </div>
                    </div>
                </div>
                <center><label id="lblReason" style="display :none;"></label></center>



            </div>
            <div class="row">
                <div id="divshowpart2" style="display:none;">
                    <center>
                        <table class="table table-striped table-bordered" style="width: 497px;">

                            <tr>
                                <td>
                                    Do you want to fill up the remaining information
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" onclick="ConfirmDet()">Click</button>

                                </td>
                            </tr>
                        </table>

                    </center>
                </div>
            </div>
            <div class="row">
                <center>
                    <div class="col-md-12" id="divelgible" style="display:none;">
                        <h3 class="product-description">Eligible Schemes</h3>
                        <table class="table table-striped table-bordered" id="constructwork" style="display:none;width: 497px;">
                            <center>
                                <tbody>
                                    <tr id="trBOCW"><td>BOCW</td><td><input type="checkbox" name="chkbocw" id="chkbocw" class="bocwchk"> Select the Checkbox</td></tr>
                                    <tr id="trpf1"><td>PF</td><td><input type="checkbox"> Check Box to Register</td></tr>
                                </tbody>
                            </center>
                        </table>
                        <table class="table table-striped table-bordered" id="Transportwrk" style="display:none; width: 497px;">
                            <tbody>
                                <tr id="trWBTWSSS"><td>WBTWSSS</td><td><input type="checkbox" id="chkregwbtwss" name="chkregwbtwss">Select the checkbox</td></tr>
                                <tr id="trpf2"><td>PF</td><td><input type="checkbox"> Check Box to Register</td></tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-bordered" id="Others" style="display:none;width: 497px;">
                            <tbody>
                                <tr id="trpf3"><td>PF</td><td><input type="checkbox"> Check Box to Register</td></tr>
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
            <center>
                <div class="panel panel-info" style="width: 1000px;display:none;" id="divbocw">
                    <div class="panel-heading">BOCW</div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="col-sm-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="">Name and Address of the Authority</label>
                                        <textarea name="test_field" id="name" style="width: 410px;height: 67px;"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="">Detailed Description and Address of the Establishment </label>
                                        <textarea name="test_field" id="description" style="width: 435px;height: 67px;"></textarea>
                                        (where applicant is working & Worked)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">Registration No.of the Establishment</label>
                                            @Html.TextBoxFor(m => m.registration, new { @class = "form-control", @maxlength = 12, style = "text-transform:uppercase", @tabindex = "3" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">Post & Nature of Work of the Worker/applicant</label>
                                            @Html.TextBoxFor(m => m.post, new { @class = "form-control", @maxlength = 12, @tabindex = "4" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">Date of Joining Date</label>
                                            @Html.TextBoxFor(m => m.DoJ, new { @class = "form-control JoinDate", @tabindex = "5", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">Date of End Date</label>
                                            @Html.TextBoxFor(m => m.DOE, new { @class = "form-control EndDate", @maxlength = 12, @tabindex = "6", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">Remarks</label>
                                            <textarea name="test_field" id="remark" style="width: 441px;height: 67px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <a onclick="AddBocw()" class="btn btn-primary">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
            <div class="container-fluid " id="tblbocwdet" style="display:none; width: 900px;">
                <fieldset class="custom-border">
                    <legend class="custom-border ">BOCW Sheme Details</legend>
                    <table class="table table-bordered tblbocwdet">
                        <thead>
                            <tr style="background: #3498DB; color: white; font-size: 14px; font-weight: 700;">
                                <th class="">S.No</th>
                                <th class="">Name and address of the authority</th>
                                <th class="">Detailed description and address of the establishment where applicant is working & Worked. </th>
                                <th class="">Registration no.of the establishment</th>
                                <th class="">Post & Nature of Work of the Worker/applicant</th>
                                <th class="">Date of joining Start date</th>
                                <th class="">Date of End date</th>
                                <th class="">Remarks</th>
                                <th class=""></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="pull-right">
                        <a onclick="btnsub()" tabindex="77" class="btn btn-primary ">Submit</a>
                    </div>
                </fieldset>
            </div>
            <center>
                <div class="container-fluid" id="transwrk" style="display:none; width: 753px;">
                    <fieldset class="custom-border">
                        <legend class="custom-border">WBTWSSS Sheme Details</legend>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="">Transport Worker Status :</label>
                                    <br class="clearfix" />
                                    <input type="radio" class="TransWorkstatus" name="TransWorkstatus" value="1" tabindex="42">
                                    <label style="margin-left: 106px; margin-top: -15px;">Self Emp</label>
                                    <input type="radio" class="TransWorkstatus" name="TransWorkstatus" value="0" tabindex="43">
                                    <label style="margin-left: 119px; margin-top: -15px;">Wage Emp</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="" class="">Nature Of Vehicle :</label>
                                        <div class="row">
                                            <div class="col-md-4" style="padding-right: 0px !important;">
                                                @Html.DropDownList("ddlNtofvehi", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Bus", Value = "1" },
                                            new SelectListItem{ Text="Mini Bus", Value = "2" },
                                            new SelectListItem{ Text="Truck", Value = "3" },
                                            new SelectListItem{ Text="Auto Rickshaw", Value = "4" },
                                            new SelectListItem{ Text="Van Tempo", Value = "5" },
                                            new SelectListItem{ Text="Taxi", Value = "6" },
                                             new SelectListItem{ Text="Luxury Taxi", Value = "7" },
                                            new SelectListItem{ Text="Others", Value = "8" },
                                        }, new { @class = "col-md-2 pull-left form-control custtext ", @tabindex = "38", @style = "width: 192px;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="" class="">Nature Of Duties :</label>
                                        <div class="row">
                                            <div class="col-md-4" style="padding-right: 0px !important;">
                                                @Html.DropDownList("ddlNtofduty", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Driver", Value = "1" },
                                            new SelectListItem{ Text="Conductor", Value = "2" },
                                            new SelectListItem{ Text="Helper", Value = "3" },
                                            new SelectListItem{ Text="Cleaner", Value = "4" },
                                            new SelectListItem{ Text="Others", Value = "5" },
                                        }, new { @class = "col-md-2 pull-left form-control custtext ", @tabindex = "38", @style = "width: 192px;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <a onclick="btnsubWbt()" tabindex="77" class="btn btn-primary" style="margin-right: 285px; margin-top: 25px;">Submit</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </center>
        </div>
    </div>
    <div class="col-md-12" id="BenPayment" style="margin-left:20px;display:none">
        <h3 class="product-description">Availed Scheme Details</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Scheme</th>
                    <th>SSIN Number</th>
                    <th>Beneficiary Name</th>
                    @*   <th>Scheme Certificate</th>*@
                    <th>Tenure</th>
                    <th>Amount (<i class="fa fa-inr"></i>)</th>
                    <th>Status</th>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr id="trssyrow" style="display:none;">

                <tr>
                    <td class="ng-binding">1</td>
                    <td id="tdscheme"></td>
                    <td id="tdssinno" class="ng-binding"></td>
                    <td id="tdbenname" class="ng-binding"></td>

                    <td>
                        <select id="selectlist" name="name" class="form-control ddlvalue">
                            <option value="0">Please select Tenure</option>

                            <option value="12">Yearly</option>
                        </select>
                    </td>
                    <td id="tdamount">30</td>
                    <td id="benstatus">Pending</td>
                    <td><a href="#" class="btn btn-primary benficiarypayment">Pay</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row ng-scope" id="prntrecipt" style="display:none" ng-controller="sloCtrl">
        <div class="receipt-main col-xs-12 col-sm-12 col-md-12 ng-scope" ng-repeat="g in bene">
            <div class="row">
                <div class="receipt-header">

                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <div class="receipt-right">
                            <h5 class="ng-binding">bhaskar&nbsp;r</h5>
                            <p>SSIN Number : <b class="ng-binding">SSIN5609010</b></p>
                            <p>Mobile :<b class="ng-binding"> 88888 88888</b></p>
                            <p>Email :<b class="ng-binding"> bene@wb.com</b></p>
                            <p>Occupation: <b class="ng-binding">Transport Worker</b></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                        <div class="receipt-left">
                            <h1>Receipt</h1>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 text-right">
                        <div class="receipt-right">
                            <h5>Location Name.</h5>
                            <p>Location Number</p>
                            <p>+91 12345-6789 <i class="fa fa-phone"></i></p>
                            <p>info@wblabour.com <i class="fa fa-envelope-o"></i></p>
                            <p>West Bengal <i class="fa fa-location-arrow"></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><span class="pull-left ng-binding">WBTWSSS</span><span class="pull-right"> Payment for Jun 2017</span></td>
                            <td class="col-md-3"><i class="fa fa-inr"></i> 30/-</td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <p>
                                    <strong>Total Amount: </strong>
                                </p>
                                <p>
                                    <strong>Payable Amount: </strong>
                                </p>
                                <p>
                                    <strong>Balance Due: </strong>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <strong><i class="fa fa-inr"></i> 30/-</strong>
                                </p>
                                <p>
                                    <strong><i class="fa fa-inr"></i> 50/-</strong>
                                </p>
                                <p>
                                    <strong><i class="fa fa-inr"></i> 20/-</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"><h2><strong>Total: </strong></h2></td>
                            <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i> 35/- (Paid)</strong></h2></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="receipt-header receipt-header-mid receipt-footer">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <div class="receipt-right">
                            <p><b>Date :</b> 15 JUN 2017</p>
                            <h5 style="color: rgb(140, 140, 140);">Thank you for your Payment!</h5>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="receipt-left pull-right">
                            <h1>Signature</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="DivPart2" style="display:none;">
    <iframe src="" frameborder="0" class="col-md-12 iframeheight loadurl" id="RegFrmae" width="1200" height="600"></iframe>

</div>

<div id="loaderdiv" style="display:none;margin-top:80px;"> <center><img src="  /Content/images/ColorProcessing.gif" /> </center> </div>
<iframe src="" class="col-md-12 iframeheight loadurl" id="SenbackFrame" frameborder="0" width="1000" height="500" style="display:none;"></iframe>
<input type="hidden" id="ChkScheme" value="" name="ChkScheme" />
<input type="hidden" id="UserSno" value="" name="UserSno" />
<input type="hidden" id="CheckPaymentSta" value="" name="CheckPaymentSta" />
<input type="hidden" id="checkPfOpt" value="" name="checkPfOpt" />
<script>
    $(document).ready(function () {

        $("#divfooter").empty();
        var Benifid = "";
        var chkstatus = "";
        var chekcpaymentStatus = "";
        var chekSchemeStatus = "";
        $("#tblbocwdet").hide();
        $("#transwrk").hide();
        $("#divbocw").hide();
        datepicker()
        $(".totaldiv").hide();
        $("#loaderdiv").show();
        $.get('@Url.Action("GetStatusList", "Agent")', {}, function (result) {
             

            $.each(result, function (i, data) {
                var occupat = "Others";
                if (data.BenOccupation == "ConstructionWorker")
                    occupat = "Construction Worker"
                if (data.BenOccupation == "TransportWorker")
                    occupat = "Transport Worker"
                if (data.BenOccupation == "TOTAL")
                    occupat = "TOTAL"
                $('.appstatus').append('<tr><td>' + occupat + '</td><td>' + data.Pending + '</td><td>' + data.Approved + '</td><td>' + data.Rejected + '</td><td>' + data.Sentback + '</td><td>' + data.Total + '</td></tr>')
            });
            $("#loaderdiv").hide();
            $(".totaldiv").show();
        });
        $.get('@Url.Action("GetSchemeStatusList", "Agent")', {}, function (result) {
             
            $.each(result, function (i, data) {
                //   $('.schemestatus').append('<tr><td>' + data.SchemeName + '</td><td>' + data.Pending + '</td><td>' + data.Approved + '</td><td>' + data.Rejected + '</td><td>' + data.Total + '</td></tr>')
            });
		});

		  $.get('@Url.Action("GetSLOClaimStatusList", "Agent")', {}, function (result) {
            $.each(result, function (i, data) {
                var occupat = "Others";
				if (data.BenOccupation == "ConstructionWorker") {
                    occupat = "Construction";
					CPending = data.Submitted;
					CApproved = data.ApprovedByALC;
					CRejected = data.RejectedByALC;
					CSentback = data.SentBackFromALC;
                    CTotal = data.Total;
                }
                if (data.BenOccupation == "TransportWorker") {
                    occupat = "Transport";
					TPending = data.Submitted;
					TApproved = data.ApprovedByALC;
					TRejected = data.RejectedByALC;
					TSentback = data.SentBackFromALC;
                    TTotal = data.Total;
                }
                if (data.BenOccupation == "Others") {
                    occupat = "Others";
					OPending = data.Submitted;
					OApproved = data.ApprovedByALC;
					ORejected = data.RejectedByALC;
					OSentback = data.SentBackFromALC;
                     OTotal = data.Total;
                }
                if (data.BenOccupation == "TOTAL") {
                    occupat = "TOTAL";
                    //GetChart();
                }
                if (occupat != "TOTAL")
					$('.superadminclaimstatus').append('<tr ><td class="thtext">' + occupat + '</td><td class="thnum">' + data.Submitted + '</td><td class="thnum">' + data.SentBackFromALC + '</td><td class="thnum">' + data.RejectedByALC + '</td><td class="thnum">' + data.ApprovedByALC + '</td><td class="thnum">' + data.Total + '</td></tr>')
                else
					$('.superadminclaimstatus').append('<tr style="color:black;font-weight:bold"><td class="thtext">' + occupat + '</td><td class="thnum">' + data.Submitted + '</td><td class="thnum">' + data.SentBackFromALC + '</td><td class="thnum">' + data.RejectedByALC + '</td><td class="thnum">' + data.ApprovedByALC + '</td><td class="thnum">' + data.Total + '</td></tr>')

            });
            $("#loaderdiv").hide();
            $(".totaldiv").show();
		});

        //   var RecCount = parseInt(0);
        //For dashboard
    });
    function datepicker() {
        $(".JoinDate,.EndDate").datepicker({
            dateFormat: "dd-mm-yy",
            changeYear: true,
            yearRange: "1960:2017",
            autoclose: true
        })
        var dat = new Date();
        var month = (dat.getMonth() + 1) < 10 ? '0' + (dat.getMonth() + 1) : '' + (dat.getMonth() + 1);
        var day = (dat.getDate()) < 10 ? '0' + (dat.getDate()) : '' + (dat.getDate());
        var today = day + "-" + month + "-" + dat.getFullYear();
        $(".JoinDate,.EndDate").val(today);
    }
    $('#chkbocw').change(function () {
        var CheckReg = $(this).is(':checked');
        if (chkstatus != 'Approved') {
            alert("Your Application Is " + chkstatus)
            return false;
        }
        if (CheckReg == true) {
            $("#tblbocwdet").show();
            $("#divbocw").show();
            return false;
        }
        else
            $("#tblbocwdet").hide();
        $("#divbocw").hide();
        return false;
    });
    $('#chkregwbtwss').change(function () {
        var CheckReg = $(this).is(':checked');
        if (chkstatus != 'Approved') {
            alert("Your Application Is " + chkstatus)
            return false;
        }
        if (CheckReg == true) {
            $("#transwrk").show();
            return false;
        }
        else
            $("#transwrk").hide();
        return false;
    });
    //For Bocw Submit
    function btnsub() {
         
        var SchemerowCount = $('.tblbocwdet tr').length;
        var adddoc = "";
        for (i = 1; i < SchemerowCount; i++) {
            adddoc += $("#Nameid" + i).text() + "$";
            adddoc += $("#Descrid" + i).text() + "$";
            adddoc += $("#regisid" + i).text() + "$";
            adddoc += $("#postid" + i).text() + "$";
            adddoc += $("#Dojid" + i).text() + "$";
            adddoc += $("#Doeid" + i).text() + "$";
            adddoc += $("#remrkid" + i).text() + "~ ";
        }
        adddoc += "";
        //alert(adddoc);
        $.get('@Url.Action("SaveBocwScheme", "Home")', { ID: adddoc, SchemerowCount: SchemerowCount, Benifid: Benifid ,Createdby :Createdby}, function (dat) {
            alert(dat);
        });
    }
    //For WBTWSS Submit
    function btnsubWbt() {
        var TransWorker = $("input[name='TransWorkstatus']:checked").val();
        var NatuVehic = $("#ddlNtofvehi").val();
        var NatuDuty = $("#ddlNtofduty").val();
        $.get('@Url.Action("SaveWBTScheme", "Home")', { Type: TransWorker, Vehicle: NatuVehic, Duty: NatuDuty, Benifid: Benifid,Createdby :Createdby }, function (dat) {
            alert(dat);
        });
    }
    //Add data to table
    function AddBocw() {
        if (($("#name").val()) == "" || ($("#name").val()) == null) {
            alert("Please Enter Name");
            $("#name").focus();
            return false;
        }
        if (($("#description").val()) == null || ($("#description").val()) == "") {
            alert("Please Enter Description");
            $("#description").focus();
            return false;
        }
        if (($("#registration").val()) == null || ($("#registration").val()) == "") {
            alert("Please Enter Registration No");
            $("#registration").focus();
            return false;
        }
        if (($("#post").val()) == null || ($("#post").val()) == "") {
            alert("Please Enter Post & Nature of Work");
            $("#post").focus();
            return false;
        }
        if (($("#DoJ").val()) == null || ($("#DoJ").val()) == "") {
            alert("Please Select Date of Joining");
            $("#DoJ").focus();
            return false;
        }
        if (($("#DOE").val()) == null || ($("#DOE").val()) == "") {
            alert("Please Select Date of Relieving Date");
            $("#DOE").focus();
            return false;
        }
        if (($("#remark").val()) == null || ($("#remark").val()) == "") {
            alert("Please Enter Remark");
            $("#remark").focus();
            return false;
        }
        var rowCount = $('.tblbocwdet tr').length;
        $('.tblbocwdet').append('<tr><td><label class="label-data" id="snoid' + rowCount + '">' + rowCount + ' </label></td><td><label class="label-data" id="Nameid' + rowCount + '">' + ($("#name").val()) + ' </label></td><td><label class="label-data" id="Descrid' + rowCount + '">' + ($("#description").val()) + ' </label></td><td><label class="label-data" id="regisid' + rowCount + '">' + ($("#registration").val()) + ' </label></td><td><label class="label-data" id="postid' + rowCount + '">' + ($("#post").val()) + ' </label></td><td><label class="label-data" id="Dojid' + rowCount + '">' + ($("#DoJ").val()) + ' </label></td><td><label class="label-data" id="Doeid' + rowCount + '">' + ($("#DOE").val()) + ' </label></td><td><label class="label-data" id="remrkid' + rowCount + '">' + ($("#remark").val()) + ' </label></td><td><button type="button" class="removedelbutton" title="Remove this row">X</button></td></tr>')
        $("#name").val('');
        $("#description").val('');
        $("#registration").val('');
        $("#post").val('');
        $("#DoJ").val('');
        $("#DOE").val('');
        $("#remark").val('');
    }
    //For deleting
    $(document).on('click', 'button.removedelbutton', function () { // <-- changes
        var SchemerowCount = $('.tblbocwdet tr').length;
        var $tr = $(this).closest('tr');
        var myRow = $tr.index();
        if (myRow == SchemerowCount - 2) {
            $(this).closest('tr').remove();
            return false;
        }
        else {
            alert("Only last row will be deleted");
            return false;
        }
    });
    $("#App").click(function () {
        $("#Div1").show();
        $("#Div2").hide();
        $("#Div3").hide();
    });
    $("#Claims").click(function () {
        $("#Div1").hide();
        $("#Div2").show();
        $("#Div3").hide();
    });
    $("#card").click(function () {
        $("#Div1").hide();
        $("#Div2").hide();
        $("#Div3").show();
    });
    function getInspDet()
    {


        var SearchType = $("#GetDDValue  :selected").val();


        var value = $(".searchval").val();
        $("#BenPayment").hide();
        $("#trssyrow").hide();
        if(value =="" || value == null)
        {
            alert("Please Enter SSIN Number.");
            return false;
        }

        $.get('@Url.Action("GetBenDetails", "Agent")', { id: value,Type: SearchType}, function (res) {
             
            $("#SloBenReapply").hide();
            if (res == "" || res == null)
            {
                alert("Their is no data regarding this number");
                return false;
            }

            if(res.BenFirstName == undefined)
            {
                alert("There is an issue with connectivity please try again");
                return false;
            }
            if(res.Part2 =="N")
            {
                $("#divshowpart2").show(1000);
            }
            else
            {
                $("#divshowpart2").hide();

            }

            BenSno = res.BenSno;

            if(res.Status == 2 || res.Status == 3){

                $("#lblReason").show();

                $("#lblReason").text("Reason : "+res.Remarks);

            }
            else

            {
                $("#lblReason").hide();

                $("#lblReason").text("");
            }
            
            //Get Pf Balance

            if(res.RegType== "L")
             {
            if(res.BenOccupation == "Others")
            {
                $.get('@Url.Action("GetPfBalance", "GetPfBal")', {PfNumber :res.SchemeNumber}, function (response) {
                    if(response.Code !="999")
                    {
                        //  alert(response);
                        $("#RowPf").show();
                        $("#lblPfBal").text("Rs. "+response.Balance);
                        $("#lblPf").text("PF Balance as on "+response.Date);
                        $("#lblAmtCon").text("Amount Contributed thereafter");

                        $("#lblSumAmt").text("Rs. "+response.Contribution);
                    }
                    else
                    {
                        $("#RowPf").hide();
                    }

                });
            }
            else{


                $("#RowPf").hide();
            }
             }

            $.get('@Url.Action("GetSchemAndPaySt", "Agent")', { BenSno: res.BenSno }, function (res) {

                var arr = res.split(',');
                var CheckPaymentSta = arr[0];
                var ChkScheme = arr[1];
                $("#CheckPaymentSta").val(arr[0]);
                $("#ChkScheme").val(arr[1]);
            });


            var status = "";
            $("#UserSno").val(res.BenSno);
            $("#lblname").text(res.BenFirstName + ' ' + res.BenMiddleName + ' ' + res.BenLastName).addClass('label-data');
            $("#tdbenname").text(res.BenFirstName + ' ' + res.BenMiddleName + ' ' + res.BenLastName);
            $("#tdssybenname").text(res.BenFirstName + ' ' + res.BenMiddleName + ' ' + res.BenLastName);
            $("#lblUserdob").text(res.BenDob).addClass('label-data');
            $("#lblregno").text(res.SSIN).addClass('label-data');
            $("#checkPfOpt").val(res.BenPFStatus);
            $("#tdssinno").text(res.SSIN);
            $("#tdssyno").text(res.SSIN);
            $("#lblUserage").text(res.BenAge).addClass('label-data');
            $("#lblmobile").text(res.BenMobileNo).addClass('label-data');
            $("#lbloccupation").text(res.BenOccupation).addClass('label-data');
            //
            if (res.Status == 0)
            {
                status = "Pending"
                $("#SloBenReapply").hide();
                if(res.RegType == 'N' ){



                    $("#lbldate").text("Date Of Application").addClass('label-data');

                    $("#lblstaDate").text(res.CreatedDate).addClass('label-data');
                }

                else if(res.RegType == 'L' && res.IsActive == true)
                {
                    $("#lbldate").text("Date Of Updation").addClass('label-data');
                    $("#lblstaDate").text(res.ModifiedDate).addClass('label-data');
                }
                else
                {
                    $("#lbldate").text("Date of Updation").addClass('label-data');
                    $("#lblstaDate").text("ÇAF not filled up").addClass('label-data');

                }
            }
            if (res.Status == 1) {
                status = "Approved"
                $("#SloBenReapply").hide();
                $("#lbldate").text("Date Of Approval").addClass('label-data');
                $("#lblstaDate").text(res.VerifyDate).addClass('label-data');
            }
            if (res.Status == 2) {
                status = "Rejected"
                $("#SloBenReapply").hide();
                $("#lbldate").text("Date Of Rejection").addClass('label-data');
                $("#lblstaDate").text(res.VerifyDate).addClass('label-data');
            }
            if (res.Status == 3) {
                status = "Send Back"
                if(Createdby == res.CreatedBy)
                    $("#SloBenReapply").show();
                $("#lbldate").text("Date Of Send Back").addClass('label-data');
                $("#lblstaDate").text(res.VerifyDate).addClass('label-data');
            }
            chkstatus = status;
            if(status =="Pending")
            {
                $("#BenPayment").show();
            }
            $("#lblstatus").text(status).addClass('label-data');
            $('#lblphoto').empty();
            //$('#lblphoto').prepend('<img  src="' + res.BenPhoto + '" />')
            $('#imgsrc').attr('src',res.BenPhoto);
            if(res.BenPhoto =="" || res.BenPhoto == null)
            {
                $("#lblphoto").hide();
            }
            else
            {
                $("#lblphoto").show();
            }
            Benifid = res.BenSno;
            if(res.BenOccupation == "Construction Worker")
            {
                $("#constructwork").show();
                $("#Transportwrk").hide();
                $("#Others").hide();
                $("#tdscheme").text("BOCW");
            }
            if(res.BenOccupation == "Transport Worker")
            {
                $("#Transportwrk").show();
                $("#constructwork").hide();
                $("#Others").hide();
                $("#tdscheme").text("WTBS");
            }
            if(res.BenOccupation == "Others")
            {
                $("#Others").show();
                $("#constructwork").hide();
                $("#Transportwrk").hide();
            }
            $.get('@Url.Action("getpaymentScheme", "Agent")', { id: Benifid }, function (res) {
                // alert(res);
                 
                var res = res.split("-");
                //0 payment
                chekcpaymentStatus = res[0];
                //1 Scheme
                chekSchemeStatus = res[1];
                if(res[1] == "0")
                {
                    $("#divelgible").show();
                }
                if(res[1] == "1")
                {
                    $("#divelgible").hide();
                    $("#trssyrow").show();
                    $("#BenPayment").show();
                    if(res[2] =="0")
                        $("#benstatus").text("Pending");
                    else
                        $("#benstatus").text("Approved");
                    // if(res[2] =="0")
                    //("#trssyrow").show();
                }

            });
            $("#Div1").hide();
            $("#BenDashBoard").show();
        });
        //   benpayment
        $(".benficiarypayment").click(function() {
            // alert();
            //if (chkstatus != 'Approved') {
            //    alert("Your Application Is " + chkstatus)
            //    return false;
            //}
            alert("PayClick");
            var ddlvalue = $(".ddlvalue").val();
            var Amount = $("#tdamount").text();
            var Scheme = $("#tdscheme").text();
            if(ddlvalue =="0")
            {
                alert("Please select Tenure");
                $(".ddlvalue").focus();
                return false;
            }
            $.get('@Url.Action("Payment", "Agent")', { PaidBy: Createdby,PaidTo : Benifid,Tenure :ddlvalue,Amount : Amount,Scheme : Scheme }, function (res) {
                alert(res);
                var req =   res.split('-');
                //alert(res);
                 
                $.get('@Url.Action("Paymentreciept", "Agent")', { result: req[1]}, function (data) {
                    // $("#lblreciptname").text(data.BenFirstName + ' ' + data.BenMiddleName + ' ' + data.BenLastName).addClass('label-data');
                    $("#lblreciptname").text(data.Name).addClass('label-data');
                    $("#lblssin").text(data.SSInNum).addClass('label-data');
                    $("#lblmob").text(data.mobileno).addClass('label-data');
                    $("#lblpayemail").text(data.email).addClass('label-data');
                    $("#lblocc").text(data.occupation).addClass('label-data');
                    $("#lblsignature").text(data.bensignature).addClass('label-data');
                    $("#lbldate").text(data.CreatedDate).addClass('label-data');
                    $("#lbltotamnt").text(data.Amount).addClass('label-data');
                    $("#lblscheme").text(data.Scheme).addClass('label-data');
                });
                $("#divreciept").modal('show');
            });
        })
        $("#smccrd").click(function(){
            if (chkstatus != 'Approved') {
                alert("Your Application Is " + chkstatus)
                return false;
            }
            window.location.href = "/SSYIDCard/SSYIDCardPDF.aspx/?Benifid="+Benifid;

        })
        $("#schemecert").click(function(){
             
            if (chkstatus != 'Approved') {
                alert("Your Application Is " + chkstatus)
                return false;
            }

            var checkpfstatus =  $("#checkPfOpt").val();
            //var CheckPaymentStatus = $("#CheckPaymentSta").val();
            //var CheckScheme = $("#ChkScheme").val();

            //if(CheckScheme == "0")
            //{
            //    alert("Scheme certificate will be downloaded when Scheme Applied");
            //    return false;
            //}
            //if(CheckPaymentStatus =="0")
            //{
            //    alert("Scheme certificate will be downloaded after successful payment");
            //    return false;
            //}
            if(checkpfstatus =="0")
            {
                alert("PF opt is not selected");
                return false;
            }
            window.location.href = "/Home/SchemeCertificate/?Benifid="+Benifid;

        })
    }
    function IsAlphaNumaric(e) {
        if ((e.keyCode >= 186 && e.keyCode <= 188) || (e.keyCode == 190) || e.keyCode == 191 ||
    e.keyCode == 192 || e.keyCode == 109 || (e.keyCode >= 219 && e.keyCode <= 222) || (e.keyCode >= 110 && e.keyCode <= 111) ||
    (e.keyCode >= 106 && e.keyCode <= 107) || e.keyCode == 59 || e.keyCode == 189 || e.keyCode == 61 || e.keyCode == 173 ||
    ((e.keyCode >= 48 && e.keyCode <= 57) && e.shiftKey == true)) {
            return false;
        }
    }
    //Go to SendBack
    function Gotosendbackapp()
    {
        $('#loaderdiv').show();
        $(".totaldiv").hide();
        var bensno =   $("#UserSno").val();

        $("#SenbackFrame").attr("src", "/Registration/UserReapply?Bensno="+bensno);
        $("#SenbackFrame").delay(10000).fadeIn(3000);
        $('#loaderdiv').delay(10000).fadeOut(400);

        //Abhishek told to diable this part

        // alert("Only benificiary can reapply");

        //  return false;
    }

    function ConfirmDet()
    {

        $('.totaldiv').hide();
        $('#DivPart2').show(1000);

        $("#RegFrmae").attr("src", "/Registration/BeniPart2?BeniSno="+BenSno+"&CreatedBy="+Createdby+"&Type="+"Agent");




        return false;

    }


    function Benificiaryclick() {

		//alert("UserType "+UserType);

        Bentrnasclick($("#UserSno").val())


    }
   
</script>
