@model SSY.Models.RegistartionForUser
@{
    ViewBag.Title = "NewExistngUserEdit";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Common.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
    var Messeage = @Html.Raw(Json.Encode(ViewBag.Message))
    var Userid = @Html.Raw(Json.Encode(ViewBag.Userid))
    var RegistrationType = @Html.Raw(Json.Encode(ViewBag.RegistrationType))
</script>
<style>
    #exisdob {
        z-index: 1000;
    }

    body {
        color: black !important;
        font-weight: 100 !important;
    }

    .content-back {
        margin: auto;
        padding-top: 5px;
        background: #ffffff;
        height: 630px;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .content-back::-webkit-scrollbar-track {
            background: #ffffff;
        }

        .content-back::-webkit-scrollbar {
            width: 8px;
        }

        .content-back::-webkit-scrollbar-thumb {
            background-color: #ffffff;
        }

    .overlay-black {
        background: rgba(0,0,0,0.6);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .leg-sty {
        color: black;
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
    }

        .footer p {
            line-height: 0px;
            color: #fff !important;
        }

    b {
        font-weight: 100 !important;
    }

    .block-left {
        height: 100%;
        position: fixed;
        text-align: center;
    }

    legend {
        border-bottom: none !important;
        padding-left: 20px;
        font-weight: 100 !important;
    }

    .custom-border {
    }

    input, select {
    }

    header {
        z-index: 99;
    }

    footer p {
        margin-bottom: 5px !important;
    }

    label {
        color: #000000 !important;
        font-weight: 100 !important;
    }

    .label-data {
        font-weight: bold !important;
        margin-left: 15px;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .input-label {
        min-width: 128px;
    }

    .input-select {
        width: 250px;
    }

    fieldset.custom-border {
        border: 1px groove blue !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        -webkit-box-shadow: 0px 0px 0px 0px #f00;
        box-shadow: 0px 0px 0px 0px #f00;
        border-radius: 6px;
    }

    legend.custom-border {
        font-size: 1.1em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

    .selectboxit-container .selectboxit, .selectboxit-container .selectboxit-options {
        width: 600px;
        border-radius: 0;
        max-height: 240px;
    }

    .selectboxit-options .selectboxit-option .selectboxit-option-anchor {
        white-space: normal;
        min-height: 30px;
        height: auto;
    }

    table.table-bordered.tblNaminee tbody tr td {
        vertical-align: middle !important;
    }

    .modal-backdrop {
        display: none !important;
    }
</style>
<script>
    var validation = @Html.Raw(Json.Encode(ViewBag.validachck))
    var valMes = @Html.Raw(Json.Encode(ViewBag.valMes))
</script>

@using (Html.BeginForm("NewExistngUserEdit", "Registration", FormMethod.Post, new { id = "signupform", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <br />
    <div class="container-fluid" id="divexist">
        @* <a href="/Registration/Registration" id="FrstBackbtn" class="btn btn-primary pull-right btnback" style="margin-right:10px;display:none;"> <span class="glyphicon glyphicon-backward" style="font-size:15px !important"></span> Back</a>*@
        <div class="row" style="display:none;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">First Name<span style="color: red"> *</span></span>
                        @Html.TextBoxFor(m => m.existfirstname, null, new { @class = "form-control  valid checkstring", maxlength = "50", placeholder = "First Name", onkeypress = "return onlyAlphabets(event,this)", req = "Req", message = "Please Enter First Name" })
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row" style="display:none;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">Last Name <span style="color: red">*</span></span>
                        @Html.TextBoxFor(m => m.existlstname, null, new { @class = "form-control  valid", placeholder = "Last Name", maxlength = "50", req = "Req", onkeypress = "return onlyAlphabets(event,this)", message = "Please Enter Last Name" })
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">Registration No<span style="color: red">*</span></span>
                        @Html.TextBoxFor(m => m.existregno, null, new { @class = "form-control  valid", placeholder = "SSIN No", maxlength = "16", req = "Req", message = "Please Enter Last Name" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">Father Name </span>
                        @Html.TextBoxFor(m => m.existfathername, null, new { @class = "form-control  valid checkstring", placeholder = "Father Name", maxlength = "50", onkeypress = "return onlyAlphabets(event,this)", req = "Req", message = "Please Enter Last Name" })
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            @*     <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label">Date of Birth </span>
                            @Html.TextBoxFor(m => m.exisdob, null, new { @class = "form-control exDob", placeholder = "Date Of Birth", tabindex = "2" })
                        </div>
                    </div>
                </div>*@

            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">Date of Birth <span style="color: red">*</span></span>
                        @Html.TextBoxFor(m => m.exisdob, new { @class = "form-control exDob", placeholder = "DD-MM-YYYY" })
                    </div>
                </div>
            </div>

            <a class="btn btn-primary" onclick="GetDetail()">Submit</a>

        </div>
        @*     <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn btn-primary" onclick="GetDetail()" tabindex="68" style="margin-top: 40px;margin-left: 165px;">Submit</a>
                </div>
                <div class="col-md-4"></div>
            </div>*@
    </div>
    <form role="form">
        <div class="container-fluid" id="divexistdata" style="display:none">
            <center><h3><b>Samajik Suraksha Yojana</b></h3></center>
            <div class="container-fluid" id="benefiary">
                <fieldset class="custom-border">
                    <legend class="custom-border">Beneficiary Details</legend>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Worker Type<span style="color: red">*</span></label>

                                @Html.DropDownList("schemeid", new List<SelectListItem>
                                        {
                                             new SelectListItem{ Text="-- Select Worker Type --", Value = "0" },

                                            new SelectListItem{ Text="Construction Worker", Value = "ConstructionWorker" },
                                             new SelectListItem{ Text="Transport Worker", Value = "TransportWorker" },
                                              new SelectListItem{ Text="Other Worker", Value = "Others" }
                                        }, new { @class = "form-control" , @disabled = "true", @readonly = "readonly"})

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="">First Name <span style="color: red">*</span></label>
                                <div class="row">
                                    <div class="col-md-3" style="padding-right: 0px !important;">
                                        @Html.DropDownList("ddlfrstname", new List<SelectListItem>
                                        {
                                             new SelectListItem{ Text="--Select Salutation--", Value = "0" },
                                            new SelectListItem{ Text="Mr.", Value = "Mr." },
                                            new SelectListItem{ Text="Ms.", Value = "Ms." },
                                              new SelectListItem{ Text="Mrs.", Value = "Mrs." }
                                        }, new { @class = "col-md-2 pull-left form-control custtext Salutation" })
                                    </div>
                                    <div class="col-md-9" style="padding-left: 0px !important;">
                                        @Html.TextBoxFor(m => m.FirstName, new { style = "width:79%;", @class = "col-md-10 form-control", @maxlength = 25, onkeypress = "return onlyAlphabets(event,this)", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Middle Name </label>
                                @Html.TextBoxFor(m => m.Middlename, new { @class = "form-control", @maxlength = 25, onkeypress = "return onlyAlphabets(event,this)" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last Name <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.lstname, new { @class = "form-control", onkeypress = "return onlyAlphabets(event,this)", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="">Father Name <span style="color: red">*</span></label>
                                <div class="row">
                                    <div class="col-md-3" style="padding-right: 0px !important;">
                                        @Html.DropDownList("ddlfathrsname", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Mr.", Value = "Mr." },
                                            new SelectListItem{ Text="Late.", Value = "Late." }
                                        }, new { @class = "col-md-2 pull-left form-control custtext Salutation" })
                                    </div>
                                    <div class="col-md-9" style="padding-left: 0px !important;">
                                        @Html.TextBoxFor(m => m.FatherName, new { style = "width:79%;", @class = "col-md-10 form-control", @maxlength = 50, onkeypress = "return onlyAlphabets(event,this)", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Mother Name </label>
                                @Html.TextBoxFor(m => m.MotherName, new { @class = "form-control", @maxlength = 50, onkeypress = "return onlyAlphabets(event,this)" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date of Birth <span style="color: red">*</span></label>
                                <div class="row">
                                    <div class="col-md-4" style="padding-right: 0px !important;">
                                        @Html.DropDownList("ddlyr", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Year", Value = "0" }
                                        }, new { @class = "col-md-4 pull-left form-control custtext Salutation", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4" style="padding-left: 0px !important; padding-right: 0px !important;">
                                        @Html.DropDownList("ddlmnth", new List<SelectListItem>
                                        {
                                           new SelectListItem{ Text="Month", Value = "0" }
                                        }, new { @class = "col-md-4 pull-left form-control custtext Salutation", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4" style="padding-left: 0px !important;">
                                        @Html.DropDownList("ddlday", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Day", Value = "0" }
                                        }, new { @class = "col-md-4 pull-left form-control custtext Salutation", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Age <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.age, new { @class = "form-control", @maxlength = 3, @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gender <span style="color: red">*</span></label>
                                <br class="clearfix" />
                                <input type="radio" id="gndrmale" name="bengender" class="bengender" value="Male"><label id="lblmale"> Male</label>
                                <input type="radio" id="gndrfemale" name="bengender" class="bengender" value="Female"><label id="lblfemale"> Female</label>
                                <input type="radio" id="gndrother" name="bengender" class="bengender" value="Others"><label> Others</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Marital Status <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.maritalid, new SelectList(Model.maritalstatus, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Husband Name <span style="color: red">*</span></label>
                                <div class="row">
                                    <div class="col-md-3" style="padding-right: 0px !important;">
                                        @Html.DropDownList("ddlhusname", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Mr.", Value = "Mr." }
                                        }, new { @class = "col-md-2 pull-left form-control custtext Salutation" })
                                    </div>
                                    <div class="col-md-9" style="padding-left: 0px !important;">
                                        @Html.TextBoxFor(m => m.HusbandName, new { @class = "form-control", @maxlength = 50, onkeypress = "return onlyAlphabets(event,this)", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Religion <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.relgid, new SelectList(Model.religion, "Value", "Text"), new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Social Category <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.socatid, new SelectList(Model.socategry, "Value", "Text"), new { @class = "form-control " })
                            </div>
                        </div>
                    </div>
                    <b style="color:maroon"> *Note : </b><b style="color:green">You should provide any one of these following Mobile No/Aadhar Card No/Epic Card</b>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Mobile no <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.mobno, new { @class = "form-control", @maxlength = 10, onkeypress = "return onlynumber(event,this)", @onchange = "validateMobilenum()" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Aadhar Card No</label>
                                @Html.TextBoxFor(m => m.Aadharcard, new { @class = "form-control", @maxlength = 12, @onchange = "validateAadhaar()", onkeypress = "return onlynumber(event,this)" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">Epic Card </label>
                                @Html.TextBoxFor(m => m.epiccard, new { @class = "form-control", @maxlength = 16, @onchange = "validateEpic()", onkeydown = "return IsAlphaNumaricWithSpecialCharecter(event)" })
                            </div>
                        </div>


                    </div>


                </fieldset>
                <br class="clearfix" />

                <fieldset class="custom-border">
                    <legend class="custom-border">Permanent Address</legend>
                    <div class="row">
                        <div class="col-md-4" style="display:none;">
                            <div class="form-group">
                                <label>PermanetId</label>
                                @Html.TextBox("permid", "", new { })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>State <span style="color: red">*</span></label>
                                @Html.TextBox("state", "West Bengal", new { text = "", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>District <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.disid, new SelectList(Model.district, "Value", "Text"), new { @class = "form-control paddistid", id = "perdistid" })


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sub Division <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.subdivid, new SelectList(Model.subdivision, "Value", "Text"), new { @class = "form-control persubdivid", id = "persubdivid" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="" class="">Block/Municipality/Corporation <span style="color: red">*</span></label>
                                @Html.DropDownList("ddlBMC", new List<SelectListItem>
                                        {
                                             new SelectListItem{ Text="-- Select Type --", Value = "0" },
                                            new SelectListItem{ Text="Block", Value = "1" },
                                            new SelectListItem{ Text="Muncipality", Value = "2" },
                                            new SelectListItem{ Text="Corporation", Value = "3" },
                                        }, new { @class = "col-md-2 pull-left form-control", id = "peraddBMC" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name of Block/Municiplaity/Corporation <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.muncorp, new SelectList(Model.muncorpname, "Value", "Text"), new { @class = "form-control peraddblock", id = "peraddblock" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>P.S <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.ps, new SelectList(Model.psname, "Value", "Text"), new { @class = "form-control perpsid", id = "perpsid" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>P.O <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.po, new SelectList(Model.poname, "Value", "Text"), new { @class = "form-control perPOid", id = "perPOid" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>PIN code <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.pincode, null, new { @class = "form-control", @maxlength = 6, onkeypress = "return onlynumber(event,this)" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">GP/Ward <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.ward, new SelectList(Model.wardname, "Value", "Text"), new { @class = "form-control ward", id = "ward" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Village/Street/Road <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.vlge1, null, new { @class = "form-control", @maxlength = 50 })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br class="clearfix" />
                <div class="row bene">
                    <input type="checkbox" id="presauto" name="peraddr" value="permntaddr"> Same as Permanent Address
                    <br class="clearfix" />
                    <fieldset class="custom-border">
                        <legend class="custom-border color-white"><span class="leg-sty">Present Address</span></legend>
                        <div class="col-md-4" style="display:none;">
                            <div class="form-group">
                                <label>PresentId</label>
                                @Html.TextBox("presid", "", new { })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>State <span style="color: red">*</span></label>
                                @Html.TextBox("state2", "West Bengal", new { text = "", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>District <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.disid, new SelectList(Model.district, "Value", "Text"), new { @class = "form-control PreAddrdistid", id = "PreAddrdistid" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sub Division <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.subdivid, new SelectList(Model.subdivision, "Value", "Text"), new { @class = "form-control preAddrsubdiv", id = "preAddrsubdiv" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="" class="">Block/Municipality/Corporation <span style="color: red">*</span></label>
                                @Html.DropDownList("ddlBMC", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="-- Select Type --", Value = "0" },
                                            new SelectListItem{ Text="Block", Value = "1" },
                                            new SelectListItem{ Text="Muncipality", Value = "2" },
                                            new SelectListItem{ Text="Corporation", Value = "3" },
                                        }, new { @class = "col-md-2 pull-left form-control ", id = "preaddBMC" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name of Block/Municiplaity/Corporation <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.muncorp, new SelectList(Model.muncorpname, "Value", "Text"), new { @class = "form-control preaddBlock", id = "preaddBlock" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>P.S <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.ps, new SelectList(Model.psname, "Value", "Text"), new { @class = "form-control preaddPS", id = "preaddPS" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>P.O <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.po, new SelectList(Model.poname, "Value", "Text"), new { @class = "form-control preaddPO", id = "preaddPO" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>PIN code <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.pincode2, null, new { @class = "form-control", @maxlength = 6, onkeypress = "return onlynumber(event,this)" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">GP/Ward <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.ward, new SelectList(Model.wardname, "Value", "Text"), new { @class = "form-control ward2", id = "ward2" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Village/Street/Road <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.vlge2, null, new { @class = "form-control", @maxlength = 50 })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <br class="clearfix" />
                <div class="row">
                </div>
            </div>

            <div class="container-fluid" id="AdditionalAffirmation">
                <div class="row">


                    <center><a class="btn btn-primary finalsub" onclick="FinalSubmit()">Submit</a></center>

                </div>
            </div>

        </div>
        <div class="modal fade" id="divConfirmexistng" role="dialog">
            <div class="modal-dialog" style="margin-top:130px;">

                <!-- Modal content-->
                <div class=" modal-content">
                    <div class="modal-header">

                    </div>
                    <div class="modal-body">



                        <div class="form-group divconf">
                            <label class="">Part-II . Do you want to fill up right nowor later</label>
                            <input type="radio" class="conexistreglst" name="conexistregstatus" value="Yes" onclick="ConfirmDet()" tabindex="98">
                            <label>Yes</label>
                            <input type="radio" class="conexistreglst" name="conexistregstatus" value="No" onclick="ConfirmDet()" tabindex="99">
                            <label>No</label>
                        </div>


                    </div>
                    <div class="modal-footer">



                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="divConfirmSmcCard" role="dialog">
            <div class="modal-dialog" style="margin-top:130px;">

                <!-- Modal content-->
                <div class=" modal-content">
                    <div class="modal-header">

                    </div>
                    <div class="modal-body">



                        <div class="form-group divconf">
                            <label class="">Do you want To Generate SMC Card</label>
                            <input type="radio" class="clssmc" name="nmsmc" value="Yes" onclick="ConfirmSMC()" tabindex="98">
                            <label>Yes</label>
                            <input type="radio" class="clssmc" name="nmsmc" value="No" onclick="ConfirmSMC()" tabindex="99">
                            <label>No</label>
                        </div>


                    </div>
                    <div class="modal-footer">



                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" id="BenAddress" value="21212" name="BenAddress" />
        <input type="hidden" id="Bennamedet" value="1212" name="Bennamedet" />
        <input type="hidden" id="BenFamdet" value="12121" name="BenFamdet" />
        <input type="hidden" id="NamCount" value="1112121231" name="NamCount" />
        <input type="hidden" id="BankDisId" value="1112121231" name="BankDisId" />
        <input type="hidden" id="FamCount" value="1112121231" name="FamCount" />
        <input type="hidden" id="BankLoca" value="1112121231" name="BankLoca" />
        <input type="hidden" id="Bensno" value="1112121231" name="Bensno" />
        <input type="hidden" id="SelfEmpNo" value="" name="SelfEmpNo" />
        <input type="hidden" id="BenAddressSno" value="1112121231" name="BenAddressSno" />
        <input type="hidden" id="BenFamilyMemSno" value="1112121231" name="BenFamilyMemSno" />
        <input type="hidden" id="BenNomineeSno" value="1112121231" name="BenNomineeSno" />
        <input type="hidden" id="DepUserid" value="" name="DepUserid" />
        <input type="hidden" id="DependentStatus" value="1" name="DependentStatus" />
        <input type="hidden" id="NomineeStatus" value="1" name="NomineeStatus" />
        <input type="hidden" id="CheckPfStatus" value="1" name="CheckPfStatus" />
        <input type="hidden" id="SSIN" value="1" name="SSIN" />
        @*<input type="hidden" id="CheckPfStatus" value="1" name="CheckPfStatus" />*@



    </form>

    <div class="modal fade" id="exdivConfirmexistng" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>



                </div>
                <div class="modal-body">



                    <div class="form-group">
                        <label class="">Are you sure the details you have entered is correct?</label>
                        <input type="radio" class="exconexistreglst" name="exconexistregstatus" value="Yes" onclick="exConfirmDet()" tabindex="98">
                        <label>Yes</label>
                        <input type="radio" class="exconexistreglst" name="exconexistregstatus" value="No" onclick="exConfirmDet()" tabindex="99">
                        <label>No</label>
                    </div>


                </div>
                <div class="modal-footer">


                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="divexistng" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>



                </div>
                <div class="modal-body">



                    <div class="form-group">
                        <label class="">Sorry! Your data is not available in the system at present. Please select YES to update your record</label>
                        <input type="radio" class="existreglst" name="existregstatus" value="Yes" onclick="test()" tabindex="98">
                        <label>Yes</label>
                        <input type="radio" class="existreglst" name="existregstatus" value="No" onclick="test()" tabindex="99">
                        <label>No</label>
                    </div>


                </div>
                <div class="modal-footer">


                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

}
<script>
    $(document).ready(function(){


      //  $('#divConfirmexistng').modal({backdrop: 'static', keyboard: false,show: false})
       // $('#myModal').modal({backdrop: 'static', keyboard: false,show: false})

      //  $('#divConfirmSmcCard').modal({backdrop: 'static', keyboard: false,show: false})

        $("#divPFOpt").show();

        if(RegistrationType =="")
        {
            $("#idhome,#FrstBackbtn,#DBack").show();
        }
        $('#DBack').click(function()
        {
            $("#divexistdata").hide();
            $("#divexist").show();
        })

        $("#DepUserid").val(Userid);
        binddatepicker()
        getdates()


    })
    function  GetDetail()
    {
         
        if($("#existregno").val() == "" ||$("#existregno").val() == null)
        {
            alert("Please Enter Registration Number");
            $("#existregno").focus();
            return false;
        }
        if($("#exisdob").val() == "" || $("#exisdob").val() == null)
        {


            if($("#existfathername").val() == "" ||$("#existfathername").val() == null)
            {
                alert("Please Enter Father Name");
                $("#existfathername").focus();
                return false;
            }
        }

        if($("#existfathername").val() == "" || $("#existfathername").val() == null)
        {
            if($("#exisdob").val() == "" ||$("#exisdob").val() == null)
            {
                alert("Please select Date of Birth");
                $("#exisdob").focus();
                return false;
            }
        }






        $.get('@Url.Action("ExistRegisub", "Registration")', {RegNo : $("#existregno").val(),Fathername : $("#existfathername").val(),Dob:$("#exisdob").val()}, function (dat) {

            if(dat > 0)
            {
                $("#divexist").hide();
                $("#divexistdata").show();
                //Getting benificiary Data
                $.get('@Url.Action("GetbenDetails", "Registration")', {bensno : dat}, function (res) {
                     
                   // alert(res.BenBankBranch);

                    $("#Bensno").val(dat);

                    $("#schemeid").val(res.BenEmpType);
                    $("#SSIN").val(res.SSIN);
                    $("#ddlfrstname").val(res.BenSalutation);
                    $("#FirstName").val(res.BenFirstName);
                    $("#Middlename").val(res.BenMiddleName);
                    $("#lstname").val(res.BenLastName);
                    $("#FatherName").val(res.BenFatherFirstName +' '+ res.BenFatherMiddleName +' '+ res.BenFatherLastName).addClass('label-data');
                     
                    //alert(res.BenDob);
                    if(res.BenDob !='1990-01-01')
                    {

                        var dob = res.BenDob.split('-');
                        $("#ddlyr").val(dob[2]);
                        $("#ddlmnth").val(dob[1]);
                        $("#ddlday").val(dob[0]);
                        getage()
                    }
                    $("input[name=bengender][value=" + res.BenGender + "]").prop('checked', true);
                    $("#maritalid").val(res.BenMaritalStatus);

                    if(res.BenMaritalStatus =='Married')
                    {
                        $("#divhus").show();
                        $("#HusbandName").val(res.HusbandName);
                    }
                    if(res.BenIdCardType =="1")
                        $("#cards").val(res.BenIdCardNo);
                    else
                        $("#cards").val(res.BenIdCardNo);


                    $("#mobno").val(res.BenMobileNo);

                });
                //Getting benificiary Address Data
                $.get('@Url.Action("GetbenAddressDetails", "Registration")',  {bensno :dat}, function (res) {
                     
                    $.each(res, function (i, data) {
                         
                        if(data.BenAddressType =="Permanent")
                        {
                            //alert(data.BenAddressSno);
                            $("#permid").val(data.BenAddressSno);
                            $("#perdistid").val(data.BenDistrict);
                            $("#persubdivid").val(data.BenSubDivision);
                            $("#peraddBMC").val(data.LocationType);
                            $("#peraddblock").val(data.BenBmc);
                            $("#perpsid").val(data.BenPs);
                            $("#perPOid").val(data.BenPo);
                            $("#pincode").val(data.BenPincode);
                            if(data.BenGpWard == "0")
                            {
                                $("#ward").find("option").remove();
                                $("#ward").append('<option value=0>All Wards</option>');
                                $("#ward").val(0);
                            }
                            else
                            {
                                $("#ward").val(data.BenGpWard);
                            }
                            if(data.BenGpWard == "9999")
                            {
                                $("#ward").find("option").remove();
                                var BlockName1= $("#peraddblock option:selected").text();
                                $("#ward").append('<option value=9999>'+BlockName1+'</option>');
                                $("#ward").val('9999');
                            }
                            $("#vlge1").val(data.BenVsr);
                        }
                        if(data.BenAddressType =="Present")
                        {
                            // alert(data.BenAddressSno);
                            $("#presid").val(data.BenAddressSno);
                            $("#PreAddrdistid").val(data.BenDistrict);
                            $("#preAddrsubdiv").val(data.BenSubDivision);
                            $("#preaddBMC").val(data.LocationType);
                            $("#preaddBlock").val(data.BenBmc);
                            $("#preaddPS").val(data.BenPs);
                            $("#preaddPO").val(data.BenPo);
                            $("#pincode2").val(data.BenPincode);
                            if(data.BenGpWard == "0")
                            {
                                $("#ward2").find("option").remove();
                                $("#ward2").append('<option value=0>All Wards</option>');
                                $("#ward2").val(0);
                            }
                            else
                            {
                                $("#ward2").val(data.BenGpWard);
                            }
                            if(data.BenGpWard == "9999")
                            {
                                $("#ward2").find("option").remove();
                                var BlockName= $("#preaddBlock option:selected").text();
                                $("#ward2").append('<option value=9999>'+BlockName+'</option>');
                                $("#ward2").val('9999');
                            }
                            $("#vlge2").val(data.BenVsr);
                        }
                    });
                })

                return false;
            }
            else
            {
                if(dat == "Invalid Data")
                {
                   // alert(dat);
                  $('#exdivConfirmexistng').modal('show');
                   $(".exconexistreglst").prop('checked', false);
                }
                else{
                    alert(dat);
                }
                return false;
            }
        });
    }



    function getdates()
    {
        $(".FamDob,.namdob,.dob,.exDob").datepicker({
            dateFormat: "dd-mm-yy",
            changeYear: true,
            yearRange: "1920:2020",
            autoclose: true,
            maxDate: new Date()

        })
        var dat = new Date();
        var month = (dat.getMonth() + 1) < 10 ? '0' + (dat.getMonth() + 1) : '' + (dat.getMonth() + 1);
        var day = (dat.getDate()) < 10 ? '0' + (dat.getDate()) : '' + (dat.getDate());
        var today = day + "-" + month + "-" + dat.getFullYear();
        $(".FamDob,.namdob,.dob").val(today);
    }



    function FinalSubmit()
    {
        if($("#schemeid").val() =="0")
        {
            alert("Please Select Worker Type");
            $("#schemeid").focus();
            return false;
        }
         
        if ($("#ddlfrstname").val() == "" || $("#ddlfrstname").val() == null || $("#ddlfrstname").val() == "0") {
            alert("Please Select Salutation");
            $("#ddlfrstname").focus();
            return false;
        }
        var Maritalsta = $("#maritalid").val();
        if(Maritalsta != "2" && Maritalsta != "5")
        {
            if ($("#ddlfathrsname").val() == "" || $("#ddlfathrsname").val() == null || $("#ddlfathrsname").val() == "0") {
                alert("Please Select Salutation");
                $("#ddlfathrsname").focus();
                return false;
            }
            if ($("#FatherName").val() == "" || $("#FatherName").val() == null) {
                alert("Please Enter Father Name");
                $("#FatherName").focus();
                return false;
            }
        }
        if ($("#ddlyr").val() == "" || $("#ddlyr").val() == null || $("#ddlyr").val() == "0") {
            alert("Please Select year");
            $("#ddlyr").focus();
            return false;
        }
        if ($("#ddlmnth").val() == "" || $("#ddlmnth").val() == null || $("#ddlmnth").val() == "0") {
            alert("Please Select Month");
            $("#ddlmnth").focus();
            return false;
        }
        if ($("#ddlday").val() == "" || $("#ddlday").val() == null || $("#ddlday").val() == "0") {
            alert("Please Select Day");
            $("#ddlday").focus();
            return false;
        }
        if ($("#age").val() == "" || $("#age").val() == null) {
            alert("Age should not be empty,Please provide correct Date of Birth");
            $("#age").focus();
            return false;
        }
        var age = $("#age").val();
        var agecal = parseInt(age);
        if(agecal > 60 || agecal < 18)
        {
            alert("Age Limit should be 18 to 60 ");
            $("#age").focus();
            return false;
        }
        var Gender = $("input[name='bengender']:checked").val()
        if(Gender == undefined){
            alert("Please Select Gender");
            $(".bengender").focus();
            return false;
        }
        var salutation = $('#ddlfrstname').val();
        if(Gender =="Female")
        {
             
            if(salutation =="Mr.")
            {
                alert("Invalid Gender");
                $("#gndrfemale").focus();
                return false;
            }
        }
        if(Gender =="Male")
        {
            if(salutation == "Ms." || salutation =="Mrs.")
            {
                alert("Invalid Gender");
                $("#gndrmale").focus();
                return false;
            }
        }
        if ($("#maritalid").val() == "" || $("#maritalid").val() == null || $("#maritalid").val() == "0") {
            alert("Please Select Marital Status");
            $("#maritalid").focus();
            return false;
        }


        var Marst =  $('#maritalid').val();
        if(Gender =="Female" && Marst =="2" || Gender =="Female" && Marst =="5")
        {
            if($("#HusbandName").val() == "" ||$("#HusbandName").val() == null)
            {
                alert("Please Enter Husband Name");
                $("#HusbandName").focus();
                return false;
            }
        }



        if ($("#relgid").val() == "" || $("#relgid").val() == null || $("#relgid").val() == "0") {
            alert("Please Select Religion");
            $("#relgid").focus();
            return false;
        }
        if ($("#socatid").val() == "" || $("#socatid").val() == null || $("#socatid").val() == "0") {
            alert("Please Select Social Category");
            $("#socatid").focus();
            return false;
        }

        var Aadharcard = $("#Aadharcard").val();
        var EpicCard = $("#epiccard").val();

        var MobileNumber = $("#mobno").val();

        if(Aadharcard !="" && Aadharcard != null)
        {
            if(Aadharcard.length != 12)
            {
                alert("Please Enter 12 digits correct Aadhaar Card Number");
                $("#Aadharcard").focus();
                return false;
            }
        }


        if(EpicCard !="" && EpicCard != null)
        {
            if( EpicCard.length > 16 || EpicCard.length < 5)
            {
                alert("Please enter correct Epic Card Number");
                $("#epiccard").focus();
                return false;
            }

        }

        if(Aadharcard == "" && EpicCard == "")
        {
            if(MobileNumber == "" || MobileNumber == null)
            {
                alert("Please enter your Mobile Number.If you do not have Mobile Number, Please enter Aadhaar no/Epic card");

                $("#mobno").focus();
                return false;


            }
        }


        if(MobileNumber == "" && EpicCard == "")
        {
            if(Aadharcard == "" || Aadharcard == null)
            {
                alert("Please enter aadharcard no");
                $("#Aadharcard").focus();
                return false;


            }
        }
        if(MobileNumber == "" && Aadharcard == "")
        {
            if(EpicCard == "" || EpicCard == null)
            {
                alert("Please enter epic card no");
                $("#epiccard").focus();
                return false;


            }
        }




        if($('#mobno').val() !="" && $('#mobno').val() !=null)
        {
            if ( $('#mobno').val().length != 10) {
                alert("Please Enter Valid Mobile Number");
                $("#mobno").focus();
                return false;
            }
        }



        if ($("#perdistid").val() == "" || $("#perdistid").val() == null || $("#perdistid").val() == 0) {
            alert("Please Select District");
            $("#perdistid").focus();
            return false;
        }
        if ($("#persubdivid").val() == "" || $("#persubdivid").val() == null || $("#persubdivid").val() == 0) {
            alert("Please Select Sub Division");
            $("#persubdivid").focus();
            return false;
        }
        if ($("#peraddBMC").val() == "" || $("#peraddBMC").val() == null || $("#peraddBMC").val() == 0) {
            alert("Please Select Block");
            $("#peraddBMC").focus();
            return false;
        }
        if ($("#peraddblock").val() == "" || $("#peraddblock").val() == null || $("#peraddblock").val() == 0) {
            alert("Please Select Block");
            $("#peraddblock").focus();
            return false;
        }
        if ($("#perpsid").val() == "" || $("#perpsid").val() == null ||  $("#perpsid").val() == 0) {
            alert("Please Select PS");
            $("#perpsid").focus();
            return false;
        }
        if ($("#perPOid").val() == "" || $("#perPOid").val() == null ||  $("#perPOid").val() == 0) {
            alert("Please Select PO");
            $("#perPOid").focus();
            return false;
        }
        if ($("#pincode").val() == "" || $("#pincode").val() == null) {
            alert("Please Enter Pincode");
            $("#pincode").focus();
            return false;
        }
        if ( $('#pincode').val().length != 6) {
            alert("Please Enter 6 digits Pincode number");
            $("#pincode").focus();
            return false;
        }
        var Dist1 = $("#perdistid").val();
        var Blk1 = $("#peraddBMC").val();
        if(Dist1 !=12)
        {
            if(Blk1 == 1)
            {
                if ($("#ward").val() == "" || $("#ward").val() == null ||  $("#ward").val() == 0) {
                    alert("Please Select GP");
                    $("#ward").focus();
                    return false;
                }
            }
        }
        if ($("#vlge1").val() == "" || $("#vlge1").val() == null) {
            alert("Please Enter Village/Street/Road");
            $("#vlge1").focus();
            return false;
        }
        //Present
        if ($("#PreAddrdistid").val() == "" || $("#PreAddrdistid").val() == null || $("#PreAddrdistid").val() == 0) {
            alert("Please Select District");
            $("#PreAddrdistid").focus();
            return false;
        }
        if ($("#preAddrsubdiv").val() == "" || $("#preAddrsubdiv").val() == null || $("#preAddrsubdiv").val() == 0) {
            alert("Please Select Sub Division");
            $("#preAddrsubdiv").focus();
            return false;
        }
        if ($("#preaddBMC").val() == "" || $("#preaddBMC").val() == null || $("#preaddBMC").val() == 0) {
            alert("Please Select Block");
            $("#preaddBMC").focus();
            return false;
        }
        if ($("#preaddBlock").val() == "" || $("#preaddBlock").val() == null || $("#preaddBlock").val() == 0) {
            alert("Please Select Block");
            $("#preaddBlock").focus();
            return false;
        }
        if ($("#preaddPS").val() == "" || $("#preaddPS").val() == null ||  $("#preaddPS").val() == 0) {
            alert("Please Select PS");
            $("#preaddPS").focus();
            return false;
        }
        if ($("#preaddPO").val() == "" || $("#preaddPO").val() == null ||  $("#preaddPO").val() == 0) {
            alert("Please Select PO");
            $("#preaddPO").focus();
            return false;
        }
        if ($("#pincode2").val() == "" || $("#pincode2").val() == null) {
            alert("Please Enter Pincode");
            $("#pincode2").focus();
            return false;
        }
        var Dists = $("#PreAddrdistid").val();
        var Blks = $("#preaddBMC").val();
        if(Dists !=12)
        {
            if(Blks == 1)
            {
                if ($("#ward2").val() == "" || $("#ward2").val() == null ||  $("#ward2").val() == 0) {
                    alert("Please Select GP");
                    $("#ward2").focus();
                    return false;
                }
            }
        }
        if ($("#vlge2").val() == "" || $("#vlge2").val() == null) {
            alert("Please Enter Village/Street/Road");
            $("#vlge2").focus();
            return false;
        }
        //Perminent address
        var adddoc  =  "Permanent" +"$"; //1
        adddoc +=  $("#state").val()+"$";//2
        adddoc += $("#perdistid").val()+"$";//3
        adddoc +=  $("#persubdivid").val()+ "$";//4
        adddoc +=  $("#peraddblock").val()+ "$" ;//5
        adddoc +=  $("#perpsid").val()+"$";//6
        var po1 = $("#perPOid").val();
        var post1 =   po1.split("-");
        adddoc +=  post1[1]+"$";//7
        adddoc +=  $("#pincode").val()+"$";//8
        adddoc += $("#ward").val()+ "$";//9
        adddoc += $("#vlge1").val()+"$" ;//10
        //present address
        adddoc +=  "Present"+ "$";//11
        adddoc += $("#state2").val()+"$";//12
        adddoc += $(".PreAddrdistid").val()+"$";//13
        adddoc += $(".preAddrsubdiv").val()+ "$";//14
        adddoc +=  $("#preaddBlock").val()+"$";//15
        adddoc +=   $("#preaddPS").val()+ "$";//16
        var po2 = $("#preaddPO").val();
        var post2 =   po2.split("-");
        adddoc +=  post2[1]+"$";//17
        adddoc +=  $("#pincode2").val()+ "$";//18
        adddoc += $("#ward2").val()+ "$";//19
        adddoc += $("#vlge2").val()+ "$";//20
        adddoc += $("#peraddBMC").val()+"$" ;//21
        adddoc += $("#preaddBMC").val()+ "$";//22
        adddoc += $("#permid").val()+"$" ;//23
        adddoc += $("#presid").val()+ "$";//24
        $("#BenAddress").val(adddoc);

        var form = $('#signupform')[0];

        var data = new FormData(form);



        $.ajax({
            url: '/Registration/NewExistingPart1submit',
            type: 'post',
            enctype: 'multipart/form-data',
            processData: false,  // Important!
            contentType: false,
            cache: false,
            data: data,
            success: function(data) {

                if(data.Code == "000")
                {
                    alert(data.Message);
                    BenSno = data.BenSno;
                    $("#divConfirmSmcCard").modal('show');


                }
                else
                {
                    alert(data.Message);
                    return false;
                    // $("#lblMessage"+data.Value).text(data.Message);
                }


            }
        });
    }
    //Date Of Birth validations
    $('#ddlyr').change(function() {
        $("#age").val("");
    });
    $('#ddlmnth').change(function() {
        $("#age").val("");
    });
    $("#ddlfrstname").change(function(){
         
        var DDLFirstname = $('#ddlfrstname').val();
        if(DDLFirstname == "Mr.")
        {
            $('#gndrfemale').hide();
            $('#lblfemale').hide();
        }
        else
        {
            $('#gndrfemale').show();
            $('#lblfemale').show();
        }
        if(DDLFirstname == "Ms." || DDLFirstname == "Mrs.")
        {
            $('#gndrmale').hide();
            $('#lblmale').hide();
        }
        else
        {
            $('#gndrmale').show();
            $('#lblmale').show();
        }
    });
    $('.bengender').change(function() {
         
        var Gender = $("input[name='bengender']:checked").val()
        var Marst =  $('#maritalid').val();
        $("#maritalid").val(0)
        $("#HusbandName").attr("readonly", "readonly");
        var salutation = $('#ddlfrstname').val();
        if(Gender =="Female")
        {
             
            if(salutation =="Mr.")
            {
                alert("Invalid Gender");
                $("#gndrfemale").focus();
                return false;
            }
        }
        if(Gender =="Male")
        {
            if(salutation == "Ms." || salutation =="Mrs.")
            {
                alert("Invalid Gender");
                $("#gndrmale").focus();
                return false;
            }
        }
        if(Gender =="Female" && Marst =="2" || Gender =="Female" && Marst =="5")
        {
            $("#HusbandName").removeAttr("readonly");
            $("#HusbandName").focus();
        }
        else
        {
            $("#HusbandName").attr("readonly", "readonly");
            $("#HusbandName").val("");
        }
        if(Gender =="Female" && Marst =="5")
        {
            $("#ddlhusname").Show('Late');
            $("#HusbandName").removeAttr("readonly");
        }
        if(Marst !="5")
        {
            $("#ddlhusname option:contains(Late)").remove();
        }
    })
    $('#maritalid').change(function() {
        var Gender = $("input[name='bengender']:checked").val()
        var Marst =  $('#maritalid').val();
        if(Gender =="Female" && Marst =="2" || Gender =="Female" && Marst =="5")
        {
            $("#HusbandName").removeAttr("readonly");
            $("#HusbandName").focus();
        }
        else
        {
            $("#HusbandName").attr("readonly", "readonly");
            $("#HusbandName").val("");
        }
        if(Gender =="Female" && Marst =="5")
        {
            $("#ddlhusname").append('<option value=Late>Late</option>');
            $("#ddlhusname option:contains(Mr.)").remove();

            $("#HusbandName").removeAttr("readonly");
        }
        if(Marst !="5")
        {
            $("#ddlhusname option:contains(Late)").remove();
            $("#ddlhusname option:contains(Mr.)").remove();
            $("#ddlhusname").append('<option value=Mr.>Mr.</option>');
        }
        if(Gender =="Female" && Marst =="2" || Gender =="Female" && Marst =="5")
        {
            alert("Husband Name is mandatory");
            $("#HusbandName").focus();
        }
    });


    $('#perPOid').change(function() {
        var pincode =$("#perPOid").val();
        var res = pincode.split("-");
        $("#pincode").val(res[0]);
    });
    $('#preaddPO').change(function() {
        var pincode =$("#preaddPO").val();
        var res = pincode.split("-");
        $("#pincode2").val(res[0]);
    });

    $('#presauto').change(function() {
        var res = $(this).is(':checked');
        if(res ==true)
        {
             
            $("#state2").val($("#state").val());
            $("#PreAddrdistid").val($("#perdistid").val());
            $("#PreAddrdistid").attr("readonly", "readonly");
            $("#PreAddrdistid").attr("disabled", true);
            $("#preAddrsubdiv").val($("#persubdivid").val());
            $("#preAddrsubdiv").attr("readonly", "readonly");
            $("#preAddrsubdiv").attr("disabled", true);
            $("#preaddBMC").val($("#peraddBMC").val());
            $("#preaddBMC").attr("readonly", "readonly");
            $("#preaddBMC").attr("disabled", true);
            $("#preaddBlock").val($("#peraddblock").val());
            $("#preaddBlock").attr("readonly", "readonly");
            $("#preaddBlock").attr("disabled", true);
            $("#preaddPS").val($("#perpsid").val());
            $("#preaddPS").attr("readonly", "readonly");
            $("#preaddPS").attr("disabled", true);
            $("#preaddPO").val($("#perPOid").val());
            $("#preaddPO").attr("readonly", "readonly");
            $("#preaddPO").attr("disabled", true);
            $("#pincode2").val($("#pincode").val());
            $("#pincode2").attr("readonly", "readonly");
            var selward =   $("#ward option:selected").text();
            if(selward == "-- Select GP --")
            {
                $("#ward2 option:contains(All Wards)").remove();
                $("#ward2").val($("#ward").val());
            }
            else
            {
                $("#ward2 option[value ='0']").remove();
                $("#ward2").append('<option value=0>All Wards</option>');
                $("#ward2").val($("#ward").val());
            }
            $("#ward2").attr("readonly", "readonly");
            $("#ward2").attr("disabled", true);
            $("#vlge2").val($("#vlge1").val());
            $("#vlge2").attr("readonly", "readonly");
        }
        else
        {
            $("#PreAddrdistid").val("0");
            $("#PreAddrdistid").removeAttr("readonly");
            $("#PreAddrdistid").attr("disabled", false);
            $("#preAddrsubdiv").val("0");
            $("#preAddrsubdiv").removeAttr("readonly");
            $("#preAddrsubdiv").attr("disabled", false);
            $("#preaddBMC").val("0");
            $("#preaddBMC").removeAttr("readonly");
            $("#preaddBMC").attr("disabled", false);
            $("#preaddBlock").val("0");
            $("#preaddBlock").removeAttr("readonly");
            $("#preaddBlock").attr("disabled", false);
            $("#preaddPS").val("0");
            $("#preaddPS").removeAttr("readonly");
            $("#preaddPS").attr("disabled", false);
            $("#preaddPO").val("0");
            $("#preaddPO").removeAttr("readonly");
            $("#preaddPO").attr("disabled", false);
            $("#pincode2").val("");
            $("#pincode2").removeAttr("readonly");
            $("#ward2 option[value ='0']").remove();
            $("#ward2").append('<option value=0>-- Select GP --</option>');
            $("#ward2").val("0");
            $("#ward2").removeAttr("readonly");
            $("#ward2").attr("disabled", false);
            $("#vlge2").val("");
            $("#vlge2").removeAttr("readonly");
        }
    });
    $("#ddlday").change(getage);
    $("#ddlmnth").change(getage);
    $("#ddlyr").change(getage);
    function getage(){
         
        if( $("#ddlday").val() != "0")
        {
            if($("#ddlyr").val() != "0" && $("#ddlmnth").val() != "0" && $("#ddlday").val() != "0")
            {
                var getage = calculateAge($("#ddlyr").val()+"-"+$("#ddlmnth").val()+"-"+$("#ddlday").val());
                $("#age").val(getage);
            }
        }
    }
    $("#ddlcards").change(LoadNumber);
    function LoadNumber() {
        $("#cards").val("");
        $("#cards").focus();
        //Aadhaar
        if( $("#ddlcards").val()=="1")
        {
            $("#cards").attr('maxlength','12');
            $("#cards").attr('onkeydown','return IsNumericOnly(event)');
        }
        //Epic
        if( $("#ddlcards").val()=="2")
        {
            $("#cards").attr('maxlength','15');
            $("#cards").attr('onkeydown','return IsAlphaNumaric(event)');
        }
        if( $("#ddlcards").val()=="3")
        {
            $("#cards").attr('maxlength','20');
            $("#cards").attr('onkeydown','return IsAlphaNumaric(event)');
        }
    };



    $("#PreAddrdistid").change(loadprePO);
    function loadprePO() {
        $.get('@Url.Action("GetPOJSON", "Registration")', {ID :$("#PreAddrdistid").val()}, function (dat) {
            $("#preaddPO").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#preaddPO").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
        });
    }
    $("#preaddBMC").change(loadpreBlock);
    function loadpreBlock() {
        $.get('@Url.Action("GetblockJSON", "Registration")', {ID :$("#preAddrsubdiv").val(),typedata :$("#preaddBMC").val()}, function (dat) {
            $("#preaddBlock").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#preaddBlock").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
        });
        var Dist = $("#PreAddrdistid").val();
        var Blk = $("#preaddBMC").val();
        if((Dist != "12" && Blk == "2") || (Dist != "12" && Blk == "3"))
        {

            //$("#ward2").find("option").remove();
            //$("#ward2").append('<option value=0>All Wards</option>');

            $.get('@Url.Action("GetGPJSON", "Registration")', {ID :0}, function (dat) {
                $("#ward2").find("option").remove();
                $.each(dat, function (i, data) {
                     
                    $("#ward2").append("<option value=" + data.Value + ">"+data.Text+"</option>");
                });
            });
        }
        else
        {
            loadGPre();
        }
    }
    $("#PreAddrdistid").change(loadpreSubdiv);
    function loadpreSubdiv() {
        $("#preAddrsubdiv").val("0");
        $("#preaddBMC").val("0");
        $("#preaddBlock").val("0");
        $("#preaddPS").val("0");
        $("#preaddPO").val("0");
        $("#pincode2").val("");
        $("#ward2").val("0");
        $("#vlge2").val("");
        loadGPre()
        loadpreBlock()
        $.get('@Url.Action("GetSubdivisionJSON", "Registration")', {ID :$("#PreAddrdistid").val()}, function (dat) {
            $("#preAddrsubdiv").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#preAddrsubdiv").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
        });
    }

    //Load SubDivisions
    $("#perdistid").change(loadSubdiv);
    function loadSubdiv() {
        var Aadharcard = $("#Aadharcard").val();
        var EpicCard = $("#epiccard").val();
        var MobileNumber = $("#mobno").val();

        if(Aadharcard == "" && EpicCard == "" && MobileNumber == "")
        {
            alert("Please enter your Mobile Number.If you do not have Mobile Number, Please enter Aadhaar no/Epic card");
            $("#mobno").focus();
            $("#perdistid").val("0");
            return false;
        }

        if(Aadharcard == null && EpicCard == null && MobileNumber == null)
        {
            alert("Please enter your Mobile Number.If you do not have Mobile Number, Please enter Aadhaar no/Epic card");
            $("#mobno").focus();
            $("#perdistid").val("0");
            return false;
        }

        $("#persubdivid").val("0");
        $("#peraddBMC").val("0");
        $("#peraddblock").val("0");
        $("#perpsid").val("0");
        $("#perPOid").val("0");
        $("#pincode").val("");
        $("#ward").val("0");
        $("#vlge1").val("");
        loadGP()
        loadBlock()
        $.get('@Url.Action("GetSubdivisionJSON", "Registration")', {ID :$("#perdistid").val()}, function (dat) {
            $("#persubdivid").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#persubdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
            //Present Address
            $("#preAddrsubdiv").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#preAddrsubdiv").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
        });
    }
    $("#peraddBMC").change(loadBlock);
    function loadBlock() {
        $.get('@Url.Action("GetblockJSON", "Registration")', {ID :$("#persubdivid").val(),typedata : $("#peraddBMC").val()}, function (dat) {
             
            $("#peraddblock").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#peraddblock").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
            //Present Address Block
            $("#preaddBlock").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#preaddBlock").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
        });
        var perDist = $("#perdistid").val();
        var perBlk = $("#peraddBMC").val();
        if((perDist != "12" && perBlk == "2") || (perDist != "12" && perBlk == "3"))
        {
            //$("#ward").find("option").remove();
            //$("#ward").append('<option value=0>All Wards</option>');
            //$("#ward2").find("option").remove();
            //$("#ward2").append('<option value=0>All Wards</option>');

            $.get('@Url.Action("GetGPJSON", "Registration")', {ID :0}, function (dat) {
                $("#ward2").find("option").remove();
                $("#ward").find("option").remove();
                $.each(dat, function (i, data) {
                     
                    $("#ward2").append("<option value=" + data.Value + ">"+data.Text+"</option>");
                    $("#ward").append("<option value=" + data.Value + ">"+data.Text+"</option>");
                });
            });
        }
        else
        {
            loadGP();
        }
    }
    //For Present Address
    $("#preaddBlock").change(loadGPKolkata);
    function loadGPKolkata(){
        var DistGPK = $("#PreAddrdistid").val();
        var BlkGPK = $("#preaddBMC").val();
        if(DistGPK == "12" && BlkGPK == "3")
        {
            $("#ward2").find("option").remove();
            var BlockName= $("#preaddBlock option:selected").text();
            $("#ward2").append('<option value=9999>'+BlockName+'</option>');
            $("#ward2").val('9999');
        }
    }
    //Permanent
    $("#peraddblock").change(loadGPKolkataPer);
    function loadGPKolkataPer(){
        var DistGPPer = $("#perdistid").val();
        var BlkGPPer = $("#peraddBMC").val();
        if(DistGPPer == "12" && BlkGPPer == "3")
        {
            $("#ward").find("option").remove();
            var BlockName= $("#peraddblock option:selected").text();
            $("#ward").append('<option value=9999>'+BlockName+'</option>');
            $("#ward").val('9999');
            //Present
            $("#ward2").find("option").remove();
            $("#ward2").append('<option value=9999>'+BlockName+'</option>');
            $("#ward2").val('9999');
        }
        else
        {
            loadGPKolkata();
        }
    }
    $("#PreAddrdistid").change(loadprePS);
    function loadprePS() {
        $.get('@Url.Action("GetPSJSON", "Registration")', {ID :$("#PreAddrdistid").val()}, function (dat) {
            $("#preaddPS").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#preaddPS").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
        });
    }
    $("#perdistid").change(loadPS);
    function loadPS() {
        $.get('@Url.Action("GetPSJSON", "Registration")', {ID :$("#perdistid").val()}, function (dat) {
            $("#perpsid").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#perpsid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
            //present Address Block
            $("#preaddPS").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#preaddPS").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
        });
    }
    $("#perdistid").change(loadperPO);
    function loadperPO() {
        $.get('@Url.Action("GetPOJSON", "Registration")', {ID :$("#perdistid").val()}, function (dat) {
            $("#perPOid").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#perPOid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
            //Present
            $("#preaddPO").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#preaddPO").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });
        });
    }
    //GP list
    $("#persubdivid").change(loadGP);
     
    function loadGP() {
        $.get('@Url.Action("GetGPJSON", "Registration")', {ID :$("#persubdivid").val()}, function (dat) {
            $("#ward").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#ward").append("<option value=" + data.Value + ">"+data.Text+"</option>");
            });
            //Present Address
            $("#ward2").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#ward2").append("<option value=" + data.Value + ">"+data.Text+"</option>");
            });
        });
    }
    function validateEmail() {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test($("#email").val())) {
            alert("Invalid email address.");
            $("#email").focus();
            return false;
        }
    }
    function onlynumber(e, t) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    }
    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || (charCode == 46) || (charCode == 32))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
    function IsNumericOnly(e) {
        var value = $(e.target).val();
        var n = value.indexOf(".");
        if (n > 0) {
            if ((e.keyCode == 65) || (e.keyCode == 66) || (e.keyCode >= 68 && e.keyCode <= 85) || e.keyCode == 89 || e.keyCode == 87 || e.keyCode == 90 || (e.keyCode == 86 && e.ctrlKey == false) || (e.keyCode == 67 && e.ctrlKey == false) || (e.keyCode == 88 && e.ctrlKey == false) || e.keyCode == 187 || (e.keyCode == 189 && e.shiftKey == true) || e.keyCode == 190 || e.keyCode == 191 || e.keyCode == 107 || e.keyCode == 109 || e.keyCode == 111 || e.keyCode == 189 || e.keyCode == 110 || e.keyCode == 186 || e.keyCode == 188 || (e.keyCode == 61 && e.shiftKey == false) || (e.keyCode == 173 && e.shiftKey == true) || e.keyCode == 192 || (e.keyCode == 191 && e.shiftKey == true) || (e.keyCode >= 219 && e.keyCode <= 222) || e.keyCode == 106 || e.keyCode == 59 || (e.keyCode >= 48 && e.keyCode <= 57 && e.shiftKey == true))
                return false;
        } else {
            if ((e.keyCode == 65) || (e.keyCode == 66) || (e.keyCode >= 68 && e.keyCode <= 85) || e.keyCode == 89 || e.keyCode == 87 || e.keyCode == 90 || (e.keyCode == 86 && e.ctrlKey == false) || (e.keyCode == 67 && e.ctrlKey == false) || (e.keyCode == 88 && e.ctrlKey == false) || e.keyCode == 187 || (e.keyCode == 189 && e.shiftKey == true) || (e.keyCode == 190 && e.shiftKey == true) || e.keyCode == 191 || e.keyCode == 107 || e.keyCode == 109 || e.keyCode == 111 || e.keyCode == 189 || e.keyCode == 186 || e.keyCode == 188 || (e.keyCode == 61 && e.shiftKey == false) || (e.keyCode == 173 && e.shiftKey == true) || e.keyCode == 192 || (e.keyCode == 191 && e.shiftKey == true) || (e.keyCode >= 219 && e.keyCode <= 222) || e.keyCode == 106 || e.keyCode == 59 || (e.keyCode >= 48 && e.keyCode <= 57 && e.shiftKey == true))
                return false;
        }
    }
    function IsAlphaNumaric(e) {
        if ((e.keyCode >= 186 && e.keyCode <= 188) || (e.keyCode == 190) || e.keyCode == 191 ||
    e.keyCode == 192 || e.keyCode == 109 || (e.keyCode >= 219 && e.keyCode <= 222) || (e.keyCode >= 110 && e.keyCode <= 111) ||
    (e.keyCode >= 106 && e.keyCode <= 107) || e.keyCode == 59 || e.keyCode == 189 || e.keyCode == 61 || e.keyCode == 173 ||
    ((e.keyCode >= 48 && e.keyCode <= 57)  && e.shiftKey == true)) {
            return false;
        }
    }
    function IsAplhanumericwithHypenandSlash(e){
        var keyCode = event.keyCode || event.which
        var regex = new RegExp("^[a-zA-Z0-9\-/\]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    }
    function IsAlphaNumaricWithSpecialCharecter(e) {

        if ((e.keyCode >= 186 && e.keyCode <= 188) || (e.keyCode == 190)  ||
    e.keyCode == 192 || e.keyCode == 109 || (e.keyCode >= 219 && e.keyCode <= 222) || (e.keyCode >= 110 && e.keyCode <= 111) ||
    (e.keyCode >= 106 && e.keyCode <= 107) || e.keyCode == 59 || e.keyCode == 189 || e.keyCode == 61 || e.keyCode == 173 ||
    ((e.keyCode >= 48 && e.keyCode <= 57)  && e.shiftKey == true)) {
            return false;
        }
    }

    $("#Aadharcard").change(function()
    {
        var txtlength = $("#Aadharcard").val();
         

        if(txtlength.length != 12 && txtlength.length > 0)
        {
            alert("Invalid Aadhar Number");
            $("#Aadharcard").focus();
            return false;
        }
    })



    function test()
    {
         
        var existreg = $("input[name='existregstatus']:checked").val()
        if(existreg == "Yes")
        {

            window.location.href = "/Registration/BeniRegistrationPart1?Status="+existreg+"&Id=&CreatedBy="+Userid;
        }
        else
        {
            $('#divexistng').modal('hide');
        }
    }
    function exConfirmDet()
    {
        var conexistreg = $("input[name='exconexistregstatus']:checked").val()
        if(conexistreg == "Yes")
        {
            $('#exdivConfirmexistng').modal('hide');
            $(".existreglst").prop('checked', false);
            $('#divexistng').modal('show');
        }
        else
        {
            $('#exdivConfirmexistng').modal('hide');
        }
    }



    //check mobile number Avl
    function validateMobilenum(){
         
        var x = $("#mobno").val();

        var Dob =  $("#ddlday").val()+"-"+$("#ddlmnth").val()+'-'+$("#ddlyr").val();
        //  alert(x[0]);

        if(x !="" && x !=null)
        {
            if(x[0] !="7" && x[0] !="8" && x[0] !="9" )
            {
                alert("Invalid Mobile Number");
                $("#mobno").val("");
                $("#mobno").focus();
                return false;
            }
            $.get('@Url.Action("ValidateMobileWithDob", "Registration")', {UserMobile : $("#mobno").val(),Dob :Dob  }, function (dat) {
                if(dat > 0)
                {
                    alert("This Mobile number is already exists");
                    $("#mobno").val("");
                    $("#mobno").focus();
                    return false;
                }
            });
        }

    }

    function validateAadhaar(){

        var txtlength = $("#Aadharcard").val();
         
        //alert(txtlength.length);
        if(txtlength.length != 12 && txtlength.length > 0)
        {
            alert("Invalid Aadhar Number");
            $("#Aadharcard").focus();
            return false;
        }

        $.get('@Url.Action("ValidateAadhaar", "Registration")', {ValidateAadhaar : $("#Aadharcard").val() }, function (dat) {
            if(dat > 0)
            {
                alert("This Aadhaar number is already exists");
                $("#Aadharcard").val("");
                $("#Aadharcard").focus();
                return false;
            }
        });


    }

    function validateEpic(){

        $.get('@Url.Action("ValidateEpic", "Registration")', {EpicNo : $("#epiccard").val() }, function (dat) {
            if(dat > 0)
            {
                alert("This Epic number is already exists");
                $("#epiccard").val("");
                $("#epiccard").focus();
                return false;
            }
        });
    }
    //Dependent Change
    $('.depenlst').change(function() {
        var DependentStatus = $("input[name='dependentdet']:checked").val();
        var rowCount = $('.tblfamily tr').length;
        if(rowCount == 1)
        {
            AddFamilyRow()
        }
        if(DependentStatus =="Yes")
        {
            $(".tblfamily").show();
            $(".btndepen").show();
        }
        if(DependentStatus =="No")
        {
            $(".tblfamily").hide();
            $(".btndepen").hide();
        }
    });
    //Nominee Change
    $('.nomineelst').change(function() {
        var nomineedet = $("input[name='nomineedet']:checked").val();
        var rowCount = $('.tblNaminee tr').length;
        if(rowCount == 1)
        {
            NamineeAdd()
        }
        if(nomineedet =="Yes")
        {
            $(".tblNaminee").show();
            $(".btnnom").show();
        }
        if(nomineedet =="No")
        {
            $(".tblNaminee").hide();
            $(".btnnom").hide();
        }
    });
    $("#perdistid,#persubdivid,#peraddBMC,#peraddblock,#perpsid,#perPOid,#pincode,#ward,#vlge1" ).on( "change", function() {
        $("#presauto").attr('checked', false);
        $("#PreAddrdistid,#preAddrsubdiv,#preaddBMC,#preaddBlock,#preaddPS,#preaddPO,#ward2").val("0");
        $("#pincode2,#vlge2").val('');
    });
    $("#ifsccode").keypress(function() {

        var ifscval = $(this).val();
        if(ifscval.length == 4)
        {
            $(this).val(ifscval+"0");
            return false;
        }
    });
    $("#clearAadhar").click(function(){
        $("#Aadharcardprof").val("");
    });
    $("#clearEpic").click(function(){
        $("#Idproof").val("");
    });
    $("#clearBank").click(function(){
        $("#Bank").val("");
    });
    $('.checkstring').keyup(function (e) {
        var  value = $(this).val();
        if(value.length == 4 || value.length == 5 ||value.length == 6)
        {

            if(value.toLowerCase().indexOf("test") >= 0 ||  value.toLowerCase().indexOf("sample") >= 0 || value.toLowerCase().indexOf("dummy") >= 0 || value.toLowerCase().indexOf("dumy") >= 0 ||value.toLowerCase().indexOf("dammy") >= 0 | value.toLowerCase() == "edit" )
            {
                alert("Please Enter  Proper Name.");
                $(this).val("");
                $(this).focus();
                return false;
            }
        }
    });
    //Gp List for Present Address
    $("#preAddrsubdiv").change(loadGPre);
    function loadGPre() {
        $.get('@Url.Action("GetGPJSON", "Registration")', {ID :$("#preAddrsubdiv").val()}, function (dat) {
            $("#ward2").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#ward2").append("<option value=" + data.Value + ">"+data.Text+"</option>");
            });
        });
    }
    //GP list
    $("#persubdivid").change(loadGP);
     
    function loadGP() {
        $.get('@Url.Action("GetGPJSON", "Registration")', {ID :$("#persubdivid").val()}, function (dat) {
            $("#ward").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#ward").append("<option value=" + data.Value + ">"+data.Text+"</option>");
            });
            //Present Address
            $("#ward2").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#ward2").append("<option value=" + data.Value + ">"+data.Text+"</option>");
            });
        });
    }

    function ConfirmDet()
    {
        var conexistreg = $("input[name='conexistregstatus']:checked").val()

        $("#divConfirmexistng").modal('hide');
        if(conexistreg == "Yes")
        {
            //$('#divConfirmexistng').modal('hide');
            // $(".existreglst").prop('checked', false);
            //  $('#divexistng').modal('show');


            window.location.href = "/Registration/BeniPart2?BeniSno="+BenSno;

            return false;
        }
        else
        {
            Endform()
            ///var url = "/SSYIDCard/SmcCardView.aspx/?Benifid="+BenSno;
            //$('iframe#ifr').attr('src', url);
            //$('#myModal').modal('show');
        }
    }

    function ConfirmSMC()
    {
        var SmcCheck = $("input[name='nmsmc']:checked").val()
        $("#divConfirmSmcCard").modal('hide');

        if(SmcCheck == "Yes")
        {


            window.location.href = "/Registration/UploadPhotoSign?BeniSno="+BenSno+"&CreatedBy="+Userid;

        }
        else
        {
            $("#divConfirmexistng").modal('show');


            // var url = "/SSYIDCard/SmcCardView.aspx/?Benifid="+BenSno;
            // $('iframe#ifr').attr('src', url);
            // $('#myModal').modal('show');
        }

    }



    $(".btnclose").click(function(){

        Endform()
    })

    function Endform()
    {


        //  alert("close click");
        if(Userid == "1"){

            window.location.href = "/Registration/BeniRegistrationPart1?Status=&Id=&CreatedBy=1";
        }
        else
        {
            window.location.href = "/Agent/BenReg";



        }
    }
</script>


