@model SSY.Models.SignUpUser
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_MainHomeLayout.cshtml";
}
<script>
    var Result = @Html.Raw(Json.Encode(ViewBag.SucessMes))
    var userType = "";
</script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<style type="text/css">
    .input-label {
        text-align: left !important;
        min-width: 130px !important;
    }

    .logo {
        padding: 15px 0;
        font-size: 25px;
        color: #333;
        font-weight: bold;
    }

    .row > div {
        margin-bottom: 0px !important;
    }

    .dropdown-toggle, .dropdown-menu {
        width: 200px !important;
    }

    .forget_body {
        width: 600px;
        margin: auto;
        padding: 20px 7px;
        border: 1px solid #ddd;
        box-shadow: #ddd 0px 0px 14px 1px;
    }

    .for_radio {
        width: fit-content;
        margin: auto;
    }
    .captcha_set {
        display: block;
        width: 600px;
        margin: auto;
    }
    .capcode {
        height: 45px;
        margin: 15px 3px;
    }
    .ReloadBtn {
        height: 46px;
        width: 46px;
        font-size: 20px;
        padding: 9px 10px;
        text-align: center;
        margin: 15px 0px;
        background-color: #337ab7;
        color: #fff;
        cursor: pointer;
    }
    .captcha_entry {
        margin: 14px 15px;
        padding: 8px 0px;
    }
    .CaptchaWrap {
        display: flex;
    }
</style>
<br class="clearfix" />
<br class="clearfix" />
@Html.ValidationSummary()
<div class="container" style="height : 500px;">

    @*@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { onsubmit = "return Validateall()", id = "fp_form", @class = "form-signin text-left" }))
        {*@

        @*Three User Types*@
        <form method="post" id="form_gtdet">
            @Html.AntiForgeryToken()
            <div class="col-md-12">
                <div class="forget_body">
                    <p style="text-align: center;" class="clsp20">Forgot Password</p>
                    <div class="row">
                        <div class="form-group for_radio" id="forgotdet">
                            <label class="radio-inline">
                                <input type="radio" name="rdforgot" class="rdforgot" value="Dept" id="forgotdept">Department
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="forgotbenif" class="rdforgot" name="rdforgot" value="Benf">Beneficiary
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rdforgot" id="forgotdept" class="rdforgot" value="Dept">Service Provider
                            </label>
                        </div>
                    </div>


                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            @*Beneficary Get SSIN*@
                            <div class="container-fluid" id="sign" style="display:none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group extra-space">
                                                <span class="input-group-addon input-label">SSIN Number<span style="color: red"> *</span></span>
                                                @Html.TextBox("SSINNumber", "", new { @class = "form-control", placeholder = "SSIN Number", req = "Req", message = "Please Enter Mobile Number", @onkeypress = "return IsNumeric(event);", maxlength = "15" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div style="width: fit-content;margin:auto;">
                                            <button type="button" id="ID_ForgetBen" class="btn btn-primary">Get New Password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Department and Service Provider User Code Get Div*@
                            <div class="container-fluid" id="deptforgot" style="display:none;">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group extra-space">
                                                <span class="input-group-addon input-label">User Code<span style="color: red"> *</span></span>
                                                @Html.TextBox("usercode", "", new { @class = "form-control", placeholder = "User Code", req = "Req" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        @*<a id="GetDeptDet" class="btn btn-primary ">Get New Password</a>*@
                                        <div style="width:fit-content; margin:auto;">
                                            <button type="button" id="ID_ForgetUser" class="btn btn-primary">Get New Password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*OTP Validation Screen*@

                            <div class="container">
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3>Enter OTP(One Time Password)</h3>
                                            </div>
                                            <div class="modal-body">
                                                <p>Your One time password(OTP) has been sent to your mobile number <b id="id_mobno"></b>. Please enter the code now : </p><br />
                                                <input type="text" class="form-control" id="txt_votp" />
                                            </div>
                                            <div class="modal-footer">
                                                <buton type="submit" class="btn btn-success" data-dismiss="modal" id="btn_votp">Verify OTP</buton>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
    <br />
    <br />
    </form>



    @*Password Set Up Screen*@
    @* <form  method="post" >  *@
        <div class="captcha_set">
            <div id="formCheckPassword">
                <div class="form-group">
                    <label>Enter new Password</label>
                    <input type="password" class="form-control" name="password" id="ID_Forget_password" />
                </div>
                <div class="form-group">
                    <label>Renter the new Password</label>
                    <input type="password" class="form-control" name="cfmPassword" id="ID_Forget_cfmPassword" />
                </div>

                <div class='CaptchaWrap'>
                    <div id="CaptchaImageCode" class="CaptchaTxtField">
                        <canvas id="CapCode" class="capcode" width="300" height="80"></canvas>
                    </div>
                    <div class="ReloadBtn" onclick='CreateCaptcha();'>
                        @*<input type="button">*@
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </div>
                    <div class="captcha_entry">
                        <input type="text" id="UserCaptchaCode" class="form-control CaptchaTxtField" autocomplete="off" value="" placeholder='Enter Captcha - Case Sensitive'>
                        <span id="WrongCaptchaError" class="error"></span>
                    </div>

                </div>
                <div class="col-md-12">
                    <span id="SuccessMessage" class="success">Hurray! Your have successfully entered the captcha.</span>
                </div>
                <div class="col-md-12">
                    <input type="submit" id="btn_passupdate" class="btn btn-success" value="submit" />
                </div>


            </div>
            </div>
    @* </form>*@
</div>

<input type="hidden" id="ID_MobileNumber" />
<input type="hidden" id="ID_UserType" />
<input type="hidden" id="ID_UserId" />
<input type="hidden" id="ID_BenSno" />
<script type="text/javascript">
    $(document).ready(function () {
        var message = Result;
        if (message != "" && message != null )
        {
           alert(message);
            window.location.href = "/Home/ForgotPassword";
        }
        $("#deptforgot").hide();
        $("#sign").hide();
        $('#formCheckPassword').hide();

    });
    function ClearAll() {
        window.location.href = "/Home/ForgotPassword";
    }
    function IsNumeric(e) {
        var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57));
        return ret;
    }
    $('.rdforgot').change(function () {

        var ForgotType = $("input[name='rdforgot']:checked").val()
        if (ForgotType == "Benf") {
            $("#sign").show();
            $("#deptforgot").hide();
        }
        else {
            $("#sign").hide();
            $("#deptforgot").show();

            $("#usercode").val('');
            $("#Userid").val('');
            $("#Email").val('');
            $("#FirstName").val('');
            $("#Mobilenum").val('');
        }
    });



    //**************  beneficary Forget password Details
    $("#ID_ForgetBen").click(function () {

        var ssin = $("#SSINNumber").val();
        if (ssin == null || ssin == "") {
            alert("Please Enter SSIN Number");
            $("#SSINNumber").focus();
            return false;
        }
        $.get('@Url.Action("GetBeniForgetPasswordDetails", "Login")', { SSIN: ssin }, function (Res) {
            debugger;
            //alert(JSON.stringify(Res));
            if (Res.Status == 999)
            {
                alert("No Data Found");
                return false;
            }
            else if (!Res.MobileNumber) {
                alert("Mobile Number not exists");
                return;
            }
            else
            {
                $("#myModal").modal('toggle');
                $("#ID_BenSno").val(Res.UserId);
                $("#id_mobno").text(Res.MobileNumber.substr(0, 2) + "xxxxxx" + Res.MobileNumber.substr(8, 3));
                $("#ID_MobileNumber").val(Res.BenMobileNo);
                $("#SSINNumber").val("");

            }
        });
    });

    // ************* User Code Forget Password
    $("#ID_ForgetUser").click(function () {
        var UserCode = $("#usercode").val();
        if (UserCode == null || UserCode == "") {
            alert("Please Enter UserCode");
            $("#usercode").focus();
            return false;
        }
        $("#id_mobno").text("");
        $.get('@Url.Action("GetDeptUserForgetPasswordDetails", "Login")', { Userid: UserCode }, function (Res) {
            debugger;
            $("#id_mobno").text("");
            var ForgotTypeDeptServ = $("input[name='rdforgot']:checked").val()
            if (Res.Status == 999) {
                alert("No Data Found");
                return false;
            }
            else if (!Res.MobileNumber) {
                alert("Mobile Number not exists");
                return;
            }
            else if (Res.Status == 200)  {
                $("#myModal").modal('toggle');
                $("#ID_UserId").val(Res.UserId);
                //$("#id_mobno").text(Res.Mobileno);
                $("#id_mobno").text(Res.MobileNumber.substr(0, 2) + "xxxxxx" + Res.MobileNumber.substr(8, 3));
                $("#ID_MobileNumber").val(Res.MobileNumber);
                $("#usercode").val("");
            }

            else {
                alert("Please check user details . Contact technical team to resolve.");
            }
        });
    });

    $("#btn_votp").click(function () {
        debugger;
        var Vid = 0;
        if ($("#id_userid").val() != null && $("#id_userid").val() == '') {
            Vid = $("#id_bensno").val();
        } else {
            Vid = $("#id_userid").val();
        }
        $.get('@Url.Action("VerifiyOtp", "Login")', { MobileNumber: $("#ID_MobileNumber").val(), OTP: $("#txt_votp").val() }, function (res) {
            debugger;
            if (res == 0) {
                debugger;
                //$("#forgotdet").hide();
                //$("#deptforgot").hide();
                //$("#sign").hide();
                //$('#new_page').show();

                $("#txt_votp").val("");
                $('#form_gtdet').hide();
                $('#formCheckPassword').show();
            }
            else {
                debugger;
                alert("Not a valid OTP. ");
            }
        })
    })


    $("#btn_passupdate").click(function () {
        debugger;
        var ForgotType = $("input[name='rdforgot']:checked").val();

        if (!$("#ID_Forget_password").val() || !$("#ID_Forget_cfmPassword").val()) {
            alert("Please fill all the fields");
            return;
        }
        if ($("#ID_Forget_password").val() != $("#ID_Forget_cfmPassword").val()) {
            alert("Password and Confirm Password should be same");
            return;
        }
        var model = {};

        if (CheckCaptcha()) {

            debugger;
            var pwd = $("#ID_Forget_password").val();
            if (ForgotType && ForgotType == 'Benf') {
                model = {
                    "Password": pwd,
                    "UserId": $("#ID_BenSno").val(),
                    "UserType": "Beneficary",
                };

            } else {
                model = {
                    "Password": pwd,
                    "UserId": $("#ID_UserId").val(),
                    "UserType": "User",
                };

            }

            $.post('@Url.Action("UserUpdateNewPassword","Home")', model, function (res) {
                $("#ID_BenSno").val("");
                $("#ID_UserId").val("");
                $("#ID_Forget_password").val("");
                $("#ID_MobileNumber").val("");
                alert(res.msg);
                window.location.href = '/Home/Index';
            })
        }
    })

    $("#deptgnratepwd").click(function () {
        debugger;
        var ForgotType = $("input[name='rdforgot']:checked").val();
        if (ForgotType == "Benf") {
            var bensno = $("#id_bensno").val();
            var mobno = $("#id_hmobno").val();
            var email = $("#id_email").val();
            var ssin = $("#SSINNumber").val();

            if (ssin == null || ssin == "") {
                alert("ssin is null");
                $("#SSINNumber").focus();
                return false;
            }
            if (mobno == null || mobno == "") {
                alert("mobile number is null");
                $("#SSINNumber").focus();
                return false;
            }
            if (bensno == null || bensno == "") {
                alert("Bensno is null");
                $("#SSINNumber").focus();
                return false;
            }

            $.post('@Url.Action("ForgotPassword", "Home")', { BenSno: bensno, Email: email, BenMobileNo: mobno, SSINNumber: ssin }, function (Res) {
                debugger;
            alert(Res);
            window.location.href = "/Home/Index";
        });

        } else {

        if (userType == "10") {
            alert("Please contact your ALC.")
            return false;
        }
        var Usrcd = $("#usercode").val();
        var MobileNumber = $("#id_hmobno").val();
            var userid = $("#ID_UserId").val();
            var emailid = $("#id_email").val();
        if (Usrcd == null || Usrcd == "") {
            alert("usercode is null");
            return false;
        }
        if (MobileNumber == null || MobileNumber == "") {
            alert("MobileNumber is null");
            return false;
            }
            $.post('@Url.Action("DeptForgotPassword", "Home")', { Userid: userid, Mobileno: MobileNumber, Email: emailid }, function (Res) {
                debugger;
            alert(Res);
            window.location.href = "/Home/Index";
        });
    }





    })


    //Captacha Code start
    var cd;

    $(function () {
        CreateCaptcha();
    });

    // Create Captcha
    function CreateCaptcha() {
        //$('#InvalidCapthcaError').hide();
        var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9');

        var i;
        for (i = 0; i < 6; i++) {
            var a = alpha[Math.floor(Math.random() * alpha.length)];
            var b = alpha[Math.floor(Math.random() * alpha.length)];
            var c = alpha[Math.floor(Math.random() * alpha.length)];
            var d = alpha[Math.floor(Math.random() * alpha.length)];
            var e = alpha[Math.floor(Math.random() * alpha.length)];
            var f = alpha[Math.floor(Math.random() * alpha.length)];
        }
        cd = a + ' ' + b + ' ' + c + ' ' + d + ' ' + e + ' ' + f;
        $('#CaptchaImageCode').empty().append('<canvas id="CapCode" class="capcode" width="300" height="80"></canvas>')

        var c = document.getElementById("CapCode"),
            ctx = c.getContext("2d"),
            x = c.width / 2,
            img = new Image();

        img.src = "https://pixelsharing.files.wordpress.com/2010/11/salvage-tileable-and-seamless-pattern.jpg";
        img.onload = function () {
            var pattern = ctx.createPattern(img, "repeat");
            ctx.fillStyle = pattern;
            ctx.fillRect(0, 0, c.width, c.height);
            ctx.font = "46px Roboto Slab";
            ctx.fillStyle = '#ccc';
            ctx.textAlign = 'center';
            ctx.setTransform(1, -0.12, 0, 1, 0, 15);
            ctx.fillText(cd, x, 55);
        };


    }

    // Validate Captcha
    function ValidateCaptcha() {
        var string1 = removeSpaces(cd);
        var string2 = removeSpaces($('#UserCaptchaCode').val());
        if (string1 == string2) {
            return true;
        }
        else {
            return false;
        }
    }

    // Remove Spaces
    function removeSpaces(string) {
        return string.split(' ').join('');
    }

    // Check Captcha
    function CheckCaptcha() {
        var result = ValidateCaptcha();
        if ($("#UserCaptchaCode").val() == "" || $("#UserCaptchaCode").val() == null || $("#UserCaptchaCode").val() == "undefined") {
            $('#WrongCaptchaError').text('Please enter code given below in a picture.').show();
            $('#UserCaptchaCode').focus();
        } else {
            if (result == false) {
                $('#WrongCaptchaError').text('Invalid Captcha! Please try again.').show();
                CreateCaptcha();
                $('#UserCaptchaCode').focus().select();
            }
            else {
                $('#UserCaptchaCode').val('').attr('place-holder', 'Enter Captcha - Case Sensitive');
                CreateCaptcha();
                $('#WrongCaptchaError').fadeOut(100);
                $('#SuccessMessage').fadeIn(500).css('display', 'block').delay(5000).fadeOut(250);
            }
        }
        return result;
    }
        // Captacha Code end

</script>
