@model SSY.Models.Reports
@{
	ViewBag.Title = "Rejected";
	Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";

}
<script>
    var UserType = @Html.Raw(Json.Encode(ViewBag.UserType))
    var DeptUserid = @Html.Raw(Json.Encode(ViewBag.DeptUserid))
</script>
<link href="~/Content/ssy_css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ssy_css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Content/ssy_js/jquery.dataTables.min.js"></script>
<script src="~/Content/ssy_js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!---------------------------------------->
<style>
	th {
		font-size: 13px;
	}

	td {
		font-size: 13px;
	}

	#fromdate, #todate {
		/*position: absolute;*/
		z-index: 9999;
	}

	/*.dataTables_filter {
		margin-left: 280px !important;
	}

	.dataTables_length, .dataTables_filter {
		display: none !important;
	}*/
</style>
<div class="container-fluid" style="margin-top:-29px;">
	<!--------------------------------------------------------------->
	<div class="wizard-inner" style="display:none;">
		<ul class="breadcrumb2">
			<li class="completed"><a href="#" id="ssy">SSY</a></li>
			<li class="active"><a href="#" id="wbtwss">WBTWSSS</a></li>
			<li class=""><a href="#" id="bocw">BOCW</a></li>
		</ul>
	</div>
	<div class="heightoverflow">
		<div class="card">
			<div class="container-fliud" id="Div1">
				<div class="row">
					<center>  <h3 class="product-description">Rejected Application Summary</h3></center>

				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<div class="input-group extra-space">
								<span class="input-group-addon input-label">District</span>

								@Html.DropDownListFor(m => m.disid, new SelectList(Model.district, "Value", "Text"), new { @class = "form-control District" })
							</div>
						</div>
					</div>
					<div class="col-md-3" id="divsub">
						<div class="form-group">
							<div class="input-group extra-space">
								<span class="input-group-addon input-label">Sub Division</span>
								@Html.DropDownListFor(m => m.subdivid, new SelectList(Model.subdivision, "Value", "Text"), new { @class = "form-control", @tabindex = "7" })
							</div>
						</div>
					</div>
					<div class="col-md-3" id="divloc">
						<div class="form-group">
							<div class="input-group extra-space">
								<span class="input-group-addon input-label">Location</span>
								@Html.DropDownListFor(m => m.muncorp, new SelectList(Model.muncorpname, "Value", "Text"), new { @class = "form-control Location ", id = "Location", @tabindex = "8" })
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<div class="input-group extra-space">
								<span class="input-group-addon input-label">Worker Type</span>
								@Html.DropDownList("schemeid", new List<SelectListItem>
												{
													 //new SelectListItem{ Text="-- Select Worker Type --", Value = "0" },
													  new SelectListItem{ Text="ALL", Value = "ConstructionWorker,TransportWorker,Others" },
													new SelectListItem{ Text="Construction Worker", Value = "ConstructionWorker" },
													 new SelectListItem{ Text="Transport Worker", Value = "TransportWorker" },
													  new SelectListItem{ Text="Other Worker", Value = "Others" }
												}, new { @class = "form-control" })
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<div class="input-group extra-space">
								<span class="input-group-addon input-label">From Date</span>
								@Html.TextBox("fromdate", "", null, new { @class = "form-control" })
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<div class="input-group extra-space">
								<span class="input-group-addon input-label">To Date</span>
								@Html.TextBox("todate", "", null, new { @class = "form-control" })
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<a class="btn btn-primary" onclick="GetReportByClick()">Submit</a>
					</div>
					@*<div class="col-md-3">
						<div class="input-group pull-right" style="align-content:flex-end; width:280px;">
							<input type="Search" placeholder="" class="form-control searchval" onkeydown="return IsAlphaNumaric(event)" />
							<div class="input-group-btn">
								<button class="btn btn-info getSearchDet" style="background-color:#094c86;">
									<span class="glyphicon glyphicon-search" style="height: 19px;"></span>
								</button>
							</div>
						</div>
					</div>*@
				</div>

				<br />
				<br />
				<div class="row">
					<div id="divnote" style="margin-left:15px;"> <b>Legacy Records</b><div style="background-color:#CDBB79;height:10px;width:50px;"></div></div>
					<div class="col-md-12" style="margin-top:-50px;">


						<div style="margin-top:-20px;">
                            <table class="table table-striped table-bordered Apllications" cellspacing="0" width="100%">
                                <thead style="background-color:#87CEEB">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Provisional/SSIN Number</th>
                                        <th>Reg.No</th>
                                        <th>Applicant Name</th>
                                        <th>Date Of Application</th>
                                        @*<th>Status</th>*@
                                        <th>Date Of Rejection</th>
                                        <th>Remarks</th>
                                        <th class="td_hide">Duplication</th>
                                        <th class="td1_hide">Action History</th>
                                    </tr>
                                </thead>
                                <div id="DataTables_Table_0_processing" class="dataTables_processing panel panel-default" style="display: none;">Processing...</div>
                                <tbody></tbody>
                            </table>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-1 pull-right" style="margin-right:-15px;padding-top:5px;">
							<div class="input-group input-group-sm">
								<input type="text" id="txtPaging" class="form-control" placeholder="Jump to Page..">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button" id="btnPaging">Go!</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div id="loaderdiv" style="display:none;"> <center> <div class="loaderreport"> </div> Please Wait ...</center> </div>
			</div>

			<div class="container-fliud" id="Div2" style="display:none">
				<div class="row">
					<div class="col-md-12">
						<center><h3 class="product-description">WBTWSSS Rejected Application Summary </h3></center>

						<table class="table table-striped row-border WBTWSSSApllications" cellspacing="0" width="100%">
							<thead style="background-color:#87CEEB">
								<tr>
									<th>S.No</th>
									<th>Applicant Name</th>
									@* <th>Scheme</th>*@
									<th>Date Of Application</th>
									<th>Status</th>
									<th>Date Of Rejection</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="container-fliud" id="Div3" style="display:none">
				<div class="row">

					<div class="col-md-12">
						<center><h3 class="product-description">Bocw Rejected  Application Summary </h3></center>

						<table class="table table-striped table-bordered BocwApllications" cellspacing="0" width="100%">
							<thead style="background-color:#87CEEB">
								<tr>
									<th>S.No</th>
									<th>Applicant Name</th>
									<th>Date Of Application</th>
									<th>Status</th>
									<th>Date Of Rejection</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-------------------------------------------------->
</div>
<input type="hidden" id="BenSno" value="0" name="BenSno" />
<input type="hidden" id="pageval" value="0" name="pageval" />
<input type="hidden" id="AcUserType" value="0" name="AcUserType" />
<input type="hidden" id="BeniAppSt" value="2" name="BeniAppSt" />
<script>
    $(document).ready(function () {
$("#AcDepUserId").val(DeptUserid);
        $("#AcUserType").val(UserType);
        $("#divfooter").empty();

            if (UserType == "1" || UserType == "21" || UserType == "22" || UserType == "23")
        {
            $("#disid").val("-1");
            $("#subdivid").val("-1");
            $("#Location").val("-1");
        }
            if (UserType == "6")
        {

        }
               // New Changes
            if (UserType == "5")
        {
             
            $("#disid").attr("disabled", true);
            $("#subdivid").attr("disabled", true);
                $.get('@Url.Action("GetMultipleLoca", "Registration")', { Uid: DeptUserid }, function (dat) {
                $("#Location").find("option").remove();

                $.each(dat, function (i, data) {
                     
                    $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");

                });
                $("#Location").attr("multiple", "multiple");
                $('#Location').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#Location").multiselect('rebuild');
            });
        }
            if (UserType == "6")
        {
            $("#disid").attr("disabled", true);
                $.get('@Url.Action("GetMultipleSubDiv", "Registration")', { Uid: DeptUserid }, function (dat) {
                $("#subdivid").find("option").remove();
                $("#subdivid").append("<option value=-1> " + " -- Select Subdivision --" + " </option>");
             //   $("#subdivid").append("<option value=0> " + "ALL" + " </option>");
                RepSubDVision = "";
                $.each(dat, function (i, data) {
                     
                    $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");

                    RepSubDVision +=  data.Value +"," ;
                });

            });
        }
            if (UserType == "7" || UserType == "3" || UserType == "4")
        {
                $.get('@Url.Action("GetMultipleDistricts", "Registration")', { Uid: DeptUserid}, function (dat) {
                 
                var disticts ="";
                $("#disid").find("option").remove();
                $("#disid").append("<option value="+-1+"> " + " -- Select District --" + " </option>");
              //  $("#disid").append("<option value="+0+"> " + "ALL" + " </option>");
                ReportDistrics = "";
                $.each(dat, function (i, data) {
                    $("#disid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    ReportDistrics += data.Value+",";
});
//$("#disid").attr("multiple", "multiple");
//$('#disid').multiselect({
// columns: 3,
// placeholder: 'Select Districts',
// search: true,
// includeSelectAllOption: true
//})
//$("#disid").multiselect('rebuild');
            });
        }

        if (UserType == 5) {

            $('.td1_hide').hide();
            $('#revived').hide();
            //$('#divnote').hide();
            $("#revived").remove();
        }
        else
        {
            $('#revived').show();
            //$('#divnote').show();


        }

        getdates()
        $('.Apllications').DataTable({
        });
        // GetReport()
    });

      $("#disid").change(loadSubdiv);
    function loadSubdiv() {

        if ($("#disid").val() == "0") {
			if (UserTypeid == "1" || UserTypeid == "2" || UserTypeid == "21" || UserTypeid == "22" || UserTypeid == "23" || UserTypeid == "24")
            {
                $.get('@Url.Action("GetSubdivisionAllJSON", "Report")', { ID: 0 }, function (dat) {
                    $("#subdivid").find("option").remove();

                    RepSubDVision = "";
                    $.each(dat, function (i, data) {
                         

                        if (data.Value != "-1")
                            $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                        RepSubDVision += data.Value + ",";
                    });
                });
                $.get('@Url.Action("GetLocationAllJSON", "Report")', { ID: 0 }, function (dat) {
                     
                    $("#Location").find("option").remove();

                    sendloactions = "";
                    $.each(dat, function (i, data) {
                         
                        if (data.Value != "-1" && data.Value != "0" )

                            $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                        sendloactions += data.Value + ",";
                    });
                    $("#Location").attr("multiple", "multiple");
                    $('#Location').multiselect({
                        columns: 3,
                        placeholder: 'Select Languages',
                        search: true,

                        includeSelectAllOption: true
                    })
                    $("#Location").multiselect('rebuild');


                    $('option', $('#Location')).each(function (element) {
                        $(this).removeAttr('selected').prop('selected', false);
                    });
                    $("#Location").multiselect('refresh');
                });
            }
            else
            {
                $.get('@Url.Action("GetSubDivByDistrict", "Report")', { ID: ReportDistrics }, function (dat) {
                    $("#subdivid").find("option").remove();

                    $("#subdivid").append("<option value="+0+"> " + "ALL" + " </option>");
                    RepSubDVision = "";
                    $.each(dat, function (i, data) {
                         

                        if (data.Value != "-1")
                            $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                        RepSubDVision += data.Value + ",";
                    });
                    GetAlcLocations();
                });
            }
        }
        else {
            $.get('@Url.Action("GetSubdivisionJSON", "Login")', { ID: $("#disid").val() }, function (dat) {
                $("#subdivid").find("option").remove();
                $("#subdivid").append("<option value=0>ALL</option>");
                RepSubDVision = "";
                $.each(dat, function (i, data) {
                     

                    if (data.Value != "0")
                        $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    RepSubDVision += data.Value + ",";
                });
            });
            $.get('@Url.Action("GetblockforDisRepJSON", "Report")', { ID: $("#disid").val() }, function (dat) {
                 
                $("#Location").find("option").remove();

                sendloactions = "";
                $.each(dat, function (i, data) {
                     
                    if (data.Value != "-1" && data.Value != "0")
                        $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    sendloactions += data.Value + ",";
                });
                $("#Location").attr("multiple", "multiple");
                $('#Location').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#Location").multiselect('rebuild');

                $('option', $('#Location')).each(function (element) {
                    $(this).removeAttr('selected').prop('selected', false);
                });
                $("#Location").multiselect('refresh');
            });
        }

    }
    //Load Locations
    $("#subdivid").change(loadBlock);
    function loadBlock() {
         
        if($("#subdivid").val() == "0")
        {
            GetAlcLocations();
        }

        else
        {
            $.get('@Url.Action("GetblockforSubRepJSON", "Report")', { ID: $("#subdivid").val() }, function (dat) {
                 
                $("#Location").find("option").remove();

                sendloactions = "";
                $.each(dat, function (i, data) {
                     
                    if (data.Value != "0")
                        $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    sendloactions += data.Value + ",";
                });
                $("#Location").attr("multiple", "multiple");
                $('#Location').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#Location").multiselect('rebuild');
                $('option', $('#Location')).each(function (element) {
                    $(this).removeAttr('selected').prop('selected', false);
                });
                $("#Location").multiselect('refresh');
            });
        }
    }

    $(".getSearchDet").click(function () {
         
        var value = $(".searchval").val();

        if (value == "" || value == null) {
            alert("Please Enter Search Value");
            return false;
        }

        GetReport()
    })
    function GetReport(){

        // $("#loaderdiv").show();
        $('.Apllications tbody').empty();


        //$.get('@Url.Action("GetApplicationSum", "Home")',{status :2,fromdate : $("#fromdate").val(),todate : $("#todate").val()}, function (result) {
         
        var table = $('.Apllications').DataTable();
        table.destroy();
        $('.Apllications tbody').empty();
        var value = $(".searchval").val();
        // $.each(result, function (i, data) {

        //   var num = i + 1;

        //   if(data.IsUnique == "P")
        //       $('.Apllications').append('<tr><td>' + num + '</td><td>' + data.SSI_Number + '</td><td>'+data.RegNumber+'</td><td><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + data.BenSno + ');" id=' + data.Name + '>' + data.Name + '</a></td><td>' + data.Date + '</td><td>' + "Rejected" + '</td><td>' + data.VerifyDate + '</td><td>' + data.Remarks + '</td><td class="tr_hide"><font color="#DAA520"><strong>'+"PENDING"+'</strong></font></td><td class="tr1_hide"><a href="#" data-toggle="modal" data-target=".ActionHispop" onclick="BenActionHistory(' + data.BenSno + ');">' + "View" + '</a></td></tr>')
        //   if(data.IsUnique == "Y")
        //        $('.Apllications').append('<tr><td>' + num + '</td><td>' + data.SSI_Number + '</td><td>'+data.RegNumber+'</td><td><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + data.BenSno + ');" id=' + data.Name + '>' + data.Name + '</a></td><td>' + data.Date + '</td><td>' + "Rejected" + '</td><td>' + data.VerifyDate + '</td><td>' + data.Remarks + '</td><td class="tr_hide"><font color="#008000"><strong>'+"UNIQUE"+'</strong></font></td><td class="tr1_hide"><a href="#" data-toggle="modal" data-target=".ActionHispop" onclick="BenActionHistory(' + data.BenSno + ');">' + "View" + '</a></td></tr>')
        //    if(data.IsUnique == "N")
        //       $('.Apllications').append('<tr><td>' + num + '</td><td>' + data.SSI_Number + '</td><td>'+data.RegNumber+'</td><td><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + data.BenSno + ');" id=' + data.Name + '>' + data.Name + '</a></td><td>' + data.Date + '</td><td>' + "Rejected" + '</td><td>' + data.VerifyDate + '</td><td>' + data.Remarks + '</td><td class="tr_hide"><font color="#FF0000"><strong>'+"DUPLICATE"+'</strong></td><td class="tr1_hide"><a href="#" data-toggle="modal" data-target=".ActionHispop" onclick="BenActionHistory(' + data.BenSno + ');">' + "View" + '</a></td></tr>')

        //    });
        var SubLocationselected = $("#Location option:selected");
        var SubLocationmessage = "0";
        SubLocationselected.each(function () {
            SubLocationmessage += "," + $(this).val();
        });


         $('#DataTables_Table_0_processing').show();
        $.post('@Url.Action("GetApplicationSum", "Home")', { status: 2, fromdate: $("#fromdate").val(), todate: $("#todate").val(), SearchValue: value, Locations: SubLocationmessage, WorkerType: $("#schemeid").val(), BenRegType: "" }, function (result) {

            $('.Apllications').dataTable().fnDestroy();
            $('.Apllications tbody').empty();

            if (UserType == 5) {



                      $('.Apllications').DataTable({

                          //"pagingType": "input",
                          // "processing": true,
                          // "serverSide": true,


                          "data": result,

                          "columns": [
                              { "data": "Sno" },
                              { "data": "SSI_Number" },
                              { "data": "RegNumber" },

                              {
                                  "data": "BenSno", 'render': function (data, type, row) {
                                      return '<td><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + row.BenSno + ');" id=' + row.Name + '>' + row.Name + '</a></td>';

                                  }
                              },
                              { "data": "Date" },
                              { "data": "DiffDate" },
                              { "data": "UploadDocument" },


                              {
                                  "data": "IsUnique", 'render': function (data, type, row) {
                                      if (row.IsUnique == "P")
                                          return '<td class="Pending tr_hide"><font color="#DAA520"><strong>PENDING</strong></font></td>';
                                      if (row.IsUnique == "Y")
                                          return '<td class="Approved tr_hide"><font color="#008000"><strong>UNIQUE</strong></font></td>';
                                      if (row.IsUnique == "N")
                                          return '<td class="Rejected tr_hide"><font color="#FF0000"><strong>DUPLICATE</strong></font></td>';
                                  }
                              },

                              {
                                  "data": "BenSno", "visible": false, 'render': function (data, type, row) {
                                      return '<td class="tr1_hide"><a href="#" data-toggle="modal" data-target=".ActionHispop" onclick="BenActionHistory(' + row.BenSno + ');">' + "View" + '</a></td>';

                                  }
                              },],

                          "rowCallback": function (row, data, index) {


                              if (data.ReviveStatus == 1) {
                                  $('td', row).css('background-color', '#CDBB79');
                              }
                          }


                      });


                  }
                  else {



                      $('.Apllications').DataTable({

                          //"pagingType": "input",
                          // "processing": true,
                          //"serverSide": true,

                          "data": result,

                          "columns": [
                              { "data": "Sno" },
                              { "data": "SSI_Number" },
                              { "data": "RegNumber" },

                              {
                                  "data": "BenSno", 'render': function (data, type, row) {
                                      return '<td><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + row.BenSno + ');" id=' + row.Name + '>' + row.Name + '</a></td>';

                                  }
                              },
                              { "data": "Date" },
                              { "data": "DiffDate" },
                              { "data": "UploadDocument" },


                              {
                                  "data": "IsUnique", 'render': function (data, type, row) {
                                      if (row.IsUnique == "P")
                                          return '<td class="Pending tr_hide"><font color="#DAA520"><strong>PENDING</strong></font></td>';
                                      if (row.IsUnique == "Y")
                                          return '<td class="Approved tr_hide"><font color="#008000"><strong>UNIQUE</strong></font></td>';
                                      if (row.IsUnique == "N")
                                          return '<td class="Rejected tr_hide"><font color="#FF0000"><strong>DUPLICATE</strong></font></td>';
                                  }
                              },

                              {
                                  "data": "BenSno", 'render': function (data, type, row) {
                                      return '<td class="tr1_hide"><a href="#" data-toggle="modal" data-target=".ActionHispop" onclick="BenActionHistory(' + row.BenSno + ');">' + "View" + '</a></td>';

                                  }
                              },],

                          "rowCallback": function (row, data, index) {

                              //ReviveStatus
                              if (data.ReviveStatus == 1) {
                                  $('td', row).css('background-color', '#CDBB79');
                              }
                          }


                      });

                      //var oTable = $('.Apllications').DataTable();
                      //oTable.fnPageChange(3);

                }

                $('#DataTables_Table_0_processing').hide();
        });

     //   if (UserType == 5) {


     //       $('.Apllications').DataTable({

     //          // "processing": true,
     //         //  "serverSide": true,

     //           "ajax":{
     //               "url": "/Home/GetApplicationSum",
     //               "type": "POST",
					//"data": { status: 2, fromdate: $("#fromdate").val(), todate: $("#todate").val(), SearchValue: value, Locations: SubLocationmessage, WorkerType: $("#schemeid").val(), BenRegType: ""},
     //               "dataType": "JSON"
     //           },

     //           "columns": [
     //               {"data" : "Sno"},
     //               { "data": "SSI_Number" },
     //                { "data": "RegNumber" },

     //                { "data": "BenSno",'render': function (data, type, row) {

     //                        return '<td><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + row.BenSno + ');" id=' + row.Name + '>' + row.Name + '</a></td>';




     //                }},
     //               { "data": "Date" },
     //               { "data":  "VerifyDate" },
     //                { "data":  "Remarks" },


     //                { "data": "IsUnique",'render': function (data, type, row) {
     //                    if(row.IsUnique == "P")
     //                        return '<td class="Pending tr_hide"><font color="#DAA520"><strong>PENDING</strong></font></td>';
     //                    if(row.IsUnique == "Y")
     //                        return '<td class="Approved tr_hide"><font color="#008000"><strong>UNIQUE</strong></font></td>';
     //                    if(row.IsUnique == "N")
     //                        return '<td class="Rejected tr_hide"><font color="#FF0000"><strong>DUPLICATE</strong></font></td>';} },

     //             { "data": "BenSno","visible": false, 'render': function (data, type, row) {
     //                 return '<td class="tr1_hide"><a href="#" data-toggle="modal" data-target=".ActionHispop" onclick="BenActionHistory(' + row.BenSno + ');">' + "View" + '</a></td>';

     //             }},],

     //           "rowCallback": function( row, data, index ) {

     //           // alert();
     //               if ( data.Regtype == "L" ) {
     //                   $('td', row).css('background-color', '#CDBB79' );
     //               }
     //           }


     //       });
     //   }

     //   else {



     //       $('.Apllications').DataTable({

     //           //"processing": true,
     //          // "serverSide": true,

     //           "ajax":{
     //               "url": "/Home/GetApplicationSum",
     //               "type": "POST",
					//"data": { status: 2, fromdate: $("#fromdate").val(), todate: $("#todate").val(), SearchValue: value, Locations: SubLocationmessage, WorkerType: $("#schemeid").val(), BenRegType: ""},
     //               "dataType": "JSON"
     //           },

     //           "columns": [
     //               {"data" : "Sno"},
     //               { "data": "SSI_Number" },
     //                { "data": "RegNumber" },

     //                { "data": "BenSno",'render': function (data, type, row) {
     //                    // alert(row.Regtype);

     //                        return '<td ><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + row.BenSno + ');" id=' + row.Name + '>' + row.Name + '</a></td>';

     //                }},
     //               { "data": "Date" },
     //               { "data":  "VerifyDate" },
     //                { "data":  "Remarks" },


     //                { "data": "IsUnique",'render': function (data, type, row) {
     //                    if(row.IsUnique == "P")
     //                        return '<td class="Pending tr_hide"><font color="#DAA520"><strong>PENDING</strong></font></td>';
     //                    if(row.IsUnique == "Y")
     //                        return '<td class="Approved tr_hide"><font color="#008000"><strong>UNIQUE</strong></font></td>';
     //                    if(row.IsUnique == "N")
     //                        return '<td class="Rejected tr_hide"><font color="#FF0000"><strong>DUPLICATE</strong></font></td>';} },

     //             { "data": "BenSno", 'render': function (data, type, row) {
     //                 return '<td class="tr1_hide"><a href="#" data-toggle="modal" data-target=".ActionHispop" onclick="BenActionHistory(' + row.BenSno + ');">' + "View" + '</a></td>';

     //             }},],
     //           "rowCallback": function( row, data, index ) {


     //               if ( data.Regtype == "L" ) {
     //                   $('td', row).css('background-color', '#CDBB79' );
     //               }
     //           }




     //       });

     //       //table = $('.Apllications').DataTable({
     //       //    'rowCallback': function(row, data, index){
     //       //        alert(data[3]);
     //       //        if(data[3]> 11.7){
     //       //            $(row).find('td:eq(3)').css('color', 'red');
     //       //        }
     //       //        if(data[2].toUpperCase() == 'EE'){
     //       //            $(row).find('td:eq(2)').css('color', 'blue');
     //       //        }
     //       //    }
     //       //});

     //       //"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {

     //       //alert(aData[1]);
     //       //if ( aData[1] == "FAILURE" )
     //       //{
     //       //    $('td', nRow).css('background-color', '#f2dede' );
     //       //}
     //       //  }

     //   }
    }
    @*//Get Bocw Application Summerys
    $.get('@Url.Action("GetSchemeApplicationSum", "Home")', { status: 2, schemid: 2 }, function (result) {
         
        var table = $('.BocwApllications').DataTable();
        table.destroy();
        $('.BocwApllications tbody').empty();
        $.each(result, function (i, data) {

            var num = i + 1;
            $('.BocwApllications').append('<tr><td>' + num + '</td><td><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + data.BenSno + ');" id=' + data.Name + '>' + data.Name + '</a></td><td>' + data.Date + '</td><td>' + "Pending" + '</td><td>' + data.VerifyDate + '</td></tr>')

        });
        $('.BocwApllications').DataTable();
    });
    //Get WBTSS Application Summerys
    $.get('@Url.Action("GetSchemeApplicationSum", "Home")', { status: 2, schemid: 3 }, function (result) {
         
        var table = $('.WBTWSSSApllications').DataTable();
        table.destroy();

        $('.WBTWSSSApllications tbody').empty();
        $.each(result, function (i, data) {

            var num = i + 1;
            $('.WBTWSSSApllications').append('<tr><td>' + num + '</td><td><a href="#" data-toggle="modal" data-target=".regpop"  onClick = "Bentrnasclick(' + data.BenSno + ');" id=' + data.Name + '>' + data.Name + '</a></td><td>' + data.Date + '</td><td>' + "Pending" + '</td><td>' + data.VerifyDate + '</td></tr>')
        });
        $('.WBTWSSSApllications').DataTable();
    });*@
    $("#ssy").click(function () {
        $("#Div1").show();
        $("#Div2").hide();
        $("#Div3").hide();
        $("#divbocw").hide();
        $("#divwbtss").hide();
    });
    $("#wbtwss").click(function () {
        $("#Div1").hide();
        $("#Div2").show();
        $("#Div3").hide();
        $("#divbocw").hide();
        $("#divwbtss").show();
    });
    $("#bocw").click(function () {
        $("#Div1").hide();
        $("#Div2").hide();
        $("#Div3").show();
        $("#divbocw").show();
        $("#divwbtss").hide();
    });
    function getdates() {
        $("#fromdate,#todate").datepicker({
            dateFormat: "dd-mm-yy",
            changeYear: true,
            yearRange: "1960:2020",
            autoclose: true,
            maxDate: new Date()
        })
        var dat = new Date();
        var month = (dat.getMonth() + 1) < 10 ? '0' + (dat.getMonth() + 1) : '' + (dat.getMonth() + 1);
        var day = (dat.getDate()) < 10 ? '0' + (dat.getDate()) : '' + (dat.getDate());
        var today = day + "-" + month + "-" + dat.getFullYear();
        // alert(dat + month + day + today);
        $("#fromdate,#todate").val(today);
    }

    $('#btnPaging').click(function(){
        var val=$('#txtPaging').val();
        if (val!="" && val!=0) {

            val=val-1;
            var table=$('.Apllications').DataTable();
            table.page(parseInt(val)).draw('page');
        }
        else
        {
            alert('Requested page number not valid');
            $('#txtPaging').focus();
        }
    });


    function BenReview()
    {
        var Remark= $("#txtReview").val();
        var BenId=$("#BenSno").val();

        if (Remark!=null && Remark!='') {


            $.get('@Url.Action("ReviewBeni", "Home")', { Remark:Remark, BenId:BenId, UserId: DeptUserid }, function (data) {

                alert(data.Message);

                if (data.MessageCode=="000") {

                    $("#txtReview").val("");

                    $("#divReview").modal('hide');
                    $(".regpop").modal('hide');
                    GetReport();
                }
                else
                {
                    return false;
                }
            });
        }
        else
        {
            alert('Please write remark');
            $('#txtReview').focus();
        }


    }


    //Get Report
    function GetReportByClick()
    {
        var arr1 = $('#fromdate').val().split('-');
        var arr2 = $('#todate').val().split('-');
        var startDate = new Date(arr1[1] +"-"+arr1[0] + "-"+arr1[2]);
        var endDate = new Date(arr2[1] +"-"+arr2[0] + "-"+arr2[2]);

        // alert(endDate - startDate);

        var diffDate = (endDate - startDate)/1000/60/60/24;

        //alert(diffDate);

        //if (diffDate > 31 || diffDate < 0){

        //    alert("Report can be viewed for a date range of one Month");

        //    return false;

        //}
        //else
        //{
        if ($("#disid").val() == "" || $("#disid").val() == null || $("#disid").val() == "-1") {
            alert("Please Select District");
            $("#disid").focus();
            return false;
        }
        if ($("#subdivid").val() == "" || $("#subdivid").val() == null || $("#subdivid").val() == "-1") {
            alert("Please Select SubDivision");
            $("#subdivid").focus();
            return false;
        }
        if ($("#Location").val() == "" || $("#Location").val() == null || $("#Location").val() == "-1") {
            alert("Please Select Location");
            $("#Location").focus();
            return false;
        }
        if ($("#schemeid").val() == "" || $("#schemeid").val() == null || $("#schemeid").val() == "0") {
            alert("Please Select Worker Type");
            $("#schemeid").focus();
            return false;
        }
            GetReport()
        //}
    }
    function IsAlphaNumaric(e) {
        if ((e.keyCode >= 186 && e.keyCode <= 188) || (e.keyCode == 190) || e.keyCode == 191 ||
    e.keyCode == 192 || e.keyCode == 109 || (e.keyCode >= 219 && e.keyCode <= 222) || (e.keyCode >= 110 && e.keyCode <= 111) ||
    (e.keyCode >= 106 && e.keyCode <= 107) || e.keyCode == 59 || e.keyCode == 189 || e.keyCode == 61 || e.keyCode == 173 ||
    ((e.keyCode >= 48 && e.keyCode <= 57) && e.shiftKey == true)) {
            return false;
        }
    }
</script>