@{
    ViewBag.Title = "DetailedAbstractReport";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}
<style>
    th {
        font-size: 13px;
        color: white;
    }
    td {
        font-size: 13px;
    }
    .dataTables_length {
        display: none;
    }
    th {
        white-space: nowrap;
    }

    .dataTables_filter {
        margin-left:1000px;
    }
      .dt-buttons a {
        background: #094c86 !important;
        color:white !important;
    }
</style>
<script>
    var Locationid = @Html.Raw(Json.Encode(ViewBag.Locationid))
    var status = @Html.Raw(Json.Encode(ViewBag.status))
    var SubDivId = @Html.Raw(Json.Encode(@Session["RepSubDivId"]))
        
</script>
<link href="~/Content/ssy_css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ssy_css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/my_css/buttons.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery.js"></script>
<script src="~/Content/ssy_js/jquery.dataTables.min.js"></script>
<script src="~/Content/ssy_js/dataTables.bootstrap.min.js"></script>


<script src="~/Content/ssy_js/dataTables.buttons.min.js"></script>
<script src="~/Content/ssy_js/buttons.flash.min.js"></script>
<script src="~/Content/ssy_js/jszip.min.js"></script>
<script src="~/Content/ssy_js/pdfmake.min.js"></script>
<script src="~/Content/ssy_js/vfs_fonts.js"></script>
<script src="~/Content/ssy_js/buttons.html5.min.js"></script>
<script src="~/Content/ssy_js/buttons.print.min.js"></script>

<div class="container-fluid" style="margin-left:25px;">
    <a href="#" class="btn btn-primary glyphicon glyphicon-fast-backward" id="DBack" style="margin-left: 1101px;margin-bottom: 15px;">  Back</a>
    <table class="TblDetailedAbstract  table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>S.No</th>
                <th>SSIN Number / Temp Reg No</th>
                <th>Scheme Registration</th>
                <th>Date of Registration</th>
                <th>Name</th>
                <th>Father's Name</th>
                <th>Date Of Birth</th>
                <th>Mobile No</th>
                <th>District</th>
                <th>SubDivision</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-1 pull-right" style="padding-right:-15px;padding-top:5px; padding-bottom:5px;">
        <div class="input-group input-group-sm">
            <input type="text" id="txtPaging" class="form-control" placeholder="Jump to Page..">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="btnPaging">Go!</button>
            </span>
        </div>
    </div>
</div>
 <div class="loader" style="display:none;">
            <center>
                <img class="loading-image" src="~/Content/images/ajax-loader.gif" alt="loading.." style="width:30px;height:30px;">
            </center>
        </div>
<script>
    $(document).ready(function () {
        $(".loader").show();
        $('#DBack').attr('href','/Report/LocationWiseAbstract?SubDivId='+ SubDivId);
        $.get('@Url.Action("GetDetailedAbstractReport", "Report")', {Locationid :Locationid,status : status}, function (result) {
             
            var table = $('.TblDetailedAbstract').DataTable();
            table.destroy();
            $('.TblDetailedAbstract tbody').empty();
            $.each(result, function (i, data) {
                var num = i + 1;
                $('.TblDetailedAbstract').append('<tr><td>' + num + '</td><td>' + data.SSINNo + '</td><td>' + data.SchemeNo + '</td><td>' + data.RegDate + '</td><td>' + data.Name + '</td><td>' + data.fathername + '</td><td>' + data.DOB + '</td><td>' + data.Mobileno + '</td><td>' + data.DistrictName + '</td><td>' + data.SubDivisionName + '</td><td>' + data.BlockName + '</td><td>' + data.Status + '</td></tr>')
            });
            $(".loader").hide();
            $('.TblDetailedAbstract').DataTable({
                dom: 'Bfrtip',
                "ordering": false,
                buttons: [
                     {

                   
                         extend :  'excel',
                         text: 'Download Excel'
                     }
                
                ]
               
            });
        });
    });

    $('#btnPaging').click(function () {
        var val = $('#txtPaging').val();
        if (val != "" && val != 0) {

            val = val - 1;
            var table = $('.TblDetailedAbstract').DataTable();
            table.page(parseInt(val)).draw('page');
        }
        else {
            alert('Requested page number not valid');
            $('#txtPaging').focus();
        }
    });
</script>
