@model SSY.Models.Reports
@{
    ViewBag.Title = "DistrictwiseDetailedReport";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}

<link href="~/Content/ssy_css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ssy_css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Content/ssy_js/jquery.dataTables.min.js"></script>
<script src="~/Content/ssy_js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/session.js"></script>
<script src="~/Content/ssy_js/bootstrap-multiselect.js"></script>

<style>
    #fromdate, #todate {
        z-index: 1000;
    }

    .dropdown-toggle, .dropdown-menu {
        width: 200px !important;
    }

    .dropdown-menu {
        position: absolute;
        z-index: 9999;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<script>
    var UserTypeid = @Html.Raw(Json.Encode(ViewBag.usertype))
    var Deptid = @Html.Raw(Json.Encode(ViewBag.deptid))
    var sendloactions = ""; 
	var sendloactionsDis = ""; 
    var RepSubDVision ="";
    var RepLocation ="";
    var SendSubDiv ="";
    var ReportDistrics = "";

</script>
<div class="container-fliud">
    <marquee scrollamount="7"><font color="green" size="3"><b>Report can be viewed for a date range of one month,if date range is more than one month please click on download.</b></font></marquee>

    <div class="" style="text-align: center"><h4><b>District Wise Detailed Report</b></h4></div>
    <br />
    <div class="col-sm-12">
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group extra-space">
                    <span class="input-group-addon input-label">District</span>

                    @Html.DropDownListFor(m => m.disid, new SelectList(Model.district, "Value", "Text"), new { @class = "form-control District" })
                </div>
            </div>
        </div>
        <div class="col-md-3" id="divsub">
            <div class="form-group">
                <div class="input-group extra-space">
                    <span class="input-group-addon input-label">Sub Division</span>
                    @Html.DropDownListFor(m => m.subdivid, new SelectList(Model.subdivision, "Value", "Text"), new { @class = "form-control", @tabindex = "7" })
                </div>
            </div>
        </div>
        <div class="col-md-3" id="divloc">
            <div class="form-group">
                <div class="input-group extra-space">
                    <span class="input-group-addon input-label">Location</span>
                    @Html.DropDownListFor(m => m.muncorp, new SelectList(Model.muncorpname, "Value", "Text"), new { @class = "form-control Location ", id = "Location", @tabindex = "8" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">

        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group extra-space">
                    <span class="input-group-addon input-label">Worker Type</span>
                    @Html.DropDownList("schemeid", new List<SelectListItem>
                                    {
                                         //new SelectListItem{ Text="-- Select Worker Type --", Value = "0" },
                                          new SelectListItem{ Text="ALL", Value = "ConstructionWorker,TransportWorker,Others" },
                                        new SelectListItem{ Text="Construction Worker", Value = "ConstructionWorker" },
                                         new SelectListItem{ Text="Transport Worker", Value = "TransportWorker" },
                                          new SelectListItem{ Text="Other Worker", Value = "Others" }
                                    }, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group extra-space">
                    <span class="input-group-addon input-label">From Date</span>
                    @Html.TextBoxFor(m => m.fromdate, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group extra-space">
                    <span class="input-group-addon input-label">To Date</span>
                    @Html.TextBoxFor(m => m.todate, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" onclick="GetRepData()">Submit</a>
            <a class="btn btn-primary" style="margin-left: 10px;" onclick="SaveDownloadReq()">Download</a>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 column">
            <div class="container-fluid">

                <iframe name="ifr" id="ifr" style="width: 100%;height:500px; position: relative; border: none; margin-bottom:5%;margin-left:50px;margin-right:150px;padding-right:50px; max-height: 400px;overflow-y:auto; border-radius: 0px; "></iframe>
            </div>
        </div>
    </div>
    @*<input type="hidden" id="MultiLoca" value="" name="MultiLoca" />*@
</div>
<script type="text/javascript">

    $(document).ready(function () {
		if (UserTypeid == "1" || UserTypeid == "21" || UserTypeid == "22" || UserTypeid == "23" || UserTypeid == "24")
        {
            $("#disid").val("-1");
            $("#subdivid").val("-1");
            $("#Location").val("-1");
        }
        if(UserTypeid == "6")
        {

        }

        if(UserTypeid == "5")
        {
             
            $("#disid").attr("disabled", true);
            $("#subdivid").attr("disabled", true);
            $.get('@Url.Action("GetMultipleLoca", "Registration")', { Uid: Deptid }, function (dat) {
                $("#Location").find("option").remove();

                $.each(dat, function (i, data) {
                     
                    $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");

                });
                $("#Location").attr("multiple", "multiple");
                $('#Location').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#Location").multiselect('rebuild');
            });
        }
        if(UserTypeid == "6")
        {
            $("#disid").attr("disabled", true);
            $.get('@Url.Action("GetMultipleSubDiv", "Registration")', { Uid: Deptid }, function (dat) {
                $("#subdivid").find("option").remove();
                $("#subdivid").append("<option value=-1> " + " -- Select Subdivision --" + " </option>");
                $("#subdivid").append("<option value=0> " + "ALL" + " </option>");
                RepSubDVision = "";
                $.each(dat, function (i, data) {
                     
                    $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");

                    RepSubDVision +=  data.Value +"," ;
                });

            });
        }
        if(UserTypeid == "7" || UserTypeid == "3" || UserTypeid == "4")
        {
            $.get('@Url.Action("GetMultipleDistricts", "Registration")', { Uid: Deptid}, function (dat) {
                 
                var disticts ="";
                $("#disid").find("option").remove();
               // $("#disid").append("<option value="+-1+"> " + " -- Select District --" + " </option>");
                //$("#disid").append("<option value="+0+"> " + "ALL" + " </option>");
                ReportDistrics = "";
                $.each(dat, function (i, data) {
                    $("#disid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    ReportDistrics += data.Value+",";
				});
				$("#disid").attr("multiple", "multiple");
				$('#disid').multiselect({
					columns: 3,
					placeholder: 'Select Districts',
					search: true,
					includeSelectAllOption: true
				})
				$("#disid").multiselect('rebuild');
            });
        }
        getdates()

    });

    $("#disid").change(loadSubdiv);
    function loadSubdiv() {
        debugger;
        var disid = parseInt($("#disid").val());
        if ($("#disid").val() == "0") {
			if (UserTypeid == "1" || UserTypeid == "2" || UserTypeid == "21" || UserTypeid == "22" || UserTypeid == "23" || UserTypeid == "24")
            {
                $.get('@Url.Action("GetSubdivisionAllJSON", "Report")', { ID: 0 }, function (dat) {
                    $("#subdivid").find("option").remove();

                    RepSubDVision = "";
                    $.each(dat, function (i, data) {
                         

                        if (data.Value != "-1")
                            $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                        RepSubDVision += data.Value + ",";
                    });
                });
                $.get('@Url.Action("GetLocationAllJSON", "Report")', { ID: 0 }, function (dat) {
                     
                    $("#Location").find("option").remove();

                    sendloactions = "";
                    $.each(dat, function (i, data) {
                         
                        if (data.Value != "-1" && data.Value != "0" )

                            $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                        sendloactions += data.Value + ",";
                    });
                    $("#Location").attr("multiple", "multiple");
                    $('#Location').multiselect({
                        columns: 3,
                        placeholder: 'Select Languages',
                        search: true,

                        includeSelectAllOption: true
                    })
                    $("#Location").multiselect('rebuild');


                    $('option', $('#Location')).each(function (element) {
                        $(this).removeAttr('selected').prop('selected', false);
                    });
                    $("#Location").multiselect('refresh');
                });
            }
            else
            {
                $.get('@Url.Action("GetSubDivByDistrict", "Report")', { ID: ReportDistrics }, function (dat) {
                    $("#subdivid").find("option").remove();

                    $("#subdivid").append("<option value="+0+"> " + "ALL" + " </option>");
                    RepSubDVision = "";
                    $.each(dat, function (i, data) {
                         

                        if (data.Value != "-1")
                            $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                        RepSubDVision += data.Value + ",";
                    });
                    GetAlcLocations();
                });
            }
        }
        else {
            $.get('@Url.Action("GetSubdivisionJSON", "Login")', { ID: disid }, function (dat) {
                debugger;
                $("#subdivid").find("option").remove();
                $("#subdivid").append("<option value=0>ALL</option>");
                RepSubDVision = "";
                $.each(dat, function (i, data) {
                     

                    if (data.Value != "0")
                        $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    RepSubDVision += data.Value + ",";
                });
            });
            $.get('@Url.Action("GetblockforDisRepJSON", "Report")', { ID: disid }, function (dat) {

                debugger;
                $("#Location").find("option").remove();

                sendloactions = "";
                $.each(dat, function (i, data) {
                     
                    if (data.Value != "-1" && data.Value != "0")
                        $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    sendloactions += data.Value + ",";
                });
                $("#Location").attr("multiple", "multiple");
                $('#Location').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#Location").multiselect('rebuild');

                $('option', $('#Location')).each(function (element) {
                    $(this).removeAttr('selected').prop('selected', false);
                });
                $("#Location").multiselect('refresh');
            });
        }

    }
    //Load Locations
    $("#subdivid").change(loadBlock);
    function loadBlock() {
        debugger;
        if($("#subdivid").val() == "0")
        {
            GetAlcLocations();
        }

        else
        {
            $.get('@Url.Action("GetblockforSubRepJSON", "Report")', { ID: $("#subdivid").val() }, function (dat) {
                 
                $("#Location").find("option").remove();

                sendloactions = "";
                $.each(dat, function (i, data) {
                     
                    if (data.Value != "0")
                        $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    sendloactions += data.Value + ",";
                });
                $("#Location").attr("multiple", "multiple");
                $('#Location').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#Location").multiselect('rebuild');
                $('option', $('#Location')).each(function (element) {
                    $(this).removeAttr('selected').prop('selected', false);
                });
                $("#Location").multiselect('refresh');
            });
        }
    }
    function getdates() {
        $("#fromdate,#todate").datepicker({
            dateFormat: "dd-mm-yy",
            changeYear: true,
            yearRange: "1960:2020",
            autoclose: true,
            maxDate: new Date()
        })
        var dat = new Date();
        var month = (dat.getMonth() + 1) < 10 ? '0' + (dat.getMonth() + 1) : '' + (dat.getMonth() + 1);
        var day = (dat.getDate()) < 10 ? '0' + (dat.getDate()) : '' + (dat.getDate());
        var today = day + "-" + month + "-" + dat.getFullYear();

        $("#fromdate,#todate").val(today);
    }
    //Get Report
    function GetRepData() {





       // alert($.session.get('Name'));


        if ($("#disid").val() == "" || $("#disid").val() == null || $("#disid").val() == "-1") {
            alert("Please Select District");
            $("#disid").focus();
            return false;
        }
        if ($("#subdivid").val() == "" || $("#subdivid").val() == null || $("#subdivid").val() == "-1") {
            alert("Please Select SubDivision");
            $("#subdivid").focus();
            return false;
        }
        if ($("#Location").val() == "" || $("#Location").val() == null || $("#Location").val() == "-1") {
            alert("Please Select Location");
            $("#Location").focus();
            return false;
        }
        if ($("#schemeid").val() == "" || $("#schemeid").val() == null || $("#schemeid").val() == "0") {
            alert("Please Select Worker Type");
            $("#schemeid").focus();
            return false;
        }

        // Date validations
        var arr1 = $('#fromdate').val().split('-');
        var arr2 = $('#todate').val().split('-');
        var startDate = new Date(arr1[1] +"-"+arr1[0] + "-"+arr1[2]);
        var endDate = new Date(arr2[1] +"-"+arr2[0] + "-"+arr2[2]);

        var diffDate = (endDate - startDate)/1000/60/60/24;

        if (diffDate > 31 || diffDate < 0){

            alert("Report can be viewed for a date range of one Month");

            return false;

        }

        var SubLocationselected = $("#Location option:selected");
        var SubLocationmessage = "0";
        SubLocationselected.each(function () {
            SubLocationmessage += "," + $(this).val();
        });
        console.log(SubLocationmessage);
        //$("#MultiLoca").val(SubLocationmessage);

        if ($("#Location").val() != 0)
            sendloactions = $("#Location").val();
        var SelectedLocation = $("#Location option:selected");
        var ValueSend = "";
        SelectedLocation.each(function () {
             

            ValueSend += $(this).val()+",";
        });

        console.log(ValueSend);

        var CheckLocLen  = $("#Location").val();
        var length = $('#Location').children('option').length;
        var SendSelLoc = "";
        if(CheckLocLen.length == length)
        {
            SendSelLoc = "All";
        }
        else
        {
            SendSelLoc = "Select";
        }


		var SubLocationselectedDis = $("#Location option:selected");
		var SubLocationmessageDis = "0";
		SubLocationselectedDis.each(function () {
			SubLocationmessageDis += "," + $(this).val();
		});
		//$("#MultiLoca").val(SubLocationmessage);

		if ($("#Location").val() != 0)
			sendloactionsDis = $("#Location").val();
		var SelectedLocationDis = $("#Location option:selected");
		var ValueSendDis = "";
		SelectedLocationDis.each(function () {
			 

			ValueSendDis += $(this).val() + ",";
		});


		var CheckLocLenDis = $("#Location").val();
		var lengthDis = $('#Location').children('option').length;
		var SendSelLocDis = "";
		if (CheckLocLenDis.length == length) {
			SendSelLocDis = "All";

		}
		else {
			SendSelLocDis = "Select";
		}

		var url = "/SSYIDCard/DistWiseAbstract.aspx?sendloactions=" + ValueSend + "&fromdate=" + $('#fromdate').val() + "&todate=" + $('#todate').val() + "&schemeid=" + $('#schemeid').val() + "&disid=" + ValueSendDis + "&subdivid=" + $('#subdivid option:selected').text() + "&Location=" +SendSelLoc ;
        //alert(url);
        //debugger;
        //console.log(url);


        $('iframe#ifr').attr('src', url);
    }
    //Load Alc Locations
    function GetAlcLocations()
    {
        debugger;
        $.get('@Url.Action("GetBlocksBySubDivision", "Report")', { ID:RepSubDVision }, function (dat) {
             
            $("#Location").find("option").remove();

            RepLocation = "";
            $.each(dat, function (i, data) {
                 
                if(data.Value !=-1)
                    $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                RepLocation +=  data.Value +",";
            });
            $("#Location").attr("multiple", "multiple");
            $('#Location').multiselect({
                columns: 3,
                placeholder: 'Select Languages',
                search: true,
                includeSelectAllOption: true
            })
            $("#Location").multiselect('rebuild');

            $('option', $('#Location')).each(function (element) {
                $(this).removeAttr('selected').prop('selected', false);
            });
            $("#Location").multiselect('refresh');
        });
    }


     function SaveDownloadReq() {



         if ($("#disid").val() == "" || $("#disid").val() == null || $("#disid").val() == "-1") {
             alert("Please Select District");
             $("#disid").focus();
             return false;
         }
         if ($("#subdivid").val() == "" || $("#subdivid").val() == null || $("#subdivid").val() == "-1") {
             alert("Please Select SubDivision");
             $("#subdivid").focus();
             return false;
         }
         if ($("#Location").val() == "" || $("#Location").val() == null || $("#Location").val() == "-1") {
             alert("Please Select Location");
             $("#Location").focus();
             return false;
         }
         if ($("#schemeid").val() == "" || $("#schemeid").val() == null || $("#schemeid").val() == "0") {
             alert("Please Select Worker Type");
             $("#schemeid").focus();
             return false;
         }




         var SubLocationselected = $("#Location option:selected");
         var SubLocationmessage = "0";
         SubLocationselected.each(function () {
             SubLocationmessage += "," + $(this).val();
         });
         //$("#MultiLoca").val(SubLocationmessage);

         if ($("#Location").val() != 0)
             sendloactions = $("#Location").val();
         var SelectedLocation = $("#Location option:selected");
         var ValueSend = "";
         SelectedLocation.each(function () {
              

             ValueSend += $(this).val()+",";
         });


         var CheckLocLen  = $("#Location").val();
         var length = $('#Location').children('option').length;
         var SendSelLoc = "";
         if(CheckLocLen.length == length)
         {
             SendSelLoc = "All";

         }
         else
         {
             SendSelLoc = "Select";
         }



         $.get('@Url.Action("SaveDownloadRequest", "Report")', {fromDate: $("#fromdate").val(), toDate: $("#todate").val(),District : "0",SubDiv : "0",Locations : ValueSend,Schemes : $('#schemeid').val(),UserId : Deptid,ReportName : "District Wise Detailed Report"}, function (result) {

             alert(result);
         })
     }

</script>
