@model SSY.Models.Reports

@{
    ViewBag.Title = "DistrictwiseAndProfessionWiseSummary";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}



<link href="~/Content/ssy_css/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Content/ssy_css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ssy_css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Content/ssy_js/jquery.dataTables.min.js"></script>
<script src="~/Content/ssy_js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Content/ssy_js/bootstrap-multiselect.js"></script>

<style>
    #fromdate, #todate {
        z-index: 1000;
    }

    #first {
        z-index: 1000;
        top: 30%;
        left: 50%;
        position: absolute;
    }

    /*.dropdown-toggle, .dropdown-menu {
        width: 200px !important;
    }*/

    .dataTables_filter {
        margin-left: 280px !important;
    }

    .dataTables_length, .dataTables_filter {
        display: none !important;
    }

    .dropdown-menu {
        position: absolute;
        z-index: 9999;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

<script>
    var UserTypeid = @Html.Raw(Json.Encode(ViewBag.usertype));
    var Deptid = @Html.Raw(Json.Encode(ViewBag.deptid));
    var sendloactions = "";
    var RepSubDVision ="";
    var RepLocation ="";
    var SendSubDiv ="";
    var ReportDistrics = "";

</script>

<div class="container-fliud">
    <div class="" style="text-align: center"><h4><b>District Wise Beneficiary Profession Summary</b></h4></div>
    <br />
    <div class="row">
        <div class="col-sm-12" >
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">District</span>
                        @Html.DropDownListFor(m => m.disid, new SelectList(Model.district, "Value", "Text"), new { @class = "form-control District" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-label">Profession</span>
                        @Html.DropDownList("BenInd", new List<SelectListItem>
                                        {
                                              new SelectListItem{ Text="ALL", Value = "1,2" },
                                              new SelectListItem{ Text="Self Employed", Value = "1" },
                                              new SelectListItem{ Text="Un Organized", Value = "2" }
                                        }, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">From Date</span>
                        @Html.TextBoxFor(m => m.fromdate, new { @class = "form-control" })

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group extra-space">
                        <span class="input-group-addon input-label">To Date</span>
                        @Html.TextBoxFor(m => m.todate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="margin-left: 30px;margin-right:30px;padding-right:40px;">

            <div class="col-sm-3 pull-right">
                <div class="form-group">
                    <div class="input-group"><a class="btn btn-primary" onclick="GetReportByClick()">Submit</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 column">
            <div class="container-fluid">

                <div id="first" style="display:none;">
                    @*<img src="http://i.stack.imgur.com/XEupj.gif">*@
                    <img class="loading-image" src="~/Content/images/ajax-loader.gif" alt="loading.." style="width:30px;height:30px;">
                </div>
                <iframe name="ifr" id="ifr" onload="CloseProgress()"
                        style="width: 103%;height:500px; position: relative; border: none; margin-bottom:5%;margin-left:22px;margin-right:150px;padding-right:50px; max-height: 400px;overflow-y:auto; border-radius: 0px; "></iframe>

            </div>
        </div>
    </div>


</div>

<script type="text/javascript">



    function CloseProgress()
    {
        $("#first").css("display","none");
        // $("#btnExport").css("display","block");
    }

    $(document).ready(function () {

        getdates();

		if (UserTypeid == "1" || UserTypeid == "21" || UserTypeid == "22" || UserTypeid == "23" || UserTypeid == "24")
        {
            $("#disid").removeAttr("multiple");

            $("#disid").attr("multiple", "multiple");

            $('#disid').multiselect({
                columns: 3,
                placeholder: 'Select Languages',
                search: true,
                includeSelectAllOption: true
            })

            $("#disid").multiselect('rebuild');

            $('option', $('#disid')).each(function (element) {
                $(this).removeAttr('selected').prop('selected', false);
            });
            $("#disid").multiselect('refresh');

            $("#disid").val("-1");
          
        }

        if(UserTypeid == "5")
        {
             
            $("#disid").attr("disabled", true);
       
        }
        if(UserTypeid == "6")
        {
            $("#disid").attr("disabled", true);
          
        }
        if(UserTypeid == "7" || UserTypeid == "3" || UserTypeid == "4")
        {
            $.get('@Url.Action("GetMultipleDistricts", "Registration")', { Uid: Deptid}, function (dat) {
                 
                var disticts ="";
                $("#disid").find("option").remove();
                $("#disid").append("<option value="+-1+"> " + " -- Select District --" + " </option>");

                ReportDistrics = "";
                $.each(dat, function (i, data) {
                    $("#disid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    ReportDistrics += data.Value+",";
                });

                $("#disid").attr("multiple", "multiple");
                $('#disid').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#disid").multiselect('rebuild');

                $('option', $('#disid')).each(function (element) {
                    $(this).removeAttr('selected').prop('selected', false);
                });
                $("#disid").multiselect('refresh');

            });
        }



        //$("#disid").change(loadSubdiv);

    });
 
    function GetReportByClick()
    {
       

        var arr1 = $('#fromdate').val().split('-');
        var arr2 = $('#todate').val().split('-');
        var startDate = new Date(arr1[1] +"-"+arr1[0] + "-"+arr1[2]);
        var endDate = new Date(arr2[1] +"-"+arr2[0] + "-"+arr2[2]);

        // alert(endDate - startDate);

        var diffDate = (endDate - startDate)/1000/60/60/24;

        //alert(diffDate);
      //  if (diffDate > 31 || diffDate < 0){

         //   alert("Report can be viewed for a date range of one Month");

          //  return false;

       // }
     //  else
      //  {
            $("#first").css("display","block");
            GetRepData()
       // }
    }

    function GetRepData()
    {

        if ($("#disid").val() == "" || $("#disid").val() == null||$("#disid").val() == "0" ) {
            alert("Please Select District");
            $("#disid").focus();
            $("#first").css("display","none");
            return false;
        }

      
        var DistSelected = $("#disid option:selected");
        var Distmessage="0";
        DistSelected.each(function () {
             
            var res =     $(this).val();

            Distmessage += ","+$(this).val();

        });

        var IndSelected = $("#BenInd option:selected");
        var IndMsg="0";

        IndSelected.each(function (){
            var res=$(this).val();
            IndMsg+= ","+ res;
        });

        var url = "/SSYIDCard/BenProffDetailCount.aspx?Ids=" + Distmessage + "&IndType="+IndMsg+"&frDate=" +$("#fromdate").val() + "&toDate=" +  $("#todate").val() ;

        $('iframe#ifr').attr('src', url);


    }

    $('#btnPaging').click(function () {

        var val = $('#txtPaging').val();
        if (val != "" && val != 0) {

            val = val - 1;
            var table = $('.TblAgentData').DataTable();
            table.page(parseInt(val)).draw('page');
        }
        else {
            alert('Requested page number not valid');
            $('#txtPaging').focus();
        }
    });

    function getdates() {
        $("#fromdate,#todate").datepicker({
            dateFormat: "dd-mm-yy",
            changeYear: true,
            yearRange: "1960:2020",
            autoclose: true,
            maxDate: new Date()
        })


        var dat = new Date();
        var month = (dat.getMonth() + 1) < 10 ? '0' + (dat.getMonth() + 1) : '' + (dat.getMonth() + 1);
        var day = (dat.getDate()) < 10 ? '0' + (dat.getDate()) : '' + (dat.getDate());
        var today = day + "-" + month + "-" + dat.getFullYear();

        // alert(dat + month + day + today);
        $("#fromdate,#todate").val(today);

    }


</script>
