@{
	ViewBag.Title = "EDistrictBeneDetlsApplicationsConst";
	Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}


<link href="~/Content/ssy_css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ssy_css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="~/Scripts/jquery.js"></script>
<script src="~/Content/ssy_js/jquery.dataTables.min.js"></script>
<script src="~/Content/ssy_js/dataTables.bootstrap.min.js"></script>

<style>
</style>
<script>
    var deptuserid = @Html.Raw(Json.Encode(ViewBag.deptuserid))
</script>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<center><h3 class="product-description">eDistrict Construction Workers Data Update Requests Details</h3></center>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<div class="input-group extra-space">
							<span class="input-group-addon input-label">From Date</span>
							@Html.TextBox("fromdate", "", null, new { @class = "form-control", @readonly = "" })
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="input-group extra-space">
							<span class="input-group-addon input-label">To Date</span>
							@Html.TextBox("todate", "", null, new { @class = "form-control", @readonly = "" })
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<div class="input-group extra-space">
							<span class="input-group-addon input-label">Status</span>
							@Html.DropDownList("Status", new List<SelectListItem>
										{
											new SelectListItem{ Text="All", Value = "0,1,2" },
											 new SelectListItem{ Text="Pending", Value = "0" },
											  new SelectListItem{ Text="Approved", Value = "1" },
											   new SelectListItem{ Text="Rejected", Value = "2" }
										}, new { @class = "form-control  Dropdwn" })
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<a class="btn btn-primary" onclick="GetReport()">Submit</a>
				</div>
			</div>
			<br />
			<div>
				<table class="table table-striped table-bordered Apllications" cellspacing="0" width="100%">
					<thead style="background-color:#87CEEB">
						<tr>
							<th>S.No</th>
							<th>Name</th>
							<th>SSIN</th>
							<th>Created Date</th>
							<th>Status</th>
							<th class="th_hide">Remarks</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="modal fade" id="DivBenPersonalDet" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<center>
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body" style="height: 300px;overflow-y: auto;">

						<div class="col-md-6">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th colspan="2">e-District Data Details</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Name Of The Employer</td>
										<td><label id="lblEmployerName"></label></td>
									</tr>
									<tr>
										<td>Rural/Urban </td>
										<td><label id="lblRuralUrban"></label></td>
									</tr>
									<tr>
										<td>Address Of The Employer</td>
										<td><label id="lblAddressoftheEmployer"></label></td>

									</tr>
									<tr>
										<td>Registration Number Of The institute</td>
										<td><label id="lblRegNumberinsti"></label></td>
									</tr>
									<tr>
										<td>Nature Of The job</td>
										<td><label id="lblNatureJob"></label></td>
									</tr>
									<tr>
										<td>Workspace Details & Address</td>
										<td><label id="lblWorkSpaceDet"></label></td>
									</tr>
									<tr>
										<td>Registration Number</td>
										<td><label id="lblRegNumber"></label></td>
									</tr>
									<tr>
										<td>Particulars of Fee submission documents</td>
										<td><label id="lblpartdocsubfee"></label></td>
									</tr>
									<tr>
										<td>Rate Of Subscrption</td>
										<td><label id="lblRateOfSub"></label></td>
									</tr>
								</tbody>
							</table>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a>
											<span class="glyphicon glyphicon-file">
											</span>Eligilibity Certificate Form
										</a>
									</h4>
								</div>

								<iframe src="" frameborder="0" id="elegibilitycertdoc" style="width: 100%; height: 300px;"></iframe>

							</div>
						</div>
						<div class="col-md-6">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th colspan="2"></th>

									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Status Of Transport Worker</td>
										<td><label id="lblstautsofworker"></label></td>
									</tr>
									<tr>
										<td>Nature Of Vehicle </td>
										<td><label id="lblNatureOfVehicle"></label></td>
									</tr>
									<tr>
										<td>Certificate of Identification Attached</td>
										<td><label id="lblcertidentattach"></label></td>
									</tr>
									<tr>
										<td>Nature Of Duties</td>
										<td><label id="lblNatureOfDuties"></label></td>
									</tr>
								</tbody>
							</table>


							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a>
											<span class="glyphicon glyphicon-file">
											</span>Dependent Passbook
										</a>
									</h4>
								</div>

								<iframe src="" frameborder="0" id="dependentpassbookdoc" style="width: 100%; height: 300px;"></iframe>

							</div>
							@*<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a>
											<span class="glyphicon glyphicon-file">
											</span>Driving License
										</a>
									</h4>
								</div>
								<iframe src="" frameborder="0" id="drivinglicensedoc" style="width: 100%; height: 300px;"></iframe>
							</div>*@


						</div>


					</div>


					<div class="modal-footer">
						<div style="display:none;margin-right:66px;margin-bottom:-34px;" id="divStstus">
							<a id="AgentApp" class="btn btn-success" onclick="SubmitStatus('1')">Approve</a>
							<a class="btn btn-danger" href="#" data-toggle="modal" data-target="#divEditDetRej">Send Back</a>
						</div>
						<div id="divlbl" style="display:none;">
							<label id="lblrefid"></label>
						</div>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</center>
		</div>
	</div>




	<!-- Modal -->
	<div class="modal fade" id="divEditDetRej" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content" style="width:580px;margin-left:-580px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Remarks</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<div class="input-group extra-space">
									<textarea name="test_field" id="RejectedRemarks" style="width: 544px;height: 104px;"></textarea>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" onclick="SubmitStatus('3')">Submit</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>





<script>
    $(document).ready(function () {
            $('.Apllications').DataTable({
        });

        getdates();
        GetReport()
        });

    function GetReport() {
        var fromdate = $('#fromdate').val();
        var todate = $('#todate').val();
        var Staus = $("#Status").val();



		$.get('@Url.Action("GetEDistrictBeneDetlsAppliationsConst", "Report")', { userId: deptuserid, fromDate: fromdate, toDate: todate, Status: $("#Status").val() }, function (result) {
             
            var table = $('.Apllications').DataTable();
            table.destroy();
            $('.Apllications tbody').empty();
            $.each(result, function (i, data) {
                var num = i + 1;
                 
				$('.Apllications').append('<tr><td>' + data.Sno + '</td><td><a href="#" data-toggle="modal"  onClick = "GetBenDet(' + data.edistTWID +');" id=' + data.Name + '>' + data.Name + '</a></td><td>' + data.SSIN+'</td><td>' + data.ReqDate + '</td><td>' + data.Status + '</td><td>'+data.Remarks+'</td></tr>')
            });
            $('.Apllications').DataTable({
            });

        });
    }

    function getdates() {
        $("#fromdate,#todate").datepicker({
            dateFormat: "dd-mm-yy",
            changeYear: true,
            yearRange: "1960:2020",
            autoclose: true,
            maxDate: new Date()
        })
        var dat = new Date();
        var month = (dat.getMonth() + 1) < 10 ? '0' + (dat.getMonth() + 1) : '' + (dat.getMonth() + 1);
        var day = (dat.getDate()) < 10 ? '0' + (dat.getDate()) : '' + (dat.getDate());
        var today = day + "-" + month + "-" + dat.getFullYear();

        $("#fromdate,#todate").val(today);
    }

    function GetBenDet(Id) {

		$.get('@Url.Action("GetEDistrictBeneDetlsAppliationByIdConst", "Report")', { id: Id }, function (result) {
			 

			if (result.Statusname == "Pending") {
				$("#divStstus").show();
			}
			else {

				$("#divStstus").hide();

			}
			//New Details
			$("#lblEmployerName").text(result.Employernature);
			$("#lblRuralUrban").text(result.RuralUrban);
			$("#lblAddressoftheEmployer").text(result.EmployerAddress);
			$("#lblRegNumberinsti").text(result.RegNoOftheInstitute);
			$("#lblNatureJob").text(result.NatureoftheJob);
			$("#lblWorkSpaceDet").text(result.WorkSpaceDetailsAndAddress);
			$("#lblRegNumber").text(result.RegoistrationNumber);
			$("#lblpartdocsubfee").text(result.FeeSubmissionParticulars);

			$("#lblRateOfSub").text(result.RateofSubsricption);
			$("#lblstautsofworker").text(result.StatusoftheWorker);
			$("#lblNatureOfVehicle").text(result.NatureOftheVehicle);
			$("#lblcertidentattach").text(result.CertificateofIdentificationAttached);
			$("#lblNatureOfDuties").text(result.NatureofDuty);
			 
			var eleext = result.EligibilityCertificateFormExtension.replace(".", "");
			if (result.EligibilityCertificateFormExtension == ".pdf")
				$("#elegibilitycertdoc").attr('src', 'data:application/' + eleext + ';base64,' + result.EligibilityCertificateFormString); //for pdf file
			else
				$("#elegibilitycertdoc").attr('src', 'data:image/' + eleext + ';base64,' + result.EligibilityCertificateFormString); //for image file

			var depdext = result.StatutoryAppform27Ext.replace(".", "");

			if (result.StatutoryAppform27Ext == ".pdf")
				$("#dependentpassbookdoc").attr('src', 'data:application/' + depdext + ';base64,' + result.StatutoryAppform27String); //for pdf file
			else
				$("#dependentpassbookdoc").attr('src', 'data:image/' + depdext + ';base64,' + result.StatutoryAppform27String); //for image file

			//$("#drivinglicensedoc").attr('src', result.OldNameProof);
			//var drivext = result.DrivingLicenseExt.replace(".", "");

			//if (result.DrivingLicenseExt == ".pdf")
			//	$("#drivinglicensedoc").attr('src', 'data:application/' + drivext + ';base64,' + result.DrivingLicenseString); //for pdf file
			//else
			//	$("#drivinglicensedoc").attr('src', 'data:image/' + drivext + ';base64,' + result.DrivingLicenseString); //for image file


			//if (result.DOBProofExtension == "pdf")
			//	$("#dateofbirthproof").attr('src', 'data:application/' + result.DOBProofExtension + ';base64,' + result.DOBProof); //for pdf file
			//else {
			//	$("#dateofbirthproof").attr('src', 'data:image/' + result.DOBProofExtension + ';base64,' + result.DOBProof); //for pdf file
				////$("#dateofbirthproof").attr('src', 'data:images/jpg;base64,' + result.DOBProof); //for image file
				////$("#dateofbirthproof").attr('src', 'data:image/jpg; base64,'+ result.DOBProof);

		});
		//$("#nameidproof").attr('src', 'data:images/jpeg;base64,'+result.NameProof); //for image file
		//$("#dateofbirthproof").attr('src', result.DOBProof);



		$("#DivBenPersonalDet").modal('show');

            $("#lblrefid").text(Id);

        //


    }


     function SubmitStatus(id)
    {

        var refid = $("#lblrefid").text();
		 var Remarks = $("#RejectedRemarks").val();
		 if (id == 2) {
			 alert("Cannot Reject this Request.");
			 return false;
		 } 
        if(id == 3)
        {
            if(Remarks == "" || Remarks == null)
            {
                alert("Please Enter Remarks.");
                $("#RejectedRemarks").focus();
                return false;
            }
        }
        if(id == 1)
            Remarks = "";
         $.get('@Url.Action("VerifyEDistrictBeneDetlsConst", "Report")', { id: refid, Remarks: Remarks, Status: id}, function (res) {
            alert(res.Message);
			 window.location.href = " /Report/EDistrictBeneDetlsApplicationsConst";

        });
    }
</script>

