
@{
    ViewBag.Title = "EditBankApplications";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}

<link href="~/Content/ssy_css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ssy_css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="~/Scripts/jquery.js"></script>
<script src="~/Content/ssy_js/jquery.dataTables.min.js"></script>
<script src="~/Content/ssy_js/dataTables.bootstrap.min.js"></script>

<style>


  
   
</style>
<script>
    var deptuserid = @Html.Raw(Json.Encode(ViewBag.deptuserid))
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <center><h3 class="product-description">Change Requests Details</h3></center>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label">From Date</span>
                            @Html.TextBox("fromdate", "", null, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label">To Date</span>
                            @Html.TextBox("todate", "", null, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label">Status</span>
                            @Html.DropDownList("Status", new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="All", Value = "0,1,2" },
                                             new SelectListItem{ Text="Pending", Value = "0" },
                                              new SelectListItem{ Text="Approved", Value = "1" },
                                               new SelectListItem{ Text="Rejected", Value = "2" }
                                        }, new { @class = "form-control  Dropdwn" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary" onclick="GetReport()">Submit</a>
                </div>
            </div>
            <br />
            <div>
                <table class="table table-striped table-bordered Apllications" cellspacing="0" width="100%">
                    <thead style="background-color:#87CEEB">
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>SSIN</th>
                            <th>Created Date</th>
                            <th>Status</th>
                            <th class="th_hide">Remarks</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DivBenDet" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <center>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body" style="height: 300px;overflow-y: auto;">
                       
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="2">New Bank Details</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>District</td>
                                        <td><label id="lblNewDistrict"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Bank Name </td>
                                        <td><label id="lblNewBank"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td><label id="lblNewActNumber"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td><label id="lblNewLocation"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Branch Name</td>
                                        <td><label id="lblNewBranchName"></label></td>


                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td><label id="lblNewBranchAddress"></label></td>


                                    </tr>
                                    <tr>
                                        <td>IFSC Code</td>
                                        <td><label id="lblNewIFSCCode"></label></td>

                                    </tr>


                                </tbody>
                            </table>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a >
                                            <span class="glyphicon glyphicon-file">
                                            </span>Bank Passbook
                                        </a>
                                    </h4>
                                </div>
                               
                                    <iframe src="" frameborder="0" id="Newlblbnkpassbk" style="width: 100%; height: 300px;"></iframe>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="2">Old Bank Details</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>District</td>

                                        <td><label id="lblOldDistrict"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Bank Name </td>
                                        <td><label id="lblOldBank"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td><label id="lblOldActNumber"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td><label id="lblOldLocation"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Branch Name</td>
                                        <td><label id="lblOldBranchName"></label></td>

                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td><label id="lblOldBranchAddress"></label></td>


                                    </tr>
                                    <tr>
                                        <td>IFSC Code</td>
                                        <td><label id="lblOldIFSCCode"></label></td>

                                    </tr>
                                </tbody>
                            </table>


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a>
                                            <span class="glyphicon glyphicon-file">
                                            </span>Bank Passbook
                                        </a>
                                    </h4>
                                </div>

                                <iframe src="" frameborder="0" id="Oldlblbnkpassbk" style="width: 100%; height: 300px;"></iframe>
                            
                            </div>


                        </div>
                           
                      
                    </div>

               
                    <div class="modal-footer">
                        <div style="display:none;margin-right:66px;margin-bottom:-34px;" id="divStstus">
                            <a id="AgentApp" class="btn btn-success" onclick="SubmitStatus('1')">Approved</a>
                            <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#divEditDetRej">Rejected</a>

                        </div>
                        <div id="divlbl" style="display:none;">
                            <label id="lblrefid"></label>

                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </center>
        </div>
    </div>


    

         <!-- Modal -->
    <div class="modal fade" id="divEditDetRej" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content" style="width:580px;margin-left:-580px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Remarks</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group extra-space">
                                    <textarea name="test_field" id="RejectedRemarks" style="width: 544px;height: 104px;"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" onclick="SubmitStatus('2')">Submit</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {
            $('.Apllications').DataTable({
        });

        getdates();
        GetReport()
        });

    function GetReport() {
        var fromdate = $('#fromdate').val();
        var todate = $('#todate').val();
        var Staus = $("#Status").val();



        $.get('@Url.Action("GetBankEditAppliation", "Report")', { userId: deptuserid, fromDate: $('#fromdate').val(), toDate: $('#todate').val(), Status: $("#Status").val() }, function (result) {
             
            var table = $('.Apllications').DataTable();
            table.destroy();
            $('.Apllications tbody').empty();
            $.each(result, function (i, data) {
                var num = i + 1;
                  
                $('.Apllications').append('<tr><td>' + data.Sno + '</td><td><a href="#" data-toggle="modal"  onClick = "GetBenDet('+ data.Id +');" id=' + data.Name + '>' + data.Name + '</a></td><td>' + data.SSIN+'</td><td>' + data.ReqDate + '</td><td>' + data.Status + '</td><td>'+data.Remarks+'</td></tr>')
            });
            $('.Apllications').DataTable({
            });
           
        });
    }

    function getdates() {
        $("#fromdate,#todate").datepicker({
            dateFormat: "dd-mm-yy",
            changeYear: true,
            yearRange: "1960:2020",
            autoclose: true,
            maxDate: new Date()
        })
        var dat = new Date();
        var month = (dat.getMonth() + 1) < 10 ? '0' + (dat.getMonth() + 1) : '' + (dat.getMonth() + 1);
        var day = (dat.getDate()) < 10 ? '0' + (dat.getDate()) : '' + (dat.getDate());
        var today = day + "-" + month + "-" + dat.getFullYear();

        $("#fromdate,#todate").val(today);
    }

    function GetBenDet(Id) {
       
    $.get('@Url.Action("GetBankEditAppliationById", "Report")', { id: Id}, function (result) {
             

            if (result.Status == "Pending") {
                $("#divStstus").show();
            }
            else {

                $("#divStstus").hide();

        }
        //New Details
        $("#lblNewDistrict").text(result.DistrictName);
        $("#lblNewBank").text(result.BankName);
        $("#lblNewActNumber").text(result.BenBankAccNo);
        $("#lblNewLocation").text(result.BankCenter);
        $("#lblNewBranchName").text(result.BankBranchName);
        $("#lblNewIFSCCode").text(result.BenBankIfscCode);
        $("#lblNewBranchAddress").text(result.BankAddress);
        $("#Newlblbnkpassbk").attr('src', result.NewPassBook);


        //Old Details
        $("#lblOldDistrict").text(result.OldDistrictName);
        $("#lblOldBank").text(result.OldBankName);
        $("#lblOldActNumber").text(result.oldBenBankAccNo);
        $("#lblOldLocation").text(result.OldBankCenter);
        $("#lblOldBranchName").text(result.OldBankBranchName);
        $("#lblOldIFSCCode").text(result.oldBenBankIfscCode);
        $("#lblOldBranchAddress").text(result.OldBankAddress);

        $("#Oldlblbnkpassbk").attr('src', result.BenPassBook);

        

        $("#DivBenDet").modal('show');

            $("#lblrefid").text(Id);
           
        });


    }


     function SubmitStatus(id)
    {
      
        var refid = $("#lblrefid").text();
        var Remarks =  $("#RejectedRemarks").val();
        if(id == 2)
        {
            if(Remarks == "" || Remarks == null)
            {
                alert("Please Enter Remarks.");
                $("#RejectedRemarks").focus();
                return false;
            }
        }
        if(id == 1)
            Remarks = "";
         $.get('@Url.Action("VerifyBankDetails", "Report")', { id: refid, Remarks: Remarks, Status: id}, function (res) {
            alert(res.Message);
             //window.location.href = " /Report/EditBankApplications";
			 $("#divStstus").hide();
			 $("#divEditDetRej").modal('hide');
			 $("#DivBenDet").modal('hide');
			 GetReport()


        });
    }
</script>