@model SSY.Models.Reports
@{
    ViewBag.Title = "RLOWiseLegacy12Data";
    Layout = "~/Views/Shared/_LocDashoardLayout.cshtml";
}

<link href="~/Content/ssy_css/bootstrap-multiselect.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="~/Content/ssy_css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ssy_css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/my_css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Content/ssy_js/jquery.dataTables.min.js"></script>
<script src="~/Content/ssy_js/dataTables.bootstrap.min.js"></script>


<script src="~/Content/ssy_js/dataTables.buttons.min.js"></script>
<script src="~/Content/ssy_js/buttons.flash.min.js"></script>
<script src="~/Content/ssy_js/jszip.min.js"></script>
<script src="~/Content/ssy_js/pdfmake.min.js"></script>
<script src="~/Content/ssy_js/vfs_fonts.js"></script>
<script src="~/Content/ssy_js/buttons.html5.min.js"></script>
<script src="~/Content/ssy_js/buttons.print.min.js"></script>

<script src="~/Content/ssy_js/bootstrap-multiselect.js"></script>


<script>
    var UserTypeid = @Html.Raw(Json.Encode(ViewBag.usertype));
    var Deptid = @Html.Raw(Json.Encode(ViewBag.deptid));
    var sendloactions = "";
    var RepSubDVision ="";
    var RepLocation ="";
    var SendSubDiv ="";
    var ReportDistrics = "";
    var chekval = 0;

</script>
<style>
    th {
        font-size: 13px;
    }

    td {
        font-size: 13px;
    }



    .dataTables_filter {
        margin-left: 280px !important;
    }

    .dataTables_length, .dataTables_filter {
        display: none !important;
    }

    .dropdown-toggle, .dropdown-menu {
        width: 200px !important;
    }

    .dropdown-menu {
        position: absolute;
        z-index: 9;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #fromdate, #todate {
        z-index: 9999;
    }
</style>

<style>
    /*th {
        font-size: 13px;
    }
    td {
        font-size: 13px;
    }*/
    .dt-buttons a {
        background: #094c86 !important;
        color: white !important;
    }
</style>
<div class="container-fliud" style="padding-left:25px;">
    <marquee scrollamount="7"><font color="green" size="3"><b>Report can be viewed for a date range of one month,if date range is more than one month please click on download.</b></font></marquee>

    <div class="">
        <div class="card" style="margin-top:-30px;">
            <center><h3 class="product-description">Registration Report</h3></center>

            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label" style="width:125px;">District</span>
                            @Html.DropDownListFor(m => m.disid, new SelectList(Model.district, "Value", "Text"), new { @class = "form-control District", @tabindex = "8" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3" id="divsub" style="margin-left:-20px;">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label">Sub Division</span>
                            @Html.DropDownListFor(m => m.subdivid, new SelectList(Model.subdivision, "Value", "Text"), new { @class = "form-control dropdown-menu", @tabindex = "7" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label">From Date</span>
                            @Html.TextBox("fromdate", "", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label" style="width:106px;">To Date</span>
                            @Html.TextBox("todate", "", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3" id="divloc" style="display:none;">
                    <div class="form-group">
                        <div class="input-group extra-space">
                            <span class="input-group-addon input-label">Location</span>
                            @Html.DropDownListFor(m => m.muncorp, new SelectList(Model.muncorpname, "Value", "Text"), new { @class = "form-control Location dropdown-menu", id = "Location", @tabindex = "8" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary" onclick="GetReportByClick()">Submit</a>
                    <a class="btn btn-primary" style="margin-left: 10px;" onclick="GetDwnld()">Download</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">

                <div id="tbldistrict" style="height:350px;">
                    @*   <input type="button" class="btn btn-primary pull-right" onclick="DistrictWise();" name="btnBack" value="Back" />*@

                    <iframe name="ifr" id="ifr" style="width: 103%;height:100%; position: relative; border: none; margin-bottom:5%;margin-left:22px;margin-right:150px;padding-right:50px; max-height: 400px;overflow-y:auto; border-radius: 0px; "></iframe>



                </div>


            </div>
        </div>
       

    </div>

</div>

<script>
    //Get Report
    $(document).ready(function () {
        getdates();

        $('.TblRLOLegacyData').DataTable({

        });
		if (UserTypeid == "1" || UserTypeid == "21" || UserTypeid == "22" || UserTypeid == "23" || UserTypeid == "24") {
            $("#disid").removeAttr("multiple");

            $("#disid").attr("multiple", "multiple");

            $('#disid').multiselect({
                columns: 3,
                placeholder: 'Select Languages',
                search: true,
                includeSelectAllOption: true
            })

            $("#disid").multiselect('rebuild');

            $('option', $('#disid')).each(function (element) {
                $(this).removeAttr('selected').prop('selected', false);
            });
            $("#disid").multiselect('refresh');

            $("#disid").val("-1");
            $("#subdivid").val("-1");
            $("#Location").val("-1");
        }

        if (UserTypeid == "5") {
             
            $("#disid").attr("disabled", true);
            $("#subdivid").attr("disabled", true);
            $.get('@Url.Action("GetMultipleLoca", "Registration")', { Uid: Deptid }, function (dat) {
                $("#Location").find("option").remove();

                $.each(dat, function (i, data) {
                     
                    $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");

                });
                $("#Location").attr("multiple", "multiple");
                $('#Location').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#Location").multiselect('rebuild');

                $('option', $('#Location')).each(function (element) {
                    $(this).removeAttr('selected').prop('selected', false);
                });
                $("#Location").multiselect('refresh');
            });
        }
        if (UserTypeid == "6") {
            $("#disid").attr("disabled", true);
            $.get('@Url.Action("GetMultipleSubDiv", "Registration")', { Uid: Deptid }, function (dat) {
                $("#subdivid").find("option").remove();
                //$("#subdivid").append("<option value=-1> " + " -- Select Subdivision --" + " </option>");
                // $("#subdivid").append("<option value=0> " + "ALL" + " </option>");
                RepSubDVision = "";
                $.each(dat, function (i, data) {
                     
                    $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");

                    RepSubDVision += data.Value + ",";
                });

                $("#subdivid").removeAttr("multiple");

                $("#subdivid").attr("multiple", "multiple");
                $('#subdivid').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#subdivid").multiselect('rebuild');

                $('option', $('#subdivid')).each(function (element) {
                    $(this).removeAttr('selected').prop('selected', false);
                });
                $("#subdivid").multiselect('refresh');
            });
        }
        if (UserTypeid == "7" || UserTypeid == "3" || UserTypeid == "4") {
            $.get('@Url.Action("GetMultipleDistricts", "Registration")', { Uid: Deptid }, function (dat) {
                 
                var disticts = "";
                $("#disid").find("option").remove();
                //$("#disid").append("<option value=" + -1 + "> " + " -- Select District --" + " </option>");

                ReportDistrics = "";
                $.each(dat, function (i, data) {
                    $("#disid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                    ReportDistrics += data.Value + ",";
                });

                $("#disid").attr("multiple", "multiple");
                $('#disid').multiselect({
                    columns: 3,
                    placeholder: 'Select Languages',
                    search: true,
                    includeSelectAllOption: true
                })
                $("#disid").multiselect('rebuild');

                $('option', $('#disid')).each(function (element) {
                    $(this).removeAttr('selected').prop('selected', false);
                });
                $("#disid").multiselect('refresh');
            });
        }



        $("#disid").change(loadSubdiv);
        $("#subdivid").change(loadBlock);
    });

    function loadSubdiv() {

        var Districtselected = $("#disid option:selected");
        var Districtmessage = "0";
        Districtselected.each(function () {
             
            var res = $(this).val();

            Districtmessage += "," + $(this).val();
        });

        $.get('@Url.Action("GetDidsSubdivisionJSON", "Report")', { IDs: Districtmessage }, function (dat) {
            $("#subdivid").find("option").remove();
            $.each(dat, function (i, data) {
                 
                $("#subdivid").append("<option value=" + data.Value + "> " + data.Text + " </option>");
            });

            $("#subdivid").removeAttr("multiple");

            $("#subdivid").attr("multiple", "multiple");
            $('#subdivid').multiselect({
                columns: 3,
                placeholder: 'Select Languages',
                search: true,
                includeSelectAllOption: true
            })
            $("#subdivid").multiselect('rebuild');

            $('option', $('#subdivid')).each(function (element) {
                $(this).removeAttr('selected').prop('selected', false);
            });
            $("#subdivid").multiselect('refresh');

        });
    }


    function loadBlock() {


        var SubDistrictselected = $("#subdivid option:selected");
        var SubDistrictmessage = "0";
        SubDistrictselected.each(function () {
             
            var res = $(this).val();

            SubDistrictmessage += "," + $(this).val();

        });

        $.get('@Url.Action("GetblockforSubRepIdsJSON", "Report")', { IDs: SubDistrictmessage }, function (dat) {
             
            $("#Location").find("option").remove();

            sendloactions = "";
            $.each(dat, function (i, data) {
                 
                if (data.Value != "0")
                    $("#Location").append("<option value=" + data.Value + "> " + data.Text + " </option>");
                sendloactions += data.Value + ",";
            });
            $("#Location").attr("multiple", "multiple");
            $('#Location').multiselect({
                columns: 3,
                placeholder: 'Select Languages',
                search: true,
                includeSelectAllOption: true
            })
            $("#Location").multiselect('rebuild');

            $('option', $('#Location')).each(function (element) {
                $(this).removeAttr('selected').prop('selected', false);
            });
            $("#Location").multiselect('refresh');
        });

    }


    function GetReportByClick() {


        var arr1 = $('#fromdate').val().split('-');
        var arr2 = $('#todate').val().split('-');
        var startDate = new Date(arr1[1] +"-"+arr1[0] + "-"+arr1[2]);
        var endDate = new Date(arr2[1] +"-"+arr2[0] + "-"+arr2[2]);

        // alert(endDate - startDate);

        var diffDate = (endDate - startDate)/1000/60/60/24;

        //alert(diffDate);

        if (diffDate > 31 || diffDate < 0){

            alert("Report can be viewed for a date range of one Month");

            return false;

        }

        if ($("#disid").val() == "" || $("#disid").val() == null || $("#disid").val() == "0") {
            alert("Please Select District");
            $("#disid").focus();
            return false;
        }


        if ($("#subdivid").val() == "" || $("#subdivid").val() == null || $("#subdivid").val() == "-1") {
            alert("Please Select Subdivision");
            $("#subdivid").focus();
            return false;
        }


        $("#divTable").hide();
        $("#Activeloaderdiv").show();

        var SubdivSelected = $("#subdivid option:selected");
        var Subdivmessage = "0";
        SubdivSelected.each(function () {
             
            var res = $(this).val();

            Subdivmessage += "," + $(this).val();

        });




        GetReport(Subdivmessage)

    }

    function GetReport(Subdivmessage) {
		
        var url = "/SSYIDCard/RegistrationReport.aspx?subdivisions=" + Subdivmessage + "&fromdate=" + $('#fromdate').val() + "&todate=" + $('#todate').val();
        $('iframe#ifr').attr('src', url);

        // alert(Subdivmessage);

        @*$.get('@Url.Action("RLOWiseLegacy1and2Count", "Report")', { fromDate: $("#fromdate").val(), todate: $("#todate").val(),Subdivision : Subdivmessage }, function (result) {
            // 


            if (result == "0")
            {
                alert("No data found");
                $("#Activeloaderdiv").hide();
                $("#divTable").show();
                return false;
            }

            var table = $('.TblRLOLegacyData').DataTable();
            table.destroy();

            $('.TblRLOLegacyData tbody').empty();
            var Legacy1 = 0;
            var Legacy2 = 0;
            var NewReg = 0;
            var Caf = 0;

            if (Object.keys(result).length > 0) {

                $.each(result, function (i, data) {

                    Legacy1 = Legacy1 + data.Legacy1;
                    Legacy2 = Legacy2 + data.Legacy2;
                    NewReg = NewReg + data.NewReg;
                    Caf = Caf + data.Caf;

                    $('.TblRLOLegacyData').append('<tr><td class="thtext">' + data.DistrictName + '</td><td class="thtext">' + data.SubDivisionName + '</td><td class="thnum">' + data.Legacy1 + '</td><td class="thnum">' + data.Legacy2 + '</td><td class="thnum">' + data.NewReg + '</td><td class="thnum">' + data.Caf + '</td></tr>')

                });


                $('.TblRLOLegacyData').append('<tr style="background-color:#ffe6e6"><td></td><td class="thtext">TOTAL</td><td class="thnum">' + Legacy1 + '</td><td class="thnum">' + Legacy2 + '</td><td class="thnum">' + NewReg + '</td><td class="thnum">' + Caf + '</td></tr>')

                $('.TblRLOLegacyData').DataTable({

                    dom: 'Bfrtip',

                    "ordering": false,

                    buttons: [
                        {
                            extend: 'excel',

                            text: 'Download Excel'
                        }
                    ]
                });
                $("#Activeloaderdiv").hide();
                $("#divTable").show();

            }
            else {
                $('.TblRLOLegacyData').DataTable();
                $("#Activeloaderdiv").hide();
                $("#divTable").show();
            }


            $(".loader").hide();*@


       // });

        // $('th').css("background", "#87CEEB");
        //  $('th').css("color", "#ffffff");

        // $(".loader").show();
    }

    $('#btnPaging').click(function () {
        var val = $('#txtPaging').val();
        if (val != "" && val != 0) {

            val = val - 1;
            var table = $('.TblAbstract').DataTable();
            table.page(parseInt(val)).draw('page');
        }
        else {
            alert('Requested page number not valid');
            $('#txtPaging').focus();
        }
    });

    function getdates() {
        $("#fromdate,#todate").datepicker({
            dateFormat: "dd-mm-yy",
            changeYear: true,
            yearRange: "1960:2020",
            autoclose: true,
            maxDate: new Date()
        })
        var dat = new Date();
        var month = (dat.getMonth() + 1) < 10 ? '0' + (dat.getMonth() + 1) : '' + (dat.getMonth() + 1);
        var day = (dat.getDate()) < 10 ? '0' + (dat.getDate()) : '' + (dat.getDate());
        var today = day + "-" + month + "-" + dat.getFullYear();

        $("#fromdate,#todate").val(today);
    }

    $('#btnPaging').click(function () {

        var val = $('#txtPaging').val();
        if (val != "" && val != 0) {

            val = val - 1;
            var table = $('.TblRLOLegacyData').DataTable();
            table.page(parseInt(val)).draw('page');
        }
        else {
            alert('Requested page number not valid');
            $('#txtPaging').focus();
        }
    });

    function GetDwnld() {

        

        if ($("#disid").val() == "" || $("#disid").val() == null || $("#disid").val() == "0") {
            alert("Please Select District");
            $("#disid").focus();
            return false;
        }


        if ($("#subdivid").val() == "" || $("#subdivid").val() == null || $("#subdivid").val() == "-1") {
            alert("Please Select Subdivision");
            $("#subdivid").focus();
            return false;
        }


        $("#divTable").hide();
      //  $("#Activeloaderdiv").show();

        var SubdivSelectedOff = $("#subdivid option:selected");
        var SubdivmessageOff = "0";
        SubdivSelectedOff.each(function () {
             
            var res = $(this).val();

            SubdivmessageOff += "," + $(this).val();

        });

        $.get('@Url.Action("DownloadDetailReport", "Report")', {SelectUserid:"", Districtid:"", Subdivid: SubdivmessageOff, Locid: "", Fromdate: $("#fromdate").val(), Todate: $("#todate").val(),schemeid:"",SchemeStatus :"",UserCategryid :"",selectusertype:"", userid:"",ReportName : "Registration Report",Value : ""}, function (result) {

            alert(result);
        })


    }
</script>
